html,body{
	font-family:"Microsoft YaHei";
	background: #f2f2f2;
	color: #474747;
}
.wrap .com_cont{
	width:1200px;
	height: auto;
	margin:10px auto;
	overflow: hidden;
}
.wrap .com_cont .com_cont_left{
	width: 233px;
	height: 700px;  
	margin:0 25px 0 0;
	background: #fff;
	float: left; 
}
.wrap .com_cont .com_cont_left h2{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding-left: 10px;
	background:#fff;
	border-bottom: 1px #27bb8b dashed;
	position: relative;
}
.list{
	height:659px;
	overflow-x:hidden;
	overflow-y:auto;
	
}
.wrap .com_cont .com_cont_left h3 img{
	margin-left: 10px;
}
.com_cont_left_b{
	display:inline-block;
	float:left;
	width:16px;
	height:16px;
	margin-top:12px;
	background:url('../../../common/images/common_bg.png');
	background-position:-180px -527px; 
}
.wrap .com_cont .com_cont_left h2 span{
	display:block;
	float:left;
	padding-left:10px;
}
.wrap .com_cont .com_cont_left h3{
	height: 32px;
	width: 223px;
	line-height: 32px;
	font-size: 14px;
	padding-left: 10px;
	cursor: pointer;
}
.list ul{}
.list ul li a{
	 height: 30px;
	 line-height: 30px;
	 cursor: pointer;
	 padding: 5px 10px 5px 5px;
	 font-size:14px;
}
.list ul li a:hover{
	 background: #27bb8b; 
	 height: 30px;
	 line-height: 30px;
	 color: #fff;
}
.header{
	position: relative;
}
.headers{
	background:#27bb8b;
	color:#fff;
}
ul.expmenu li div.header .arrow.up{ 
	position: absolute;
    left: 110px;
    top: 14px; 
	width: 12px;
	height: 7px; 
	background:url('../../../common/images/common_bg.png');
	background-position:-156px -38px; 
	padding-left:0;
}
ul.expmenu li div.header .arrow.down{
   background:url('../../../common/images/common_bg.png');
	background-position:-185px -36px;
	width:7px;
	height:12px;
	position: absolute;
    left: 110px;
    top: 10px;
    padding-left:0;
}
ul.expmenu{
	width:233px;
}
ul.expmenu li{
	border-bottom: 1px #27bb8b dashed;
}
.header span{
	height: 32px;
	width: 223px;
	line-height: 32px;
	font-size: 14px;
	padding-left: 10px;
	cursor: pointer;
}
ul.menu li{
	border-bottom:none;
	margin-top:5px;
}
ul.menu li a{
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	padding: 5px 10px 5px 5px;
	font-size:14px;
	margin-left:31px;
	
}
ul.menu li a:hover{
	background: #27bb8b; 
	height: 30px;
	line-height: 30px;
	color: #fff;
}
ul.menu1 li a{
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	padding: 5px 10px 5px 5px;
	font-size:14px;
	margin-left:58px;
	
}
ul.menu1 li a:hover{
	background: #27bb8b;  
	height: 30px;
	line-height: 30px;
	color: #fff;
}
.menu1_act{
	background: #27bb8b; 
	height: 30px;
	line-height: 30px;
	color: #fff;
}
.menu_act{
	background: #27bb8b;  
	height: 30px;
	line-height: 30px;
	color: #fff;
}
.com_cont .com_cont_right{
	width: 942px;
	height: auto;
	min-height:700px;
	float: left;  
	background: #fff;
}
.com_cont_right_cont h3{
	width:922px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding-left: 10px;
	background:#fff;
	border-bottom: 1px #27bb8b solid;
	margin-bottom:15px;
}
.com_cont_right_cont{
	width:932px;
	height:auto; 
	background:#fff;
}
.com_cont_right_cont p{
	text-indent: 24px;
	font-size:13px;
	line-height:28px;
	color:#434f55;
	margin:0 10px 0 20px;
}
.com_cont_right_cont p img{
	display: -webkit-inline-box;
}
.com_cont_right_cont img{ 
	display:block;
	margin:0 auto;
}
.img_z{
	width:700px;
	text-align:center;
	line-height:42px;
	font-size:14px;
	margin:10px 0;
}
.com_cont_right_cont p span{
	font-size: 30px;
    display: inline-block;
    float: left;
    margin: -2px 0px 0 -3px;
}
.com_cont_right_cont p strong{
	display: inline-block;
    float: left;
    margin-left: 8px;
    margin-top: 0px;
    text-indent: 0px;
    width: 624px;
}
/* system_update */
.system_update_wrap{
	width:1000px;
	height:auto;
	min-height:300px;
	margin:0 auto 80px auto;
	background:#fff;
	padding-bottom:40px;
}
.system_update_wrap_h3{
	width:985px;
	font-size:16px;
	height:55px;
	line-height:65px;
	padding-left:15px;
} 
.system_update_wrap_ul li{
	width:980px;
	font-size:14px;
	height:27px;
	line-height:27px;
	padding-left:20px;
}
.system_update_wrap_h4{
	width:980px;
	font-size:16px;
	height:34px;
	line-height:34px;
	padding-left:20px;
}
.system_update_wrap_h6{
	width:960px;
	font-size:16px;
	height:44px;
	line-height:50px;
	padding-left:40px;
	font-weight:bold;
}
.system_update_wrap_h4 span{
	display:inline-block;
	font-size:50px;
	height:34px;
	line-height:28px;
	float:left;
	margin-right:5px;
}
.system_update_wrap_h5{
	width:960px;
	font-size:16px;
	height:34px;
	line-height:34px;
	padding-left:40px;
}
.system_update_wrap_p{
	width:960px;
	font-size:14px; 
	line-height:34px;
	padding-left:40px;
}
.system_update_wrap img{
	margin:0 auto;
	display:block;
	border:1px #eee solid;
}
.system_update_wrap_p_title{
	text-align:center;
	height:40px;
	line-height:30px;
	font-size:14px;
}
.system_update_wrap_p img {
    display: -webkit-inline-box;
}