body,html{
	background: #f2f2f2;
	font-family: "Microsoft Yahei";
}
.plainSummary_cont{
	width:1200px;
	height:auto;
	margin:0 auto;
	background: #fff;
}
.plainSummary_cont1{
	width: 1130px;
	height:auto;
	margin:0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.plainSummary_cont_wrap{
	width: 1130px;
	height:auto;     
	margin-bottom: 30px;
}
.plainSummary_wrap_h3{
	width: 1130px;
	height:30px; 
}
.plainSummary_wrap_h3 span{
	display: inline-block;
	width: 14px;
	height:13px;
	float: left;
	background: url('../images/bg.png');
	background-position: -26px 0;
	margin-top: 9px;
}
.plainSummary_wrap_h3 strong{
	display: inline-block;
	float: left;
	font-size: 16px;
	color: #4a4a4a;
	height: 30px;
	line-height: 30px;
	margin-left: 4px;
}
.composeBtn{
	display: inline-block;
	float: right;
	width:82px;
	height: 28px;
	background: url('../images/bg.png');
	background-position: 0 -82px;
	border:none;
}
.Pre_cont_right_1{
	width: 1130px;  
	height:auto;
}
.Pre_cont_right_1_dl{
	width: 140px;
	height: 150px;
	position: relative;
	float: left;
	margin: 0 0 0 1px;
}
.Pre_cont_right_1_dl dl{
	width: 140px;
	height: 145px;
	padding-top:5px;
	cursor: pointer; 
} 
.Pre_cont_right_1_dl:hover dl{ 
	display: block;
	-moz-box-shadow: 0px 3px 11px #a9a9a9;/* for firefox */
	-webkit-box-shadow: 0px 3px 11px #a9a9a9;/* for safari or chrome */
	box-shadow:0px 3px 11px #a9a9a9;/* for opera or ie9 */
} 
.Pre_cont_right_1_dl dl dd{
	width:140px;
	height:60px;
}
.Pre_cont_right_1_dl dl dd img{
	width:60px;
	height:60px;
	display:block;
	margin:0 auto;
}
.Pre_cont_right_1_dl dl dt{
	width: 140px;
	height:32px;
	line-height:16px;
	font-size:12px;
	text-align:center;
}
.Pre_cont_right_1_dl dl dt span{
	width: 140px;
	line-height:33px;
	display:inline-block;
	height:30px;
	word-wrap:break-word;
	overflow:hidden;
	font-size:14px;
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.Pre_cont_right_1_dl dl dt strong{
	width: 140px;
	line-height:15px;
	font-size:14px;
	display:inline-block;
	height:15px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	color: #898989;
}
.Pre_cont_right_1_dl:hover .show_p{
	display: block;
}
.Pre_cont_right_1_dl .show_p{
	width:140px;
	height: 32px; 
	display: none;
	position: absolute;
    bottom: 0;
}
.Pre_cont_right_1_dl .show_p ol{
}
.Pre_cont_right_1_dl .show_p ol li{
	float: left; 
	margin-left: 7px; 
	cursor: pointer;
} 

.Pre_cont_right_1_dl .show_div{
	width: 52px;
	height: 47px; 
	cursor: pointer;
	position: absolute;
	top:0;
	right: 0; 
	display: none;
}  
.li_submit{
	width: 14px;
	height: 18px;
	background: url('../images/bg.png');
	background-position: -76px -14px; 
	margin-top: 6px;
}
.li_edit{
	width: 16px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -1px -16px; 
	margin-top: 7px;
}
.li_no_edit{
	width: 16px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -1px -36px; 
	margin-top: 7px;
}
.li_del{
	width: 13px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -22px -16px; 
	margin-top: 7px;
}
.li_no_del{
	width: 13px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -22px -36px; 
	margin-top: 7px;
}  
.li_share{
	width: 12px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -39px -16px; 
	margin-top: 7px;
}
.li_punish{
	width: 16px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -95px -15px; 
	margin-top: 7px;
}
.li_not_cancle_submit{
	width: 14px;
	height: 18px;
	background: url('../images/bg.png');
	background-position: -76px -35px; 
	margin-top: 6px;
}
.li_not_cancle_edit{
	width: 16px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -1px -36px; 
	margin-top: 7px;
}
.li_no_cancle_del{
	width: 13px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -22px -36px; 
	margin-top: 7px;
} 
.li_no_cancle_share{
	width: 12px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -39px -36px; 
	margin-top: 7px;
}
.li_no_cancle_punish{
	width: 16px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -95px -35px; 
	margin-top: 7px;
}
.li_cancle_submit{
	width: 14px;
	height: 18px;
	background: url('../images/bg.png');
	background-position: -76px -55px; 
	margin-top: 6px;
}
.li_cancle_share{
	width: 12px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -39px -56px; 
	margin-top: 7px;
}
.li_cancle_punish{
	width: 16px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -95px -55px; 
	margin-top: 7px;
}
.menu_li_check{
	width: 18px;
	height: 17px;
	background: url('../images/bg.png');
	background-position: -117px -15px; 
	margin-top: 7px;	
}
.menu_li_review{
	width: 18px;
	height: 17px;
	background: url('../images/bg.png');
	background-position: -137px -15px; 
	margin-top: 7px;	
}
.saveEdit{
	background:#fe7e37;
	width:76px;
	height:26px;
	margin-right:10px;
	margin-top:35px;
	border:none;	
	font-family: "Microsoft Yahei";
	color:#fff;
	display:inline-block;
	
}
#saveBtnDiv{
	text-align: center;
}
#cancelSave{
	width:76px;
	height:26px;
	border:none;
	margin-top:35px;
	background:RGB(58,180,240);
	display:block; 
	color:#fff;
	font-size:14px;
	display:inline-block;
	font-family: "Microsoft Yahei";
}
.savePs{
	width:76px;
	height:26px;
	border:none;
	margin-top:35px;
	background:#fe7e37;
	display:block;
	margin:0 auto;
	color:#fff;
	font-size:14px;
	font-family: "Microsoft Yahei";
}
#punsihSubmit{
	width:76px;
	height:26px;
	border:none;
	margin-top:15px;
	background:#fe7e37;
	display:inline-block;
	color:#fff;
	font-size:14px;
	margin-right:10px;
	font-family: "Microsoft Yahei";
}
#cancelPunish{
	width:76px;
	height:26px;
	border:none;
	margin-top:15px;
	background:RGB(58,180,240); 
	display:inline-block;
	color:#fff;
	font-size:14px;
	font-family: "Microsoft Yahei";
}
.PreCont{
	width: 1130px; 
    height:auto;
    margin-top:40px;
}
.PreCont_left{
	width:119px;
	height:118px;
	float:left;
	background:url(../../../common/images/common_bg.png); 
	background-position: -183px -551px;
}
.PreCont_left span{
	display: block;
    width: 119px;
    height: 118px;
    line-height: 175px;
    text-align: center;
    font-size: 14px;
}
.PreCont_right{
	width:990px;
	min-height:151px;
	height:auto;
	float:right;
	border-bottom: 1px #d3d3d3 dashed;
}