<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 密码服务使用的加密方式，支持多种不同加密方式登录时使用 
	   encodeServiceIndex 属性指定加密时使用的服务在列表中的索引位置
	-->
	<bean id="passwordService" class="com.tmser.tr.uc.service.impl.CompositePasswordService">
		<property name="passwordServices">
			<list>
				<bean class="com.tmser.tr.uc.service.impl.NoSaltPasswordServiceImpl"></bean>
				<bean class="com.tmser.tr.uc.service.impl.PasswordServiceImpl"></bean>
			</list>
		</property>
		<property name="encodeServiceIndex" value="0" />
	</bean>
	
	<!-- 开启账号信息更新AOP监听 只对当前配置文件有效 -->
    <aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>
    
	<bean id="userInfoAdvisor" class="com.tmser.tr.webservice.user.aop.UserInfoSyncAdvisor"></bean>  
    <aop:config expose-proxy="true" > 
	 <aop:pointcut  id="userInfoPointcut"  expression="within( com.tmser.tr.common.service.BaseService+) and execution(* update(..)) and target(com.tmser.tr.uc.service.impl.LoginServiceImpl) "/>  
	 <aop:aspect ref="userInfoAdvisor"> 
	 	<aop:before  pointcut-ref="userInfoPointcut"  method="beforeSyncUserInfo" />
	  	<aop:after-returning  pointcut-ref="userInfoPointcut"  method="syncUserInfo" />
	 </aop:aspect>
	</aop:config> 
</beans>