html,body{
	font-family: "Î¢ÈíÑÅºÚ"; 
	color: #474747;
}
/* Ê×Ò³¿ªÊ¼ */ 
.wrap_top{
	height: 71px;
}
.wrap_top .logo{
	width: 134px;
	height: 50px;
	background: url('../images/logo.png') no-repeat;
	float: left;
	margin-left: 21px;
	margin-top: 13px;

}
.wrap_top .logo_1{
	float: left;
	height: 30px;
	width: 299px;
	margin-top:29px;
	margin-left: 6px;
	background: url('../images/logo_1.png') no-repeat;
}
.nav{
	width: 970px;
	height: 35px;
	background: #ff8400;
	margin:0 auto;
	position: relative;
}
.nav ul{
	width:480px;
	margin-left: 510px;
}
.nav ul li{
	float: left;
	color:#fff;
	font-size: 16px;
	line-height: 35px;
	margin-right:10px; 
	height: 35px;
}
.nav ul li img{
	margin-top: 4px;
}
.nav ul li span{
	height: 35px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}
.nav ul li span:hover{
	background: #f7f7f7;
	color:#000;
}
.nav ul li span strong{
	margin-left: 5px;
	border-style:solid;
	border-width:6px;
	border-color:#fff #ff8400 #ff8400 #ff8400;
	height:0;
	width:0;
	font-size:0
}
.nav ul li span:hover strong{
	margin-left: 5px;
	border-style:solid;
	border-width:6px;
	border-color:#000 #f7f7f7 #f7f7f7 #f7f7f7;
	height:0;
	width:0;
	font-size:0;
} 
.nav ol{
	width:172px;
	right:175px;
	top:35px;
	position: absolute;
	border:1px #e5e5e5 solid;
	display: none;
}
.nav ol li{
	width:172px;
	font-size: 16px;
	line-height: 35px;
	margin-right:10px; 
	height: 35px;
	background: #f7f7f7;
	text-align: center;
	border-bottom:1px #e5e5e5 solid;
	cursor: pointer;
}
.nav ol li:active{
	background: #000 ;
}
.nav ol li:hover{
	background: #51c7f8;
	color: #fff;
}
.nav ul li span img{
	margin-left: 6px;
}
.cont{
	height: 600px; 
	background:#fff;
	padding-top:70px; 
	width:1000px;
	margin:0 auto;
	min-height:440px;
}
.psd_next{
	width: 480px;
	height: 70px;
	margin:30px auto;
}
.psd_next h3{
	float: left;
	position: relative;

}
.psd_next h3 span{
	position: absolute;
	width: 60px;
	left:-6px;
	top:55px;
	font-size: 14px;
	font-weight: bold;
}
.psd_next h4{
	float: left;
	width: 170px;
	height: 7px;
	background: #c7c7c7;
	margin-top: 23px;
}
.psd_form{
	width: 350px;
	height: 160px;
	margin:0 auto;
}
.psd_form p{
	width: 480px;
	height: 50px;
	position: relative;
}
.psd_form p span{
	position: absolute;
	top:35px;
	left: 100px;
	color:#d4d4d4;
	font-weight: bold;
	font-size: 14px;
}
.psd_form p label{
	width: 100px;
	height: 25px;
	font-size: 14px;
	display: block;
	text-align: right;
	float: left;
	line-height: 33px;
	font-weight: bold;
}
.psd_form p input{
	width: 180px;
	height: 27px;
	padding-left:5px;
}
.psd_form .psd_btn{
	width: 126px;
	height: 37px;
	border:none;
	margin-left:100px;
	margin-top: 65px;
	background: #ff9d34;
	cursor: pointer;
	font-size:16px;
	color:#fff;
}
.psd_form .psd_btn1{
	cursor: pointer;
	width: 126px;
	height: 37px;
	border:none;
	margin-left:110px;
	margin-top: 48px;
	background: #ff9d34;
	font-size:16px;
	color:#fff;
}