.grade_big{
	width: 755px;
	height: 580px;
	overflow: hidden;
}
.grade_tab{
	width: 715px;
	height: 580px;
	float: left;
	background: url('../images/contbg.png') repeat-x;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	margin-right: 25px;
}
.grade_tab h1{
	width: 715px;
	height: 30px;
	border-bottom: 1px #cfcfcf solid;
	line-height: 30px;
	margin-bottom: -10px;
}
.grade_tab h1 span{
	display: inline-block;
	width: 110px;
	height: 30px;
	line-height: 35px;
	margin-left: 5px;
	float: left;
}
.grade_tab h1 strong{
	display: inline-block;
	width: 160px;
	height: 30px;
	line-height: 35px;
	margin-left: 5px;
	float: left;
}
.grade_tab dl{
	width: 170px;
	height: 80px;
	float: left;
	margin-left: 60px;
	margin-bottom: 50px;

}
.grade_tab dl dd{
	width: 80px;
	height: 80px;
	float:left;
}
.grade_tab dl dd img{
	width: 80px;
	height: 80px;
	display: block;
}
.grade_tab dl dt{
	width: 85px;
	height: 80px;
	float: left;
	margin-left: 5px;
}
.grade_tab dl dt h2{
	width: 70px;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
}
.grade_tab dl dt span{
	display: inline-block;
	width: 70px;
	height: 20px;
	line-height: 20px;
}


.collective_cont{
	width: 970px;
	margin: 10px auto;
	height: 534px;
}
.collective_cont h3{
	height: 34px;
	width: 965px;
	border-bottom: 1px #595959 dashed;
	padding-left: 20px;
}
.collective_cont h3 ul li .zx{
	width: 144px;
	height: 26px;
	border:none;
	float: left;
	background: url('../images/闁告牕鎼悡娆撳极濞嗘垹鍩�閻庢冻鎷烽柡宥忕節閺嗭拷cj.png') no-repeat;
}
.collective_cont h3 ul li .submit-sj{
	width: 113px;
	height: 26px;
	border:none;
	float: left;
	background: url('../images/闁告牕鎼悡娆撳极濞嗘垹鍩�閻庢冻鎷烽柡宥忕節閺嗭拷jd.png') no-repeat;
}
.collective_cont h3 ul{
	width: 300px;
	height: 28px;
	float: left;
	position: relative;
}
.collective_cont h3 ul .school{
	position: absolute;
	width: 130px;
	height: 30px;
	top: 30px;
	z-index: 1001;
	padding-top: 3px;
	display: none;
	padding-left: 6px;
}
.collective_cont h3 ul .school .in_school{
	width:50px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 5px;
	border:1px #8f8f8f solid;
	background: #fff;
	font-size: 14px;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}
.collective_cont h3 ul .school .in_school:hover{
	color: #fff;
	background: #51c7f8;
}
.collective_cont h3 ul .school .outside_school:hover{
	color: #fff;
	background: #51c7f8;
}
.collective_cont h3 ul .school .outside_school{
	width: 50px;
	cursor: pointer;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 5px;
	border:1px #8f8f8f solid;
	background: #fff;
	font-size: 14px;
	display: inline-block;
}
.collective_cont h3 p{
	width: 56px;
	float: left;
	height: 28px;
	line-height: 32px;
	margin-left: 442px;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.collective_cont h3 ul li{
	float: left;
	height: 28px;
	margin-right: 10px;
	cursor: pointer;
}
.collective_cont_tab{
	float: left;
	overflow: hidden;
	height:515px;
}
.collective_cont_tab table{
	width: 718px;
	margin:10px 0 0 0;
	background: #fff;
	border:1px #ddd solid;
}
.collective_cont_tab table tr{
	height:27px;
	line-height: 27px;
}
.collective_cont_tab table tr th{
	background: #51c7f8;
	color:#fff;
	text-align: center;
	border: none;
}
.collective_cont_tab table tr td u{
	color: #014efd;
	text-decoration: none;
}
.collective_cont_tab table tr td b{
	color:red;
}
.collective_cont_tab table tr td{
	text-align: center;
	height:27px;
	line-height: 27px;
	border: 1px #ddd solid;
	position: relative;
}
.a1{
	background: url('../images/闁告凹鍓濋宕囨媼閺夎法绉�h.png') no-repeat 4px;
	width: 20px;
	height: 17px;
	display: inline-block;
	position: relative;
}
.a1 b{
	position: absolute;
	right:0;
	top:0;
	width: 5px;
	height: 5px;
	background: red;
	border:1px #fff solid;
	border-radius: 10px;
}
.a2{
	background: url('../images/闁告凹鍓濋宕囨媼閺夎法绉�y.png') no-repeat;
	width: 20px;
	height: 17px;
	display: inline-block;
}
.a3{
	background: url('../images/闁告凹鍓濋宕囨媼閺夎法绉�p.png') no-repeat;
	width: 20px;
	height: 17px;
	display: inline-block;
}
.collective_cont_tab table tr td strong{
	font-weight: bold;
	width:73px;
	display: inline-block;
	height:27px;
	line-height: 27px;
}
.collective_cont_tab table tr td span{
	color:#014efd;
	width:100px;
	display: inline-block;
}
.collective_cont_tab table tr td img{
	display: inline-block;
	width: 16px;
	height: 20px;
	margin-right: 10px;
	margin-top: 4px;
}
.collective_cont h3 p strong{
	position: absolute;
	right:4px;
	top:7px;
	width: 5px;
	height: 5px;
	background: red;
	border:1px #fff solid;
	border-radius: 10px;
}
.sel{
	width: 120px;
	height: 25px;
	border-radius: 5px;
	margin-left: 5px;
	margin-top:5px;
}
.pages{
	overflow: visible;
	width: auto;
}