html,body{
	font-family:"Microsoft YaHei";
	background: #f2f2f2;
	color: #474747;
}
.wrap .com_cont{
	width:1200px;
	height: auto;
	margin:10px auto;
	overflow: hidden;
}
.wrap .com_cont .com_cont_left{
	width: 233px;
	height: 700px;  
	margin:0 25px 0 0;
	background: #fff;
	float: left; 
}
.wrap .com_cont .com_cont_left h2{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding-left: 10px;
	background:#fff;
	border-bottom: 1px #27bb8b dashed;
	position: relative;
}
.list{
	height:666px;
	overflow-x:hidden;
	overflow-y:auto;
	
}
.wrap .com_cont .com_cont_left h3 img{
	margin-left: 10px;
}
.wrap .com_cont .com_cont_left h2 img{
	margin-right: 7px;
	float:left;
	position: absolute;
	left:14px;
	top:9px;
}
.wrap .com_cont .com_cont_left h2 span{
	display:block;
	float:left;
	padding-left:10px;
}
.wrap .com_cont .com_cont_left h3{
	height: 32px;
	width: 223px;
	line-height: 32px;
	font-size: 14px;
	padding-left: 10px;
	cursor: pointer;
}
.header{
	position: relative;
	background:url('../images/arrow_u.png') no-repeat 15px;
}
.headers{
	color:#fff;
	background:#27bb8b url('../images/arrow_d.png') no-repeat 15px;
}
.com_cont_left_b{
	display:inline-block;
	float:left;
	width:13px;
	height:16px;
	margin-top:11px;
	background:url('../../../common/images/common_bg.png');
	background-position:-322px -197px; 
}
.headers span a{
	color:#fff;
}
ul.expmenu li div.header .arrow.up{
	width:7px;
	height:12px;
	position: absolute;
    left: 15px;
    top: 10px;
}
ul.expmenu li div.header .arrow.down{
	width:7px;
	height:12px;
	position: absolute;
    left: 15px;
    top: 10px;
}
ul.expmenu{
	width:233px;
}
ul.expmenu li{
	border-bottom: 1px #27bb8b dashed;
}
.header span{
	height: 32px;
	width: 223px;
	line-height: 32px;
	font-size: 14px;
	padding-left: 36px;
	cursor: pointer;
	
}
.wrap .com_cont .com_cont_right{
	width: 942px;
	height: auto;
	min-height:700px;
	float: left;  
	background: #fff;
}
.com_cont_right_cont h3{
	width:932px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding-left: 10px;
	background:#fff;
	border-bottom: 1px #27bb8b solid;
	margin-bottom:15px;
}
.com_cont_right_cont{
	width: 932px;
	height:auto;
	min-height:700px;
	background:#fff;
}
.com_cont_right_cont p{
	text-indent: 24px;
	font-size:13px;
	line-height:28px;
	color:#434f55;
	margin:0 10px 0 20px;
}
.com_cont_right_cont h5{
	font-size:14px;
	font-weight:bold;
	padding-left:23px;
	height:50px;
	line-height:50px;
}
.com_cont_right_cont img{ 
	display:block;
	margin:0 auto;
}