@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.2.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff?v=4.2.0) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.2.0) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format('svg');font-weight:400;font-style:normal}
/* page */
#on_one_page strong{
	display: block;
	 
}
#the_next_page strong{
	display: block; 
}
#go strong{
	display: block; 
	padding:5px 8px;
	color:#fff;
	background:#27bb8b;
}
.pages{
	height:34px;
	overflow:hidden;
	text-align:center;
	width:auto;   
	margin-top:5px;
}
.pages ol{
	height:30px;
	width:auto;
	 overflow:hidden;
	 display:table;!important;
	 *display:inline;
	 zoom:1;
	 margin:0 auto;
}
.pages ol li{
	float:left;
	padding:5px 8px;
	text-align:center;  
	cursor: pointer;
}
.pages ol li img{
	vertical-align: middle;
}
.pages ol li strong{ 
	padding:5px 8px;
	display:block;
	cursor: pointer;
}
.pages ol li strong:hover{
	background: #f26666; 
	display:block;
	color:#fff;
}
.pages_act{  
	background: #f26666; 
	display:block;
	color:#fff;
}
.pages ol span{
	float:left;
	width:90px;
	font-size:14px;
	height:28px;
}
.page_wrap ol li strong:hover{
	background: #f26666;  
	color:#fff;
}
.wid{
	width:33px;
	height:20px;
	margin:0 3px;
	border:1px #ccc solid;
	border-radius: 3px; 
}
/* DiscussList */
.discuss_list_wrap{
	width: 1130px;
    background: #fff;
    min-height: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.discuss_list_wrap_cont{
	width: 1130px;
    margin: 0 auto;
    height: auto; 
    padding-bottom: 10px;
}
.discuss_list_title_h5{
	float: left;
	width: 105px;
	font-size: 16px;
	color: #4a4a4a;
	height: 40px; 
	line-height: 42px;
	cursor: pointer;
}
.discuss_list_title_h5 span{
	float: left;
	display: block;
	background: url(../../common/images/common_bg.png);
	background-position: -191px 0;
	width:16px;
	margin:12px 5px 0 0;
	height: 16px; 
}
.search_criteria{
	width: 315px;
	height: 40px; 
	float: right;
}
.whole{
	float: right;
	width: 32px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #5096ff;
	border-bottom: 1px #5096ff solid; 
	margin-left: 5px;
	cursor: pointer;
	margin-top: 4px;
	margin-right: 8px;
	text-align: center;
}
.search{
	border:1px #c1c1c1 solid;
	width: 207px;
	height: 28px;
	float: right; 
	margin-top: 4px;
}
.search .search_txt{
	border:none;
	width: 182px;
	float: left;
	padding-left: 6px;
	height: 26px;
	line-height:26px;
}
.search .search_btn{
	border:none;
	width: 15px;
	float: left;
	height: 15px;
	margin-top: 5px;
	background: url(../../common/images/common_bg.png);
	background-position: -166px -56px;
}
.toggle{
	float: right;
	width: 50px;
	height: 40px;
	color: #fe7e37;
	line-height: 40px;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
}
.toggle span{
	display: block;
	width: 10px;
	float: left;
	height: 6px;
	margin:16px 4px 0 0;
	background: url(../../common/images/common_bg.png);
	background-position: -130px -1px;
}
.discuss_list_wrap_border{
	border-bottom: 1px #dbdbdb solid;
	height: 1px;
	margin:0 auto;
	clear: both;
} 
.discuss_list_cont{
	width: 1100px;
	margin:10px auto;
	height: auto; 
} 
.discuss_list_cont1{
	width: 1030px;
	margin:10px auto;
	height: auto; 
} 
.discuss_list_right{
	width: 1030px;
	float: right; 
}
.discuss_list_right1{
	width: 970px;
	float: right; 
}
.discuss_list_right_t{
	width: 100%;
	height: 52px;
	line-height: 52px;
	color: #909090;
	font-size: 14px;
}
.names{
	float: left;
	margin-left: 3px;
	font-size: 16px;
}
.names_date{
	float: right;
}
.names_school{
	float: right;
	margin-right: 20px;
}
.discuss_list_right_c{
	color: #666;
	font-size: 14px;
	line-height: 20px;
	word-break: break-all;
}
.discuss_list_head{
	width: 54px;
	height: 51px;
	position: relative;
	float: left;
}
.discuss_list_head_bg{
	width: 54px;
	height: 51px; 
	background: url(../../common/images/common_bg.png);
	background-position: 0 -166px;
	z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}
.discuss_list_head_img{
	position: absolute;
    top: 8px;
    left: 9px;
    z-index: 1;
}
.discuss_list_right_b{
	width: 100%;
	height: 25px;
}
.reply{
	color: #1aa97b;
	font-size: 14px;
	width: 46px;
	cursor: pointer;
	float: right;
}
.reply span{
	display: inline-block;
    width: 14px;
    height: 13px; 
    background: url(../../common/images/common_bg.png);
	background-position: -176px 0;
    float: left;
    margin-right: 4px;
}
.discuss_list_border{
	height: 1px;
	border-bottom: 1px #dbdbdb solid;
}
.reply_content{
	width: 100%;
	height: 170px;

}
.reply_text{
	width: 100%;
	height: 100px;
}



/* CommentList */
.comment_list_wrap{
	width: 1000px;
    background: #fff;
    min-height: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.comment_list_wrap_cont{
	width: 930px;
    margin: 0 auto;
    height: auto; 
    padding-bottom: 10px;
}
.comment_list_title_h5{
	float: left;
	width: 105px;
	font-size: 16px;
	color: #4a4a4a;
	height: 40px; 
	line-height: 42px;
	cursor: pointer;
}
.comment_list_title_h5 span{
	float: left;
	display: block;
	background: url(../../common/images/common_bg.png);
	background-position: -191px 0;
	width:16px;
	margin:12px 5px 0 0;
	height: 16px; 
}
.comment_list_wrap_border{
	border-bottom: 1px #dbdbdb solid;
	height: 1px;
	margin:0 auto;
	clear: both;
} 
.comment_list_cont{
	width: 890px;
	margin:10px auto;
	height: auto; 
} 
.comment_list_cont1{
	width: 836px;
	margin:10px auto;
	height: auto; 
} 
.comment_list_right{
	width: 836px;
	float: right; 
}
.comment_list_right1{
	width: 767px;
	float: right; 
}
.comment_list_right_t{
	width: 100%;
	height: 52px;
	line-height: 52px;
	color: #909090;
	font-size: 14px;
}
.comment_list_right_c{
	color: #666;
	font-size: 14px;
	line-height: 20px;
}
.comment_list_head{
	width: 54px;
	height: 51px;
	position: relative;
	float: left;
}
.comment_list_head_bg{
	width: 54px;
	height: 51px; 
	background: url(../../common/images/common_bg.png);
	background-position: 0 -166px;
	z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}
.comment_list_head_img{
	position: absolute;
    top: 8px;
    left: 9px;
    z-index: 1;
}
.comment_list_right_b{
	width: 100%;
	height: 25px;
}
.comment_list_border{
	height: 1px;
	border-bottom: 1px #dbdbdb solid;
} 

/* 选择学校 */
.asses_scope_content{
	width: 560px;
	height: 440px;
}
.Invitation_bottom{
	width: 560px;
	height: 444px;
	background: #fff;
	padding-top: 10px;
}
.centent_right ul li input{
	float:left;
	margin-top:6px;
} 
.centent{
	position: relative;
	width: 520px;
	height: 385px;
	margin:0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
#enroll{
	color: #014efd;
	text-decoration: underline;
}
.centent .search2{
	height:21px;
	border:none;
	width:190px;
	background:none;
}
.search_wrap{
	width: 213px;
	height: 23px;
	border: 1px #c1c1c1 solid;
	float: left;
}
.centent .btn{
	background: url(../../common/images/common_bg.png);
	background-position: -166px -56px;
	width: 15px;
	height: 15px;
	border:none;
	cursor: pointer;
}
.search1{
	height: 24px;
	line-height:24px;
	border: none;
	float: left;
	margin-top: -6px;
} 
.centent_left{
	text-align:left;
	width:219px;
	height: 330px;
	border:1px #c1c1c1 solid;
	background: #fff;
	margin:8px 10px 0 0;
	overflow: auto;
	float: left;
}
.centent_left ul{

}
.centent_left ul label{
	width:160px;
	display:block;
	height:24px;
}
.centent_left ul li ul{
	display: none;
}
.centent_left ul li ul li{
	padding-left: 25px;
}
.centent_left ul li input{
	margin-top:0;
}
.centent_left ul li a{
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	cursor: pointer;
	font-size: 14px;
	padding-right: 5px;

}
.centent_left ul li a span{
	color: #a4a4a4;
}
.centent_left ul li a span:hover{
	color: #014efd;
}
.centent_left ul li a:hover{ 
	display: inline-block;
	height: 24px;
	line-height: 24px;
		
}

.centent_left ul li.centent_left_act a:hover{
	color: #fff;
	background: none;
}
.centent_left ul li.centent_left_act a span{
	color: #fff;
	background: none;
}

.centent_center{
	width: 55px;
	height: 220px;
	padding-top:130px;
	float: left;
	margin-right: 10px;
	margin-left: 2px;
}
.add_1{
	background: #27bb8b;
	line-height: 22px;
	height: 24px;
	color:#fff;
	width: 55px;
	text-align: center;
	border:none;
	font-size: 14px;
	font-weight: bold;
	margin-bottom:20px;
}
.add_2{
	background: #27bb8b;
	line-height: 22px;
	height: 24px;
	color:#fff;
	width: 55px;
	text-align: center;
	border:none;
	font-size: 14px;
	font-weight: bold;
}
.centent_right{
	text-align:left;
	width: 220px;
	height: 330px;
	border:1px #c1c1c1 solid;
	background: #fff;
	margin:8px 0 0 0;
	overflow: auto;
	float: left;
}
.centent_right ul{

}
.centent_right ul li{
	position: relative;
	clear: both;
}
.centent_right ul li a{
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	float:left;
	display:block;
	cursor: pointer;
	font-size: 14px;
	padding-right: 10px;
	width:180px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.centent_right_act{
	color:#014efd;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.btn_sub{
	display: block;
	border:none;
	background:#27bb8b;
	color:#fff;
	width: 82px;
	height: 30px;
	clear: both;
	margin:15px auto;
	cursor: pointer;
	font-size: 14px;
}
.please_select{
	color: #ff8226;
	cursor: pointer;
}


.info_border {
    border-bottom: 1px #a4e0c9 solid;
    height: 1px;
    clear: both;
}
.partake_discuss{
	width: 910px;
	margin:25px auto 0 auto;
	height: 250px; 
}
.partake_discuss_title{
	width: 100%;
	height: 33px;
	line-height: 33px;
} 
.partake_discuss_title_h5{
	float: left;
	width: 200px;
	font-size: 16px;
	color: #4a4a4a;
	height: 40px; 
	line-height: 42px;
	cursor: pointer;
}
.partake_discuss_title_h5 span{
	float: left;
	display: block;
	background: url(../../common/images/common_bg.png);
	background-position: -191px -17px;
	width:16px;
	margin:12px 5px 0 0;
	height: 15px; 
}
#discussion_content{
	width: 894px;
	height: 127px;
	padding:5px;
	border:1px #cbcbcb solid;
}
.submit{
	display: block;
	margin:15px auto;
	width: 60px;
	height: 30px;
	background: #ff9d34;
	color: #fff;
	font-size: 14px;
	border:none;
} 



.sign_out_span{
	display: block;
    float: left;
    width: 11px;
    background: url(../images/common_bg.png);
    background-position: -46px 0;
    height: 10px; 
    margin-right:10px;
    margin-top: 10px;
}
.qq{
	background: url(../images/common_bg.png);
	background-position: -1px -50px;
	width: 30px;
	display: block;
	height: 30px;
}
.email{
	background: url(../images/common_bg.png);
	background-position: -35px -50px;
	width: 30px;
	display: block;
	height: 30px;
}
.fax{
	background: url(../images/common_bg.png);
	background-position: -70px -50px;
	width: 30px;
	display: block;
	height: 30px;
}
.phone{
	background: url(../images/common_bg.png);
	background-position: -104px -50px;
	width: 30px;
	display: block;
	height: 30px;
}


.save_info{
	width:306px;
	margin:20px auto; 
	height: 105px; 
} 
.save_info strong{
	display: inline-block;
	float: left;  
	font-size: 14px;
	line-height: 28px;
	width: 306px;
	text-align:center;
	margin:10px 0 0 0;
}  


.empty_wrap{
	width: 172px;
    height: 144px;
    margin: 115px auto;
    padding-top: 43px;
	background: url(../../common/images/common_bg.png);
	background-position: -5px -525px;
} 
.empty_info{
	width: 86%;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #d06a31; 
    margin: 0 auto; 
}
.emptyInfo{
	height:30px;
	line-height:30px;
	width:500px;
	margin:41px auto;
	font-size:14px;
	text-align:center;
	
}
.share_info{
	width:400px;
	text-align:left;
	height:120px;
	margin:25px auto 25px auto;
	font-size:14px;
	line-height:30px;
}
.del_info{
	width:350px;
	text-align:center;
	min-height:70px;
	max-height:110px;
	margin:20px auto 10px auto;
	font-size:14px;
	line-height:40px;
}
.BtnWrap{
	width:100%;
	text-align:center;
}
.confirm{
	width: 80px;
    height: 27px;
    background: #ff9d34;
    color: #fff;
    border: none;
    margin-top: 7px;
    display:inline-block;
    font-size: 14px;
    margin-right:55px;
}

.cancel{
	width: 80px;
    height: 27px;
    background: #3ab4f0;
    color: #fff;
    border: none;
    margin-top: 7px;
    display:inline-block;
    font-size: 14px;
}
body{
	background:#f2f2f2;
}
.li_width u{
	display:block;
	float:left;
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    margin-top:13px;
    margin-left:2px;
}
#notice-new1{
	width:6px;
	height:6px;
	background:url(../images/common_bg.png);
	background-position: -79px 0;
	position: absolute;
    right: -4px;
    top:6px;
    display:none;
}
.jyyl_name_news{
	float:left;
}
.jyyl_top{
	width:100%;
	background:#505050;
	height:50px;
	border-bottom: 1px #fe7e37 solid;
}
.jyyl_top_logo{
	width:1200px;
	height:50px;
	margin: 0 auto;
}
.jyyl_logo{
	width:276px;
	height: 50px;
	background: url(../images/logo.png) no-repeat left 6px;
	float:left; 
}
.area_logo{
	width:276px;
	height: 50px;
	background: url(../images/logo_qy.png) no-repeat left 6px;
	float:left; 
}
.jyyl_logo1{
	width:276px;
	height: 50px;
	background: url(../images/logo1.png) no-repeat left 9px;
	float:left; 
}
.jyyl_logo_right{
	float:right;
	height: 50px;
}
.jyyl_logo_right ul{
	height:30px;
	margin-top: 9px;
}
.jyyl_logo_right ul .jyyl_logo_right_li{
	float:left;
	color:#fff;
	height:30px;
	line-height: 30px;
	font-size:14px;
	margin-left: 5px;
	margin-right: 5px;
}
.jyyl_logo_right ul .jyyl_logo_right_li img{
	display:block;
}
.jyyl_logo_right ul .jyyl_logo_right_li a{
	display: inline-block;
	color:#fff;
	position:relative;
} 
.jyyl_avatar{
	position: relative;
}
.jyyl_head_mask{
	width:42px;
	height: 42px;
	background: url(../images/head_bor.png) no-repeat;
	top: -6px;
    left: -6px;
    display: block;
    position: absolute;
    cursor:pointer;
}
.jyyl_logo_right ul .jyyl_logo_right_li a img{
	margin-right: 9px;
    display: block;
    float: left;
    margin-top: 10px; 
}
.li_hover:hover .identity_box{
	display:block;
}
.jyyl_logo_right .identity_box{
	width:180px;
	height:auto;
	background:#fff;
	border:1px solid #ababab;
	border-top:none;
	border-radius:4px;
	position:absolute;
	left:-76px;
	top:28px;
	z-index:10;
	display:none;
}
.identity li{
	width:160px;
	padding:0 10px;
	height:30px;
	line-height:30px;
	font-size:14px;
	border-bottom:1px solid #ababab;
	color:#4a4a4a;
	cursor:pointer;
}
.identity li:hover{
	background:#f6f3f3
}
.identity_sanjiao{
	width:10px;
	height:5px;
	background:url(../images/identity_sanjiao.png) no-repeat;
	position:absolute;
	top:-5px;
	left:88px;
}
/*************************************bottom****************************************/
.content{ 
	width:986px;
	margin:0 auto 190px auto;	
}
.jyyl_footer{
	width: 100%;
	height: 110px;
	border-top: 1px #d6d6d6 solid;
	background: #fff;
	clear: both;
	margin-top:50px;
}
.jyyl_footer_center{
	width:1200px;
	margin: 0 auto;
	height: 110px;
}
.jyyl_footer_center_l{
	float: left;
	width:344px; 
}
.jyyl_footer_center_l ul{
	height: 30px;
    line-height: 30px;
    margin-top: 32px;
    position:relative;
}
.jyyl_footer_center_l ul li{
	float: left;
	color:#969897;
	margin-right: 10px;
}
.jyyl_footer_center_l ul li a{
	float: left;
	font-size: 12px;
	color:#969897;
}
.jyyl_footer_center_l p{
	color:#969897;
	height: 30px;
    line-height: 30px;
}
.jyyl_footer_center_r{
	width: 371px;
	float: right;
}
.jyyl_footer_center_r ol{
	 margin-top: 36px;
}
.jyyl_footer_center_r ol li{
	float: left;
	position: relative;
    cursor: pointer;
	margin-right: 9px;
}
.jyyl_footer_center_r ol li img{
	display: block;
	width: 29px;
	height: 29px;
}
.jyyl_footer_center_r ol li span{
	display: block;
    line-height: 15px;
    color: #969897;
}
.jyyl_navoL_li_bg {
    width: 91px;
    height: 27px;
    background:url(../images/navoL_li_bg.png) no-repeat;
    position: absolute;
    left: -19px;
    top: -25px;
    z-index: 1;
    padding-top:2px;
    display: none;
}
.jyyl_navoL_li_bg P {
    width: 33px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    margin-left: 2px;
    float: left;
    padding-left: 10px;
    border-right: 1px dashed #d5d5d5;
}
.jyyl_navoL_li_bg P:hover{
	background:#f5f5f5;
}
.strong{display:none;} 
.strong1{display:none;} 
.jyyl_footer_center_r li:hover .strong{
	position: absolute;
    left: -57px;
    top: 35px;
    border: 1px #C0C0C0 solid;
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
    display:block;
    white-space: nowrap;
}
.jyyl_footer_center_r li:hover .strong1{
	position: absolute;
    left: -37px;
    top: 35px;
    border: 1px #C0C0C0 solid;
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
    display:block;
    white-space: nowrap;
}
/*************************************index****************************************/
.jyyl_nav{
	width:1200px;
	height:60px;
	margin: 0 auto;
	line-height: 60px;
	color:#4a4a4a;
	font-size:14px;
}
.span_show{
	color:blue;
	position: relative;
}
.span_show:hover .school_2{
	display:block;
}
.li_width .identity_box ol li{
	width:190px;
	padding: 0 5px;
	overflow:hidden;
}
.li_width .identity_box ol li a{
	width:180px;
	color:#4a4a4a;
}




/* comment */
.resources_view_cont1{
	width:1120px;
	height: 210px;
	margin:0 auto;
}
.resources_view_cont1 h3{
	text-align: left;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	margin-top:5px; 
	float: left;
}
.resources_view_cont1 h3 span{
	float: left;
    display: block;
    background: url(../images/common_bg.png);
    background-position: -191px -17px;
    width: 16px;
    margin: 9px 5px 0 0;
    height: 15px;
}
.resources_view_cont1 h4{
	text-align: left;
	font-size: 14px;
	line-height: 25px;
	height: 25px;
	margin-top:5px;
	float: right;
	color: #aeaeae;
}
.complete{
	width: 81px;
    height: 28px;
    background: #ff9d34;
    color:#fff;
    display:block;
    font-size:14px;
    border: none; 
    margin:7px auto;
}
.txtarea_1{
	width: 820px;
	height: 90px;
	border-radius: 7px; 
	border:1px #cdcdcd solid;
}

.return{
	position: fixed;
	/* right:-103px; */
	right:-79px;
	bottom: 60px;
	bottom: 20px\0;
	bottom: 20px !important;
	/* width: 145px;
	height: 66px; */
	width: 107px;
	height: 49px; 
	cursor: pointer;
	display: none;
} 
.suspension {
	width: 253px;
	height: 578px;
	position: fixed;
	top: 10px;
	right: -253px;
	background:#fff;
	z-index: 100;
	border: 1px #cdd6de solid;
	border-right: 0;
}
.companion_menu {
	width: 44px;
	height: 77px;
	position: absolute;
	left: -43px;
	bottom: 150px;
	cursor: pointer;
	background: url('../images/common_bg.png');
	background-position: -293px -293px;
}
.waittingMask{
	width:100%;
	height:100%;
	position:fixed; 
	z-index:2;
	background: none repeat scroll 0 0 #000; 
    opacity: 0.1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
    left:0;
    top:0;
}
.loadWrap{
	width:239px;
	height:114px;
	position: fixed;
    left: 50%;
    top: 50%;
    z-index:3;
    margin-left: -119px;
    margin-top: -57px;  
	background:url(../images/load1.gif) no-repeat;
}