@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.2.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff?v=4.2.0) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.2.0) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format('svg');font-weight:400;font-style:normal}
html,body{
	font-family:"Microsoft YaHei"; 
	color: #474747;
}
.dustbin{
	background:url('../images/dte.png') no-repeat;
	width:60px;
	height:84px;
}

#mail-error{
	width:328px;
}
#cellphone-error{
	width:328px;
}
#newpassword-error{
	font-size:14px;
	margin-left:105px;
}
#renewpassword-error{
	font-size:14px;
	margin-left:105px;
}
#password-error{
	font-size:14px;
	margin-left:105px;
}

#ra-navs{
    position: relative;
    top: -20px;
	left: 70px;
}

header{
	width: 100%;
	height:4rem;
	background: #43464f;
	color: #fff;
	line-height: 4rem;
	text-align: center;
	font-size: 2.0rem;
	position: relative;
}
header span{
	width:1.667rem;
	height:2.833rem;
	background:url(../images_m/return.png) no-repeat;
	display:inline-block;
	position: absolute;
    left: 3%;
    top:50%;
    cursor:pointer;
    margin-top:-1.417rem;
}
header ul{
	margin:1rem auto;
	width:26.5rem;
}
header ul li a{
	float:left;
	border:0.083rem #1aa97b solid;
	width:12.917rem;
	height:3rem;
	font-size:1.333rem;
	line-height:3rem;
	color:#1aa97b;
	display:block;
	cursor:pointer;
}

.box {
    background: none repeat scroll 0 0 #000;
    height: 100%;
    left: 0;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    overflow-y: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

.word_tab_3{
	width: 820px;
	height: auto;
	margin:10px auto;
}
.word_tab_3 h3{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 600px;
	text-align: left;
	float: left;
	padding-left: 10px;
}

.word_tab_3 h4{
	height: 23px;
	line-height: 12px;
	font-weight: bold;
	font-size: 14px;
	width: 124px;
	float: right;
	text-align: right;
	cursor: pointer;
}
.word_tab_3_cont{
	border-radius: 7px;
	border:1px #bdbdbd solid;
	background:#fff;
}

.check-bottom_1{
	width:820px;
	height: auto;
	padding-bottom: 15px;
	border-radius: 5px;
	margin:0 auto;
}
.check-bottom_1 .check-bottom_1_left{
	width: 90px;
	float: left;
	text-align: center;
	height:75px;
	position: relative;
	margin-bottom:10px;
}
.check-bottom_1 .check-bottom_1_left img{
	display: block;
	margin:10px 0 0 10px;
}
.check-bottom_1 .check-bottom_1_right{
	width:730px;
	min-height:75px;
	float:left;
	margin-bottom:10px;

}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_top{
	word-break: break-all;word-wrap: break-word;
	line-height: 20px;
	font-size: 14px;
	padding-top: 13px;
	padding-bottom: 3px;
	padding-right:4px;
	color:#ff5e5e;
}
.check-bottom_1_right_top1{
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 3px;
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm{
	width:99%;
	height: 23px;
	line-height: 20px;
	font-size: 14px;
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm span{
	color:#838383;
	float: right;
	
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm strong{
	color:#014efd;
	float: right;
	cursor: pointer;
	margin-left:13px;
}

.check-bottom_2{
	height: auto;
	padding-bottom: 15px;
	border-radius: 5px;
	margin-left:73px;
}
.check-bottom_2 .check-bottom_2_left{
	width: 70px;
	float: left;
	height:77px;
	text-align: center;
}
.check-bottom_2 .check-bottom_2_left img{
	display: block;
}
.check-bottom_2 .check-bottom_2_right{
	width:676px;
	min-height:50px;
	float:left;
}
.check-bottom_2 .check-bottom_2_right .check-bottom_2_right_top{
	line-height: 20px;
	font-size: 14px;
	padding-top: 13px;
	padding-bottom: 3px;
	color:#ff5e5e;
	word-wrap: break-word;

}
.check-bottom_2 .check-bottom_2_right .check-bottom_2_right_top1{
	line-height: 20px;
	font-size: 14px;
	padding-top: 13px;
	padding-bottom: 3px;
	word-wrap: break-word;
}
.check-bottom_2 .check-bottom_2_right .check-bottom_2_right_botm{
	width:99%;
	height: 23px;
	line-height: 20px;
	font-size: 14px;
}
.check-bottom_2 .check-bottom_2_right .check-bottom_2_right_botm span{
	color:#838383;
	float: right;
	margin-right:13px;
}
.check-bottom_2 .check-bottom_2_right .check-bottom_2_right_botm strong{
	color:#014efd;
	float: right;
	cursor: pointer;
}

.checkCompleted{
	width: 91px;
	height: 26px;
	background: url('../images/checkedComplete.png') no-repeat;
	border: none;
	margin-left: 400px;
	margin-top: 7px;
} 
#messageWin{
	width:370px;
	height:80px;
	overflow:hidden;
	text-align:center;
}
#message{
	font-size: 14px;
	margin-top:15px;
}
.no{
	width: 224px;
	height: 265px;
	margin:100px auto;
}
.no1{
	width:150px;
	height:180px;
	margin:0 auto;
	padding-top:70px;	
	padding-right:10px;
	word-wrap: break-word;
	line-height:24px;
}

.mes_file_process{
	white-space: nowrap; 
    line-height: 29px; 
    padding-left: 6px; 
    display:block; 
}
#comment_wrap{
	padding-top:10px;
}
#taolunliebiao{
	padding-top:10px;
}
.check-bottom_02{
	margin-left:80px;
	margin-top: 5px;
	width: 780px;
	height: auto;
}
.check-bottom_02 .check-bottom_02_left{
	width:60px;
	height:65px;
	float:left;
	position: relative;
	
}
.check-bottom_02 .check-bottom_02_left:hover .school_1{
	display:block;
}
.check-bottom_02 .check-bottom_02_left .school_1{
	width:234px;
	height:129px;
	border:1px #c8c8c8 solid;
	background:#f2f2f2;
	position: absolute;
	left:50px;
	top:24px;
	z-index:999;
	display:none;
}
.check-bottom_1 .check-bottom_1_left:hover .school_1{
	display:block;
}
.check-bottom_1 .check-bottom_1_left .school_1{
	width:234px;
	height:129px;
	border:1px #c8c8c8 solid;
	background:#f2f2f2;
	position: absolute;
	left:50px;
	top:24px;
	z-index:999;
	display:none;
}
 .replydiv:hover .school_1{
	display:block;
}
.replydiv .school_1{
	width:234px;
	height:129px;
	border:1px #c8c8c8 solid;
	background:#f2f2f2;
	position: absolute;
	left:27px;
	top:99px;
	z-index:999;
	display:none;
}
.replydiv .school_1 dl dd{
	float:left;
	width:93px;
	height:114px;
}
.replydiv .school_1 dl dd img{
	display:block;
	margin:10px 0 0 10px;
}
.replydiv .school_1 dl dd span{
	display:inline-block;
	line-height:17px;
	text-align:center;
	width:103px;
	height:100px;
}
.school_1 dl{}
.school_1 dl dd{
	float:left;
	width:113px;
	height:113px;
}
.school_1 dl dd span img{
	display:block;
	margin: 10px 0 0 10px;
}
.school_1 dl dd span{
	display:inline-block;
	line-height:17px;
	text-align:center;
	width: 103px;
	height: 100px;
}
.school_1 dl dt{
	float:right;
	width:120px;
	height:114px;
	margin-top:3px;
}
.school_1 dl dt span{
	text-align:left;
	width:130px;
	overflow:hidden;
	display:block;
	line-height:23px;
}
#startTime{
	text-align:center;
	width:140px;
	border:1px #aeaeae solid;
	height:22px;
	line-height:22px;
}
#endTime{
	text-align:center;
	border:1px #aeaeae solid;
	width:140px;
	height:22px;
	line-height:22px;
}
.check_k{
	width:92px;
	height:72px;
	margin:0 auto;
	padding-top:10px;
	background:url('../images/k.png') no-repeat bottom;
}
#validationMailCode{
	width:620px;
	margin:0 auto;
}
#validationMailCode p{
	font-size:14px;
	font-weight:bold;
	height:40px;
	line-height:40px;
	margin-bottom:30px;
	border-bottom:1px #ccc dashed;
}
#validationMailCode .record .record_1 label{
	text-align:right;
	width:80px;
}
#btnSendCode{
	background:#fe7e37;
	color:#fff; 
	width:90px;
	height:28px;
	line-height:28px;
	border:none;
	margin-left:10px;
}
.sava_btn{
	background:url('../images/sava.png') no-repeat;
	width:97px;
	height:29px;
	border:none;
}
.xg_btn{
	background:url('../images/xg1.png') no-repeat;
	width:85px;
	height:26px;
	
}
.ser_in{
	width:220px;
	float:right;
	position: relative;
}
.ser_bor1{
	width: 150px;
    background: #fff;
    border: 1px #c1c1c1 solid;
    height: 24px;
    float: right;
    margin-top: -6px;
    margin-right: 4px;
}
.ser_w{
	width: 120px;
    height: 22px;
    padding-left: 5px;
    border: none;
    background: none;
}
.ser_btn{
	width: 16px;
    height: 16px;
    background: url('../../modules/check/images/ser.png') no-repeat;
    border: none;
    position: absolute;
    right: 10px;
    top: 0;
}
.check_k_wrap{
	width:300px;
	text-align:center;
	line-height:30px;
	margin:0 auto;
} 
.check_k_info{
	font-size:14px;line-height:20px;height:30px;
}


