html,body{
	font-family: "Microsoft Yahei";
	color: #474747;
}

.add_electronics_wrap{
	position: absolute;
	width: 225px;
	height: 568px;
	right:60px;
	z-index: 999; 
	display:none;
}

.add_electronics_wrap .dlog-top{
	width: 221px;
	height: 40px;
	background:#f3922b;
	border:1px #cfcfcf solid;
	border-bottom:none; 
}
.add_electronics_wrap .dlog-top span{
	line-height: 45px;
	color:#44484d;
	font-size: 16px;
	font-weight: bold;
	margin-left:-86px;
}
.add_electronics_wrap .dlog-top img{
	float: right;
	padding-top: 10px;
	padding-right: 15px;
	cursor: pointer;
}
.add_electronics_wrap .dlog-bottom{
	width: 221px;
	height: 490px;
	padding-top:35px;
	overflow:auto;
	background:#fff;
	border:1px #cfcfcf solid;
	border-top:none; 
}
.add_electronics_wrap .dlog-bottom dl{
	width: 101px;
	height:170px;
	margin-bottom: 40px;
}
.add_electronics_wrap .dlog-bottom dl dd{}
.add_electronics_wrap .dlog-bottom dl dt{
	text-align:center;
	height:26px;
	line-height:26px;
	font-size:12px;
	font-weight:bold;
}
.add_push_wrap{
	position: absolute;
	width: 225px;
	height: 568px;
	right:60px;
	z-index: 999; 
	display:none;
}

.add_push_wrap .dlog-top{
	width: 221px;
	height: 40px; 
	background: #fff;
    border: 1px #cfcfcf solid;
    border-bottom: 1px #fea97a dashed;
}
.add_push_wrap .dlog-top span{
	line-height: 45px;
	color:#44484d;
	font-size: 16px;
	font-weight: bold;
	margin-left:-86px;
}
.add_push_wrap .dlog-top img{
	float: right;
	padding-top: 10px;
	padding-right: 15px;
	cursor: pointer;
}
.add_push_wrap .dlog-bottom{
	width: 221px;
	height: 524px;
	overflow:hidden;
	background:#fff;
	border:1px #cfcfcf solid;
	border-top:none; 
}
.add_push_wrap .dlog-bottom h3{
	width:215px;
	height:27px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	background:#ebebeb;
	line-height:27px;
	border-bottom:1px #51c7f8 dashed;
	cursor: pointer;
}




.add_lesson_wrap{
	position: absolute;
	width: 225px;
	height: 568px;
	right:60px;
	display:none;
}
.add_lesson_wrap .dlog-top{
	width: 221px;
	height: 40px;
	z-index:1000;
	background:#fff; 
	border: 1px #cfcfcf solid;
	border-bottom:1px #fea97a dashed; 
}
.add_lesson_wrap .dlog-top span{
	line-height: 45px;
	color:#44484d;
	font-size: 16px;
	font-weight: bold;
	margin-left:-86px;
}
.close {
    width: 38px;
    height: 38px;
    display: block;
    background: url(../../../common/images/common_bg.png);
    background-position: -208px -126px;
    float: right;
    cursor: pointer; 
}
.add_lesson_wrap .dlog-bottom{
	width: 221px;
	height: 514px;
	padding-top:10px;
	overflow:auto;
	/* background: url('../images/bg2.png') no-repeat;  */
  	background:#fff;
  	border:1px #cfcfcf solid;
	border-top:none; 
   
	
}
#commendDiv{
	line-height:30px;
}
.add_lesson_wrap .dlog-bottom dl{
	width: 90px;
	float: left;
margin: 10px;
}
.add_lesson_wrap .dlog-bottom dl dt input{
	margin-top: -2px;
}
.add_lesson_wrap .dlog-bottom dl dd{
	width:70px;
	height:82px;
	position: relative;
}
.add_lesson_wrap .dlog-bottom dl dd b{
	width:68px;
	height:80px;
	border:1px #ff8400 solid;
	position: absolute;
	left:0;top:0;
}
.add_lesson_wrap .dlog-bottom dl dd span{
	position: absolute;
	width:70px;
	height:82px;
	left:0;
	top:0;
	background: #000;
	opacity: 0.2;
	
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}
.add_lesson_wrap .dlog-bottom dl dd strong{ 
	position: absolute;
	width:20px;
	left:25px;
	top:30px;
	height:20px;
}
.add_lesson_wrap .dlog-bottom dl dd img{
	width:70px;
	height:82px;
	margin:0 auto;
	cursor: pointer;
}
.add_lesson_wrap .dlog-bottom dl dt{
	height:20px;
	line-height:20px;
	cursor: pointer;
}
.com_cont_right2{
	z-index: 999;
	width:100%;
	height:100%;
	position: absolute;
	cursor: pointer;
	background:#000;
	top:0;
	right:0;
	opacity: 0.7; 
	filter:Alpha(opacity=70);
	border-radius: 7px;
	display:none;
}
.com_cont_right1{
	z-index: 999;
	width:55px;
	height:190px;
	position: absolute;
	top:280px;
	right:-5px;
	/* opacity: 0.5; 
	filter:Alpha(opacity=50); */
	border-radius: 7px;
}
.com_cont_right1 .com_cont_right1_left{
	height: 192px;
	width: 15px;
	*width: 10px;
	float: left;
	background:#27bb8b url('../images/pic.png') no-repeat 3px center; 
}
.com_cont_right1 .com_cont_right1_left.open{
	background-position: -8px 90px;
}
.com_cont_right1 .com_cont_right1_right{
	height: 192px;
	width: 40px;
	float: left;
	margin-left: 10px;
	*margin-left: 0;
	background:#27bb8b; 
	margin-top: -192px;
	*margin-top: 0;
}
.com_cont_right1 .com_cont_right1_right ul{
	width: 30px;
	padding-top: 10px;
}
.li_1{
	font-size: 12px;
	text-align: center;
	color: #1F1F1F;
	border-bottom: 1px #fff dashed;
	line-height: 18px;
	padding-bottom: 5px;
	margin-bottom: 3px;
	cursor: pointer;
}
/* .com_cont_right1 .com_cont_right1_right ul li:active{
	color:#51c7f8;
	font-size: 12px;
	text-align: center;
	border-bottom: 1px #fff dashed;
	line-height: 18px;
	padding-bottom: 5px;
	margin-bottom: 3px;
} */
.color_blue{
	color:#fff;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	padding-bottom: 5px;
	margin-bottom: 3px;
}
.menu_list{
	width:221px;
	margin:0 auto;
	max-height:528px;
}

.menu_head{
	width:215px;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#0A0A0A;
	cursor:pointer;
	border-bottom:1px #51c7f8 dashed;
	position:relative;
	font-weight:bold;
	background:#f1f1f1 url('../images/xia1.png') no-repeat 140px center;
	margin:0;
}
.menu_list .current{
	color:#fff;
	background:#51c7f8 url('../images/up1.png') no-repeat 140px center;
}
.menu_list ul{}
.menu_list ul li{
	float:left;
	width:54px;
	height:14px;
	text-align:center;
	border-right:1px #ff8400 solid;
	margin:10px 0;
	line-height:14px;
	cursor: pointer;
}
.menu_list_big{
	width:800px;
	height:481px;
	
}
.menu_list_big .menu_list_tab{
	width:221px;
	height:481px;
	float:left;
}
.menu_list_act{
	color:#27bb8b;
}
.menu_body{
	width:213px;
	height:400px;
	line-height:38px;
	border-left:1px solid #e1e1e1;
	backguound:#fff;
	border-right:1px solid #e1e1e1;

}
.menu_body ul{
	
}
.menu_body ul li{
	float:left;
	width:52px;
	height:22px;
	text-align:center;
	border-right:1px #ff8400 solid;
	margin:10px 0;
	line-height:22px;
	font-weight:bold;
}
.menu_body a{
	width:196px;
	height:38px;
	line-height:38px;
	color:#777777;
	background:#fff;
	text-decoration:none;
	border-bottom:1px solid #e1e1e1;
}
.menu_body a:hover{
	text-decoration:none;
}
.menu_body_tab_big{
	width:900px;
}
.menu_body_tab_big .menu_body_tab{
	float:left;
	width:219px;
	height:360px;
	overflow:auto;
}
.menu_body_tab_big .menu_body_tab dl{
/* 	width:56px;
	height:93px;
	float:left; */
	
}
.menu_body_tab_big .menu_body_tab dl:hover{
	cursor: pointer;
}
.menu_body_tab_big .menu_body_tab dl dd{}
.menu_body_tab_big .menu_body_tab dl dd img{
	display:block;
	margin:0 auto;
}
.menu_body_tab_big .menu_body_tab dl dt{
	text-align:center;
}
.menu_body_blue{
	color:#51c7f8;
}
.add_peer_wrap{
	position: absolute;
	width: 225px;
	height: 568px;
	right:60px;
	z-index: 999;
	display:none;
}

.add_peer_wrap .dlog-top{
	width: 221px;
	height: 40px;
	background: #fff;
    border: 1px #cfcfcf solid;
    border-bottom: 1px #fea97a dashed;
}
.add_peer_wrap .dlog-top span{
	line-height: 45px;
	color:#44484d;
	font-size: 16px;
	font-weight: bold;
	margin-left:-86px;
} 
.add_peer_wrap .dlog-bottom{
	width: 221px;
	height: 524px;
	background:#fff;
	border:1px #cfcfcf solid;
	border-top:none; 
	overflow:hidden;
}
.add_peer_wrap .dlog-bottom h3{
	width:215px;
	height:27px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	background:#ebebeb;
	line-height:27px;
	border-bottom:1px #51c7f8 dashed;
	cursor: pointer;
}
.menu_body_tab_li{
	width: 99px;
	height: 74px;
	position: relative;
	float: left;
	margin: 10px 4px 23px 4px;
}
.menu_body_tab_li dl{
	width: 95px;
	height: 74px;
	cursor: pointer;
	border:2px #fff solid;
	padding-top:5px;
}
.menu_body_tab_li:hover dl{
	width: 95px;
	height: 74px;
	cursor: pointer;
	border:2px #51c7f8 solid;
	display: block;
}
.menu_body_tab_li dl dd{
	width:95px;
	height:55px;
	position: relative;
}
.menu_body_tab_li dl dd img{
	width:50px;
	height:50px;
	display:block;
	margin:0 auto;
}
.menu_body_tab_li dl dd span{
	position: absolute;
    right: 15px;
    top: -5px;
    width: 18px;
    height: 18px;
    background: url(../../myplanbook/images/bg.png);
    background-position: -56px -55px;
}
.menu_body_tab_li dl dt{
	width: 95px;
	height:20px;
	line-height:16px;
	text-align:center;
}
.menu_body_tab_li dl dt span{
	width: 96px;
	line-height:16px;
	display:inline-block;
	height:16px;
	word-wrap:break-word;
	font-size:12px;
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.menu_body_tab_li dl dt strong{
	width: 95px;
	line-height:16px;
	display:inline-block;
	height:16px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}     
.menu_body_tab_li .show_p{
	width:94px;
	height: 21px;
	background: #51c7f8;
	display: none;
}
.menu_body_tab_li .show_p ol{
	margin-left:17px;
}
.menu_body_tab_li .show_p ol li{
	float: left;
	margin-left: 10px;
}
.menu_body_tab_li .show_p .show_p_1{
	width:16px;
	height:10px;
	background:url('../images/look.png') no-repeat;
	margin-top:5px;
	cursor: pointer;
}
.menu_body_tab_li .show_p .show_p_2{
	width:16px;
	height:20px;
	background:url('../images/Download1.png') no-repeat;
	cursor: pointer;
	display:block
}
.menu_body_tab_li .show_p ol li img{
	display:block;
}
.menu_body_tab_li:hover .show_p{
	width: 99px;       
	height: 21px;
	background: #51c7f8;
	display:block;
} 







.Pre_cont_right_1_dl{
	width: 99px;
	height: 95px;
	position: relative;
	float: left;
	margin: 10px 4px 23px 4px;
}
.Pre_cont_right_1_dl dl{
	width: 95px;
	height: 95px;
	cursor: pointer;
	border:2px #fff solid;
	padding-top:5px;
}
.Pre_cont_right_1_dl:hover dl{
	width: 95px;
	height: 95px;
	cursor: pointer;
	border:2px #51c7f8 solid;
	display: block;
}
.Pre_cont_right_1_dl dl dd{
	width:95px;
	height:60px;
}
.Pre_cont_right_1_dl dl dd img{
	width:50px;
	height:50px;
	display:block;
	margin:0 auto;
}
.Pre_cont_right_1_dl dl dt{
	width: 95px;
	height:32px;
	line-height:16px;
	font-size:12px;
	text-align:center;
}
.Pre_cont_right_1_dl dl dt span{
	width: 96px;
	line-height:16px;
	display:inline-block;
	height:16px;
	word-wrap:break-word;
	overflow:hidden;
	font-size:12px;
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.Pre_cont_right_1_dl dl dt strong{
	width: 95px;
	line-height:16px;
	display:inline-block;
	height:16px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.Pre_cont_right_1_dl .show_p{
	width:94px;
	height: 32px;
	background: #51c7f8;
	display: none;
}
.Pre_cont_right_1_dl .show_p ol{
	margin-left:17px;
}
.Pre_cont_right_1_dl .show_p ol li{
	float: left;
	margin-left: 10px;
}
.Pre_cont_right_1_dl .show_p .show_p_1{
	width:16px;
	height:10px;
	background:url('../images/look.png') no-repeat;
	margin-top:5px;
	cursor: pointer;
}
.Pre_cont_right_1_dl .show_p .show_p_2{
	width:13px;
	height:18px;
	background:url('../images/Download1.png') no-repeat;
	cursor: pointer;
	display:block
}
.Pre_cont_right_1_dl .show_p ol li img{
	display:block;
}
.Pre_cont_right_1_dl:hover .show_p{
	width: 99px;
	height: 25px;
	background: #51c7f8;
	display:block;
} 
.Pre_cont_right_1_dl .show_p:hover .Pre_cont_right_1 dl{
	border:2px #51c7f8 solid;
}
.Pre_cont_right_1_dl .show_p ul{
}
.Pre_cont_right_1_dl .show_p ul li{
	float: left;
	width: 21px;
	height: 21px;
	margin-left: 2px;
	margin-top: 5px;
}
.page ol{
	width:162px;
	height:70px;
	margin-left:52px;
	
}
.page ol li{
	float:left;
	height:21px;
	line-height:21px;
	text-align:center;
	margin-right:5px;
}
.on_one_page a{
	display: block;
	width: 56px;
	height: 21px;
	line-height: 21px;
	color:#fff;
	background: #909090;
}
.one_page a{
	display: block;
	width: 56px;
	height: 21px;
	line-height: 21px;
	color:#fff;
	background: #f26666;
}
.next_page a{
	display: block;
	width: 56px;
	height: 21px;
	line-height: 21px;
	color:#fff;
	background: #f26666;
}

.the_next_page a{
	display: block;
	width: 56px;
	height: 21px;
	line-height: 21px;
	color:#fff;
	background: #909090;
}

/**
---------------------------------���ñ���λ�� ---��ʼ----------------
*/
.saved_successfully1{
	width:100%;
	position:relative;
}
.saved_successfully1 .saved_successfully_wrap1{
	position: absolute;
	width: 502px;
	margin-left:-335px;
	height: 274px;
	left: 50%;
	top:200px; 
	z-index: 999;
	display: block;
	border:1px #9f9f9f solid;
	
}
.saved_successfully1 .saved_successfully_wrap1 .dlog-top{
	width: 500px;
	height: 40px;
	background: #fff;
	border-bottom:1px #fea97a dashed;
}
.saved_successfully1 .saved_successfully_wrap1 .dlog-top span{
	line-height: 40px;
	color:#44484d;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
}
.saved_successfully1 .saved_successfully_wrap1 .dlog-top img{
	float: right;
	padding-top: 10px;
	padding-right: 15px;
	cursor: pointer;
}
.saved_successfully1 .saved_successfully_wrap1 .saved_bottom{
	width: 501px;
	height:232px;
	background: #f3f3f3; 
	border-top:0;
}
#save_b_p{
	width:450px;
	margin:0 auto;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding:30px 10px 0 10px;
	height:70px;
	border-bottom:1px #c9c9c9 dashed;
}
.route{
	width:445px;
	padding-top:10px;
	margin:0 auto;
}
.route h5{
	font-size:14px;
	line-height:40px;
	float:left;
	font-weight:bold;
}
.route input{
	margin-top:8px;
}
.route .save_location{
	width:290px;
	height:25px;
	line-height:25px;
}
.route .browse{
	width:70px;
	height:27px;
	line-height:25px;
	border:1px #A6A6A6 solid;
	background:#F5F5F5;
	text-align:center;
	margin-left:10px;
}
.save_btn{
	width:97px;
	height:29px; 
	color:#fff;
	font-size:14px;
	line-height:28px;
	background: #ff9d34;
	border: none; 
	text-align:center;
}
#save_b_btn{
	width:100px;
	margin:15px auto;
}
.qwe_h3_span{
	float:left;
	display:block;
	background: url('../../myplanbook/images/bg.png');
	background-position: -99px -97px; 
	width:17px;
	height:24px;
	margin-top:3px;
}
.saveJA{
	color: #fff;
	font-size:16px;
	background: #ff9d34;
	cursor: pointer;
	width: 108px;
	height: 30px;
	margin-left:6px;
	float: right;
	border:none;
	margin-top:3px;
	margin-right:4px;
}