html,body{
	font-family: "Microsoft Yahei"; 
	color: #474747;
}
.Record_management{
	height: 626px;
	width: 1200px;
	margin:10px auto; 
	background: #fff; 
}
.Record_management1{
	height: 570px;
	width: 1000px;
	margin:10px auto;  
}
.Record_management_l{
	width: 400px;
	height: 626px;
	float: left; 
}
.Record_management_l dl{
	margin-top:100px;
}
.Record_management_l dl dd{ 
	background: url(../images/bg.png);
	background-position:0 0;
	width:192px;
	height:192px;
	margin:0 auto;
} 
.Record_management_l dl dt{
	margin-top: 40px;
}
.Record_management_l dl dt span{
	display: inline-block;
	width: 400px;
	height: 35px;
	line-height: 35px;
	text-align: center; 
	font-size: 14px;
}
.Record_management_c{
	width: 400px;
	height: 626px;
	float: left; 
}
.Record_management_c dl{ 
	margin-top: 100px;
}
.Record_management_c dl dd{
	background: url(../images/bg.png);
	background-position:-194px 0;
	width:192px;
	height:192px;
	margin:0 auto;
} 
.Record_management_c dl dt{
	margin-top: 40px;
}
.Record_management_c dl dt span{
	display: inline-block;
	width: 400px;
	height: 35px;
	line-height: 35px;
	text-align: center; 
	font-size: 14px;
}
.Record_management_r{
	width: 400px;
	height: 626px;
	float: left;
	cursor: pointer;
}
.Record_management_r dl{ 
	margin-top: 100px;
}
.Record_management_r dl dd{
	background: url(../images/bg.png);
	background-position:-389px 0;
	width:192px;
	height:192px;
	margin:0 auto;
} 
.Record_management_l dl dd a{
	display:block;
	width:192px;
	height:192px;
}
.Record_management_c dl dd a{
	display:block;
	width:192px;
	height:192px;
}
.Record_management_r dl dd a{
	display:block;
	width:192px;
	height:192px;
}
.Record_management_r dl dt{
	margin-top: 40px;
}
.Record_management_r dl dt span{
	display: inline-block;
	width: 400px;
	height: 35px;
	line-height: 35px;
	text-align: center; 
	font-size: 14px;
}
.record_title{
	width: 930px;
	height: 60px;
}
.record_title h3{
	font-size: 18px;
	height: 60px;
	line-height: 50px;
	width: 120px;
	padding-left: 20px;
	font-weight: bold;
	float: left;
}
.record_title form{
	float: right;
	padding-top:15px;
	padding-right: 20px;
}
.record_title form select{
	border-radius: 5px;
	width: 100px;
	height: 22px;
}
.record_number dl{
	width: 120px;
	height: 25px;
	margin-left: 20px;
}
.record_number dl dd{
	float: left;
}
.record_number dl dd img{
	display: block;
}
.record_number dl dt{
	float: left;
	line-height: 20px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
}
.trend_chart{
	width: 890px;
	margin:0 auto;
	height: 350px;
	border-bottom: 1px #525252 solid;
}
.trend_chart_1{
	width: 100px;
	height: 350px;
	margin-left: 60px;
}
.trend_chart_1 p.p1{
	width: 6px;
	background: #7dd755;
	height: 40%;
	float: left;
	margin-right: 10px;
}
.trend_chart_1 p.p2{
	width: 6px;
	background: #8c3535;
	height: 70%;
	float: left;
	margin-right: 10px;
}
.trend_chart_1 p.p3{
	width: 6px;
	background: #ff6000;
	float: left;
	height: 30%;
}


.histogram-container{
	position:relative;
}
.histogram-bg-line{
	border-width:0 1px 1px 1px;
	border-right-color:#eee;
	overflow:hidden;
	width:99%;
}
.histogram-bg-line ul{
	overflow:hidden;
}
.histogram-bg-line li{
	float:left;
	width:20%;
	overflow:hidden;
}
.histogram-bg-line li div{}
.histogram-content{
	position:absolute;
	left:0px;
	top:51px;
	width:99%;
	height:100%;
}
.histogram-content ul{
	height:100%;
}
.histogram-content li{
	float:left;
	height:100%;
	width:20%;
	text-align:center;
	position:relative;
}
.histogram-box{
	position:relative;
	display:inline-block;
	height:100%;
	width:6px;
	margin-right:5px;
}
.histogram-content li a{
	position:absolute;
	bottom:0;
	right:0;
	display:block;
	width:6px;
}
.histogram-content li .name{
	position:absolute;
	bottom:-20px;
	left:0px;
	white-space:nowrap;
	display:inline-block;
	width:100%;
	font-size:14px;
}
.histogram-content li .name1{
	position:absolute;
	bottom:-40px;
	left:0px;
	white-space:nowrap;
	display:inline-block;
	width:100%;
	font-size:14px;
	color:#51c7f8;
	text-decoration: underline;
}
.histogram-y{position:absolute;
	left:-60px;
	top:-10px;
	font:12px/1.8 verdana,arial;
}
.histogram-y li{
	text-align:right;
	width:55px;
	padding-right:5px;
	color:#333;
}
.histogram-bg-line li div,.histogram-y li{
	height:60px;
}
.numbg{
	position: absolute;
	top: -18px;
	left: -6px;
	background: url('../images/4.png') no-repeat;
	width: 18px;
	height: 22px;
}
.numbg1{
	position: absolute;
	top: -18px;
	left: -6px;
	background: url('../images/5.png') no-repeat;
	width: 18px;
	height: 22px;
}
.numbg2{
	position: absolute;
	top: -18px;
	left: -6px;
	background: url('../images/6.png') no-repeat;
	width: 18px;
	height: 22px;
}
.num{
	position: absolute;
	top: -18px;
	left: 0;
	text-decoration: none;
}
.Record_management_share{
	height:570px;
	width: 930px;
	margin:10px auto;
	border: 1px #cfcfcf solid;
	background: url('../images/contbg.png') repeat-y;
	border-radius: 6px;
}
.Record_management_share_tab{
	height: 32px;
	width: 930px;
	border-bottom:1px #595959 dashed;
	padding-top: 10px;
}
.Record_management_share_tab ul{
	width: 300px;
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 10px;
}
.Record_management_share_tab ul li{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border:1px #51c7f8 solid;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
}
.Record_management_share_act{
	color: #fff;
	background: #51c7f8;
}
.Record_management_share_tab form{
	float: right;
	margin-top: 8px;
	padding-right: 20px;
}
.Record_management_share_tab form input{
	margin-top: -2px;
}
.Record_management_share_cont{
	width: 900px;
	border-radius: 6px;
	height: 500px;
	margin:10px auto;
	border:1px #c1c1c1 solid;
}
.Record_management_share_cont_l{
	width: 50%;
	height: 500px;
	float: left;
	border-right:1px #51c7f8 dashed;
	overflow: auto;
}
.Record_management_share_cont_l h3{
	height: 35px;
	width: 110px;
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #ededed;
	border-top-left-radius: 6px;
}
.Record_management_share_cont_r{
	width: 49%;
	height: 555px;
	float: left;
}
.Record_management_share_cont_r h3{
	height: 35px;
	width: 110px;
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #ededed;
	border-top-left-radius: 6px;
}
.share_cont_l:hover{
	border:1px #51c7f8 solid;
}
.share_cont_l{
	width: 135px;
	height: 132px;
	border:1px #fff solid;
	margin-top: 10px;
	margin-left: 5px;
	float: left;
	position: relative;
	cursor: pointer;
}
.share_cont_l dl{}
.share_cont_l dl dd{
	margin-top: 17px;
}
.share_cont_l dl dd img{
	display: block;
	width: 64px;
	height: 63px;
	margin:0 auto;
}
.share_cont_l dl dt{
	margin-top: 5px;
}
.share_cont_l dl dt span{
	width: 132px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}
.have_comments{
	position: absolute;
	background: url('../images/7.png') no-repeat;
	width: 45px;
	height: 45px;
	text-align: center;
	right: 14px;
	top: 3px;
	color:#fff;
	font-size: 12px;
	line-height: 14px;
	padding-top: 9px;
}



.resources_view{
	width: 928px;
	height: auto;
	padding-bottom: 10px;
	margin:10px auto;
	border:1px #bdbdbd solid;
	border-radius: 7px;
	background: url('../images/contbg.png') repeat-y;
}
.resources_view_cont{
	width: 928px;
	height: auto;
	margin:10px auto;
	position: relative;
	background: #fff;
}
.see_word h5{
	width: 870px;
	height:50px;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
}
.see_word h6{
	width: 870px;
	height: 40px;
	font-size: 14px;
	text-align: center;
	line-height:40px;
}
.see_word_big{
	width: 100%;
	height: 560px;
	overflow: hidden;
	position: relative;
}
.see_word{
	width: 900px;
	height: 560px;
	overflow: auto;
	border:1px #cecece solid;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	margin:0 15px;
}
.Send_message{
	position: absolute;
	width: 230px;
	height:150px;
	background: #f7f7f7;
	border:1px #c2c2c2 solid;
	right: 66px;
	top: 50px;
}
.Send_message dl{}
.Send_message dl dd{
	float: left;
	width: 110px;
	height: 90px;
}
.Send_message dl dd img{
	display: block;
	margin:20px auto;
}
.Send_message dl dt{
	float: left;
	width: 110px;
	height: 90px;
	padding-top: 24px;
	padding-left: 10px;
}
.Send_message dl dt span{
	width: 110px;
	display: inline-block;
	line-height: 25px;
}
.send{
	width: 100px;
	height: 26px;
	background: url('../images/send.png') no-repeat;
	margin-left: 65px;
	border: 0;
	cursor: pointer;
}
.see_word img{
	width: 810px;
	height: 550px;
}
.see_word_nav{
	width: 900px;
	height: 40px;
	border:1px #cecece solid;
	position: relative;
	margin:0 15px 0 15px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.see_word_Annex{
	width: 900px;
	height:100px;
	border:1px #cecece solid;
	position: relative;
	margin:0 15px 0 15px;
	border-top: none;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.see_word_Annex h6{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding-left: 20px;
}
.see_word_Annex dl{
	width:35px;
	height: 45px;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
.see_word_Annex dl dd{
	width:35px;
	height: 25px;
}
.see_word_Annex dl dd img{
	display: block;
	width: 26px;
	height: 25px;
	margin: 0 auto;
}
.see_word_Annex dl dt{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
}
.see_word_nav input{
	 float: left;
}
.see_word_nav ul{
	height: 40px;
	text-align: center;
}
.see_word_nav_1{
	display: inline-block;
	width: 75px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	/* border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border:1px #51c7f8 solid; */
	border-top:none;
	margin-right: 10px;
	color:#51c7f8;
	font-size: 14px;
}
.see_word_nav_act{
	background: #51c7f8;
	border-top:1px #51c7f8 solid;
	border-top:none;
	color:#fff;
	margin-top: -1px;
	font-weight: bold;
	 border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.see_word h3{
	width: 680px;
	text-align: left;
	font-size: 14px;
	line-height: 25px;
	height: 25px;
	margin-top:5px;
	color:#878787;
	padding-left: 100px;
}
.resources_view_cont1{
	width: 897px;
	height: 147px;
	margin:0 auto;
}
.resources_view_cont1 h3{
	text-align: left;
	font-size: 14px;
	line-height: 25px;
	height: 25px;
	margin-top:5px;
	font-weight: bold;
	float: left;
}
.resources_view_cont1 h4{
	text-align: left;
	font-size: 12px;
	line-height: 25px;
	height: 25px;
	margin-top:5px;
	float: right;
	color: #aeaeae;
}
.txtarea_1{
	width: 893px;
	height: 90px;
	border-radius: 7px;
	border:1px #cdcdcd solid;
}
.complete{
	width: 91px;
	height: 26px;
	background: url('../images/Complete.png') no-repeat;
	border: none;
	margin-left: 400px;
	margin-top: 7px;
}
.word_tab_3{
	width: 897px;
	height: auto;
	margin:10px auto;
}
.word_tab_3 h3{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 650px;
	text-align: left;
	float: left;
	padding-left: 10px;
}

.word_tab_3 h4{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 124px;
	float: right;
	text-align: right;
	padding-left: 10px;
}
.word_tab_3_cont{
	width: 893px;
	height: auto;
	border-radius: 7px;
	border:1px #bdbdbd solid;
	background: #fff;
}

.check-bottom_1{
	width: 893px;
	height: auto;
	padding-bottom: 15px;
	border-radius: 5px;
	margin:0 auto;
}
.check-bottom_1 .check-bottom_1_left{
	width: 90px;
	height: 100px;
	float: left;
	text-align: center;
}
.check-bottom_1 .check-bottom_1_left img{
	display: block;
	margin:5px 0 0 13px;
 	vertical-align:middle;
}
.check-bottom_1 .check-bottom_1_right{

}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_top{
	width: 874px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 3px;
	color:#ff5e5e;
}
.check-bottom_1_right_top1{
	width: 874px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 3px;
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm{
	width: 870px;
	height: 23px;
	line-height: 20px;
	font-size: 14px;
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm span{
	color:#838383;
	float: right;
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm strong{
	color:#45a5fe;
	float: right;
}
#container{
	width:1200px;
	height:490px;
	margin:10px auto;
}
.managerCont_title{
	height:40px;
	float: right;
	padding-right:60px;
}
.managerCont_title form{
	height:20px;
	margin-top:13px;
}
.managerCont{
	width:1200px;
	height:580px;
	margin:0 auto;
	background:#fff;
}