.content {
	border-top: 0.083rem #fe7e37 solid;
	width: 100%;
	background: #f7f8f9;
}

.content_top {
	width: 85%;
	height: 6.417rem;
	margin: 0 auto;
	border-bottom: 0.083rem #fe7e37 solid;
}

.content_b {
	position: absolute;
	width: 100%;
	top: 11.6rem;
	bottom: 0;
	overflow: hidden;
	background: #f7f8f9;
}

.label_div {
	float: left;
	width: 5rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.333rem;
}

.gradeh4 span {
	float: left;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.333rem;
}

.p_option {
	background: url(../../activity/images/fq_icon.png) no-repeat -3px -94px;
	font-size: 1.333rem;
	height: 2.5rem;
	width: 9rem;
	line-height: 2.5rem;
	text-align: left;
	display: block;
	float: left;
	padding-left: 0.1rem;
	margin-right: 1rem;
	margin-top: 0.5rem;
	cursor: pointer;
}

.p_act {
	color: #fff;
	background: url(../../activity/images/fq_icon.png) no-repeat -3px -135px;
}

.btn_jd {
	width: 12rem;
	height: 3rem;
	background: #fe7e37;
	font-size: 1.333rem;
	color: #fff;
	line-height: 3rem;
	margin-top: 2.833rem;
	display: block;
	margin-right: 1rem;
	float: right;
	cursor: pointer;
}

.btn_jyq {
	width: 10rem;
	height: 3rem;
	background: #fe7e37;
	font-size: 1.333rem;
	cursor: pointer;
	color: #fff;
	line-height: 3rem;
	margin-top: 2.833rem;
	display: block;
	margin-right: 1rem;
	float: right;
}

.btn_launch {
	width: 12rem;
	height: 3rem;
	background: #1aa97b;
	font-size: 1.333rem;
	color: #fff;
	line-height: 3rem;
	margin-top: 2.833rem;
	display: block;
	margin-right: 3rem;
	float: right;
	cursor: pointer;
}

.btn_jdb {
	width: 10rem;
	height: 3rem;
	background: #1aa97b;
	font-size: 1.333rem;
	color: #fff;
	line-height: 3rem;
	margin-top: 2.833rem;
	display: block;
	margin-right: 3rem;
	float: right;
	cursor: pointer;
}

.draft {
	width: 10rem;
	height: 3rem;
	line-height: 3rem;
	background: url(../../activity/images/draft.png) no-repeat left center;
	float: left;
	margin-top: 2.833rem;
	margin-left: 3rem;
	font-size: 1.333rem;
	color: #bdbdbd;
	padding-left: 4rem;
	cursor: pointer;
}

.content_bottom {
	width: 100%;
	position: absolute;
	top: 11.6rem;
	bottom: 0;
	overflow: hidden;
	background: #f7f8f9;
}

.activity_tch {
	width: 80%;
	height: auto;
	border: 0.083rem #e3e3e3 solid;
	background: #fff;
	border-radius: 0.333rem;
	margin: 1.5rem auto;
	position: relative;
}

.activity_tch_left {
	width: 2.6rem;
	height: 12.083rem;
	background: url(../../activity/images/act_bg.png) no-repeat left top;
	float: left;
	margin-left: 1.2rem;
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.4rem;
	color: #fff;
	text-align: center;
	padding-top: 0.5rem;
}

.activity_tch_left1 {
	width: 2.6rem;
	height: 12.083rem;
	background: url(../../activity/images/act_bg.png) no-repeat right top;
	float: left;
	margin-left: 1.2rem;
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.4rem;
	color: #fff;
	text-align: center;
	padding-top: 0.5rem;
}

.activity_tch_left2 {
	width: 2.6rem;
	height: 12.083rem;
	background: url(../../activity/images/act_bg1.png) no-repeat;
	float: left;
	margin-left: 1.2rem;
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.4rem;
	color: #fff;
	text-align: center;
	padding-top: 0.5rem;
}

.activity_tch_left3 {
	width: 2.6rem;
	height: 12.083rem;
	background: url(../../activity/images/act_bg2.png) no-repeat right top;
	float: left;
	margin-left: 1.2rem;
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.4rem;
	color: #fff;
	text-align: center;
	padding-top: 0.5rem;
}

.activity_tch_right {
	width: 90%;
	float: left;
	height: auto;
	position: relative;
}

.activity_tch_right h3 {
	width: 27.5rem;
	height: 4.417rem;
	border-bottom: 0.083rem #ebf5fb solid;
}

.activity_tch_right span.title {
	color: #696969;
	font-size: 1.333rem;
	height: 4.417rem;
	line-height: 4.417rem;
	float: left;
	margin-right: 2rem;
}

.activity_tch_right span.end {
	display: block;
	width: 3.667rem;
	height: 4.417rem;
	background: url(../../activity/images/yjs.png) no-repeat left center;
	float: left;
}

.activity_tch_right span.y_share {
	display: block;
	width: 6.333rem;
	height: 6.333rem;
	background: url(../images/share.png) no-repeat left center;
	position: absolute;
	right: 17rem;
	top: 0.4rem;
}

.activity_tch_right span.y_submit {
	display: block;
	width: 6.333rem;
	height: 6.333rem;
	background: url(../images/submit.png) no-repeat left center;
	position: absolute;
	right: 10rem;
	top: 0.4rem;
}

.activity_gl_right {
	width: 80%;
	float: left;
	height: auto;
	cursor: pointer;
}

.activity_gl_right h3 {
	width: 27.5rem;
	height: 4.417rem;
	border-bottom: 0.083rem #ebf5fb solid;
}

.activity_gl_right span.title {
	color: #696969;
	font-size: 1.333rem;
	height: 4.417rem;
	line-height: 4.417rem;
	float: left;
	margin-right: 2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 21rem;
	display: inline-block;
}

.activity_gl_right span.end {
	display: block;
	width: 3.667rem;
	height: 4.417rem;
	background: url(../../activity/images/yjs.png) no-repeat left center;
	float: left;
}

.option {
	clear: both;
}

.promoter {
	height: 3.583rem;
	color: #696969;
	font-size: 1.167rem;
	line-height: 3.583rem;
	float: left;
	margin-right: 3rem;
}

.promoter strong {
	width: 1.4rem;
	height: 3.583rem;
	background: url(../../activity/images/act_icon.png) no-repeat left
		center;
	display: block;
	float: left;
	margin-right: 1rem;
}

.partake_sub {
	height: 3.583rem;
	color: #696969;
	font-size: 1.167rem;
	line-height: 3.583rem;
	float: left;
	margin-right: 3rem;
}

.partake_sub strong {
	width: 1.4rem;
	height: 3.583rem;
	background: url(../../activity/images/act_icon.png) no-repeat -22px
		center;
	display: block;
	float: left;
	margin-right: 1rem;
}

.partake_class {
	height: 3.583rem;
	color: #696969;
	font-size: 1.167rem;
	line-height: 3.583rem;
	float: left;
}

.partake_class strong {
	width: 1.4rem;
	height: 3.583rem;
	background: url(../../activity/images/act_icon.png) no-repeat -42px
		center;
	display: block;
	float: left;
	margin-right: 1rem;
}

.time {
	height: 3.583rem;
	color: #696969;
	font-size: 1.167rem;
	line-height: 3.583rem;
	float: left;
	margin-right: 2rem;
}

.time strong {
	width: 1.4rem;
	height: 3.583rem;
	background: url(../../activity/images/act_icon.png) no-repeat -64px
		center;
	display: block;
	float: left;
	margin-right: 1rem;
}

.discussion_number {
	height: 3.583rem;
	color: #696969;
	font-size: 1.167rem;
	line-height: 3.583rem;
	float: left;
	margin-right: 2rem;
}

.discussion_number strong {
	width: 1.4rem;
	height: 3.583rem;
	background: url(../../activity/images/act_icon.png) no-repeat -82px
		center;
	display: block;
	float: left;
	margin-right: 1rem;
}

.partake_school {
	height: 3.583rem;
	color: #fe7e37;
	font-size: 1.167rem;
	line-height: 3.583rem;
	float: left;
}

.partake_school strong {
	width: 1.4rem;
	height: 3.583rem;
	background: url(../../activity/images/act_icon1.png) no-repeat center;
	display: block;
	float: left;
	margin-right: 1rem;
}

.partake_school span {
	color: #fe7e37;
}

.partake_q {
	height: 3.583rem;
	color: #fe7e37;
	font-size: 1.167rem;
	line-height: 3.583rem;
	float: left;
}

.partake_q strong {
	width: 1.4rem;
	height: 3.583rem;
	background: url(../images/jyq.png) no-repeat center;
	display: block;
	float: left;
	margin-right: 1rem;
}

.partake_q span {
	color: #fe7e37;
}

.activity_gl_btn {
	width: 10%;
	height: 12.083rem;
	float: left;
	position: relative;
}

.gl_btn {
	width: 7.167rem;
	height: 2.7rem;
	line-height: 2.7rem;
	border: 0.167rem #fe7e37 solid;
	border-radius: 0.7rem;
	background: none;
	font-size: 1.5rem;
	margin-top: 6rem;
	color: #fe7e37;
	text-align: center;
	cursor: pointer;
}

.activity_option {
	position: absolute;
	width: 17rem;
	height: 9rem;
	left: -5rem;
	top: 0;
	display: none;
}

.activity_option_close {
	width: 3em;
	height: 3em;
	background: url(../../../common/images_m/close.png) no-repeat;
	position: absolute;
	bottom: 0;
	right: 6.7rem;
	cursor: pointer;
}

/* 閿熸嵎闈╂嫹閿熸枻鎷�*/
.act_draft_wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 102;
	display: none;
}

.act_draft {
	width: 80rem;
	height: 38rem;
	position: absolute;
	left: 50%;
	margin-left: -40rem;
	top: 15%;
	background: #fff;
	z-index: 101;
}

.act_draft_title {
	width: 80rem;
	height: 4.083rem;
	background: #f4f4f4;
	border-bottom: 0.083rem #dbdbdb solid;
}

.act_draft_title h3 {
	width: 76rem;
	height: 4.083rem;
	text-align: center;
	font-size: 1.5rem;
	color: #666666;
	line-height: 4.083rem;
	float: left;
}

.act_draft_title span {
	width: 2rem;
	float: right;
	height: 2rem;
	display: block;
	margin-right: 1.2rem;
	margin-top: 1.3rem;
	cursor: pointer;
	background: url(../../activity/images/close.png) no-repeat;
}

.act_draft_content {
	width: 80rem;
	height: 33.5rem;
	position: absolute;
	top: 4.3rem;
	bottom: 0;
	overflow: hidden;
}

.draft_list {
	width: 36.8rem;
	height: 11.667rem;
	display: inline-block;
	margin-left: 2rem;
	margin-top: 2rem;
	border: 0.083rem #e3e3e3 solid;
}

.draft_list_left {
	width: 2.6rem;
	height: 11.667rem;
	background: url(../../activity/images/act_bg.png) no-repeat left top;
	float: left;
	margin: 0 1.2rem;
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: #fff;
	text-align: center;
	padding-top: 0.5rem;
}

.draft_list_left1 {
	width: 2.6rem;
	height: 11.667rem;
	background: url(../../activity/images/act_bg.png) no-repeat right top;
	float: left;
	margin: 0 1.2rem;
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: #fff;
	text-align: center;
	padding-top: 0.5rem;
}

.draft_list_right {
	width: 31.8rem;
	float: left;
	height: 11.667rem;
}

.draft_list_right h3 {
	width: 31.8rem;
	height: 4.417rem;
	border-bottom: 0.083rem #ebf5fb solid;
}

.draft_list_right span.title {
	color: #696969;
	font-size: 1.333rem;
	height: 4.417rem;
	line-height: 4.417rem;
	float: left;
	margin-right: 2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 32rem;
	display: inline-block;
}

.draft_list_right ul {
	height: 4.5rem;
	margin-top: 1.5rem;
}

.draft_list_right ul li {
	float: left;
	width: 15.5rem;
	height: 4.5rem;
	line-height: 4.5rem;
	border-right: 0.083rem #ebf5fb solid;
	font-size: 1.333rem;
	cursor: pointer;
}

.draft_list_right ul li span {
	display: inline-block;
	padding-left: 8rem;
	height: 4.5rem;
	width: 7.5rem;
	line-height: 4.5rem;
}

.draft_list_right ul li.edit {
	display: block;
	background: url(../../../common/images_m/edit.png) no-repeat 42px center;
	color: #37b4f0;
}

.draft_list_right ul li.del {
	display: block;
	background: url(../../../common/images_m/del.png) no-repeat 42px center;
	color: #ff5046;
}

.fq_option_wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 102;
	display: none;
}

.fq_option {
	width: 70rem;
	height: 13.333rem;
	position: absolute;
	left: 50%;
	margin-left: -35rem;
	top: 40%;
	z-index: 101;
	text-align: center;
}

.fq_option_tb {
	width: 13.333rem;
	height: 13.333rem;
	display: inline-block;
	background: url(../../activity/images/fqtb.png) no-repeat;
	cursor: pointer;
	margin-right: 1rem;
}

.fq_option_zt {
	width: 13.333rem;
	height: 13.333rem;
	display: inline-block;
	background: url(../../activity/images/fqzt.png) no-repeat;
	cursor: pointer;
	margin-right: 1rem;
}

.fq_option_sp {
	width: 13.333rem;
	height: 13.333rem;
	display: inline-block;
	background: url(../../activity/images/fqsp.png) no-repeat;
	cursor: pointer;
	margin-right: 1rem;
}

.fq_option_zb {
	width: 13.333rem;
	height: 13.333rem;
	display: inline-block;
	background: url(../../activity/images/fqzb.png) no-repeat;
	cursor: pointer;
}

.partake_school_wrap1 {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 102;
	display: none;
}

.partake_school_wrap {
	width: 40rem;
	height: 30rem;
	position: absolute;
	left: 50%;
	margin-left: -20rem;
	top: 20%;
	background: #fff;
	z-index: 101;
}

.partake_school_title {
	width: 40rem;
	height: 4.083rem;
	background: #f4f4f4;
	border-bottom: 0.083rem #dbdbdb solid;
}

.partake_school_title h3 {
	width: 36rem;
	height: 4.083rem;
	text-align: center;
	font-size: 1.5rem;
	color: #666666;
	line-height: 4.083rem;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.partake_school_title span {
	width: 2rem;
	float: right;
	height: 2rem;
	display: block;
	margin-right: 1.2rem;
	margin-top: 1.3rem;
	cursor: pointer;
	background: url(../../activity/images/close.png) no-repeat;
}

.partake_school_content {
	width: 40rem;
	height: 25.5rem;
	position: absolute;
	top: 4.3rem;
	bottom: 0;
	overflow: hidden;
}

.partake_school_content ul {
	width: 90%;
	margin: 0 auto;
}

.partake_school_content ul li {
	height: 3rem;
	line-height: 3rem;
	font-size: 1.333rem;
	border-bottom: 0.083rem #ebf5fb solid;
	width: 100%;
}

.partake_school_content ul li strong {
	width: 80%;
	float: left;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.partake_school_content ul li span {
	float: right;
	padding-right: 1.5rem;
}

.partake_school_content ul li a {
	padding-right: 1.5rem;
	float: right;
}

.partake_school_content ul li q {
	padding-right: 1.5rem;
	float: right;
}

.activity_tbja_wrap {
	width: 90%;
	min-height: 60.75rem;
	height: auto;
	background: #fff;
	margin: 1rem auto;
	padding-top: 2.667rem;
}

.option_jyq {
	width: 3.333rem;
	height: 3.333rem;
	position: absolute;
	margin: 0 auto;
	left: -1.5rem;
	background: url(../images/option_jyq.png) no-repeat;
}

.option_jyq_border {
	width: 0.083rem;
	border-left: 0.167rem #c7c7c7 solid;
	height: 5.625rem;
	margin: 0 auto;
}

.ja {
	width: 3.333rem;
	height: 3.333rem;
	margin: 0 auto;
	background: url(../../activity/images/fq_icon.png) no-repeat -184px -1px;
	position: absolute;
	left: -1.5rem;
}

.range1 {
	width: 3.333rem;
	height: 3.333rem;
	margin: 0 auto;
	background: url(../../activity/images/fq_icon.png) no-repeat -3px -1px;
	position: absolute;
	left: -1.5rem;
}

.activity_duration1 {
	width: 3.333rem;
	height: 3.333rem;
	margin: 0 auto;
	background: url(../../activity/images/fq_icon.png) no-repeat -48px -1px;
	position: absolute;
	left: -1.5rem;
}

.activity_duration1_border {
	width: 0.083rem;
	border-left: 0.167rem #c7c7c7 solid;
	height: 6.563rem;
	margin: 0 auto;
}

.activity_theme1 {
	width: 3.333rem;
	height: 3.333rem;
	margin: 0 auto;
	background: url(../../activity/images/fq_icon.png) no-repeat -93px -1px;
	position: absolute;
	left: -1.5rem;
}

.study_additional {
	width: 3.333rem;
	height: 3.333rem;
	margin: 0 auto;
	background: url(../../activity/images/fq_icon.png) no-repeat -138px -1px;
	position: absolute;
	left: -1.5rem;
}

.option_jyq_content {
	height: auto;
	position: relative;
	border-left: 2px #CDCDCD solid;
	margin-left: 3rem;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.option_jyq_content h3 {
	font-size: 1.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
}

.option_jyq_content h3 span {
	color: #ff5046;
}

.option_jyq_content select {
	width: 16rem;
	height: 2.4rem;
	border: 0.083rem #b2b2b2 solid;
	font-size: 1.167rem;
	float: left;
	cursor: pointer;
}

.option_jyq_class {
	margin-top: 1.5rem;
}

.see {
	color: #fe7e37;
	font-size: 1.333rem;
	width: 5rem;
	text-align: center;
	height: 2.4rem;
	line-height: 2.4rem;
	float: left;
	background: none;
	cursor: pointer;
}

.ja_content {
	height: auto;
	position: relative;
	border-left: 2px #CDCDCD solid;
	margin-left: 3rem;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.ja_content h3 {
	font-size: 1.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
}

.ja_content h3 span {
	color: #ff5046;
}

.ja_content h4 {
	font-size: 1.333rem;
	height: 4rem;
	float: left;
	line-height: 4rem;
}

.ja_content_class {
	float: left;
	width: 14rem;
	height: 4em;
	line-height: 4rem;
	margin-left: 2rem;
	font-size: 1.333rem;
}

.ja_content_zbr {
	float: left;
	width: 15rem;
	height: 4em;
	line-height: 4rem;
	margin-left: 2rem;
	font-size: 1.333rem;
}

.ja_content_zbtopic {
	float: left;
	width: 19rem;
	height: 4em;
	line-height: 4rem;
	margin-left: 2rem;
	font-size: 1.333rem;
}

.ja_content_class select {
	float: right;
	width: 9rem;
	margin-top: 1rem;
	height: 2.4rem;
	font-size: 1.167rem;
	border: 0.083rem #b2b2b2 solid;
	cursor: pointer;
}

.ja_content_zbr select {
	float: right;
	width: 9rem;
	margin-top: 1rem;
	height: 2.4rem;
	font-size: 1.167rem;
	border: 0.083rem #b2b2b2 solid;
	cursor: pointer;
}

.ja_content_zbtopic select {
	float: right;
	width: 12rem;
	margin-top: 1rem;
	height: 2.4rem;
	font-size: 1.167rem;
	border: 0.083rem #b2b2b2 solid;
	cursor: pointer;
}

.range1_content {
	height: auto;
	position: relative;
	border-left: 2px #CDCDCD solid;
	margin-left: 3rem;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.range1_content h3 {
	font-size: 1.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
}

.range1_content h3 span {
	color: #ff5046;
}

.range1_content h4 {
	font-size: 1.5rem;
	line-height: 4rem;
}

.act_tbja_btn {
	height: 10rem;
	border-top: 0.083rem #d5d5d5 solid;
	width: 85%;
	margin: 1.5rem auto;
	text-align: center;
}

.activity_wrap {
	width: 90%;
	min-height: 88rem;
	height: auto;
	background: #fff;
	margin: 1rem auto;
	padding-top: 2.667rem;
}

.activity_wrap_left {
	float: left;
	width: 8%;
}

.activity_wrap_left .range {
	width: 3.333rem;
	height: 3.333rem;
	margin: 0 auto;
	background: url(../../activity/images/fq_icon.png) no-repeat -3px -1px;
}

.activity_wrap_left .range_border {
	width: 0.083rem;
	border-left: 0.167rem #c7c7c7 solid;
	height: 11.917rem;
	margin: 0 auto;
}

.activity_duration {
	width: 3.333rem;
	height: 3.333rem;
	margin: 0 auto;
	background: url(../../activityimages/fq_icon.png) no-repeat -48px -1px;
}

.activity_wrap_left .activity_duration_border {
	width: 0.083rem;
	border-left: 0.167rem #c7c7c7 solid;
	height: 8.583rem;
	margin: 0 auto;
}

.activity_theme {
	width: 3.333rem;
	height: 3.333rem;
	margin: 0 auto;
	background: url(../../activity/images/fq_icon.png) no-repeat -93px -1px;
}

.activity_wrap_left .activity_theme_border {
	width: 0.083rem;
	border-left: 0.167rem #c7c7c7 solid;
	height: 23.75rem;
	margin: 0 auto;
}

.activity_wrap_right {
	float: left;
	width: 92%;
}

.range_content {
	height: 11.917rem;
	margin-bottom: 3.2rem;
}

.range_content h3 {
	font-size: 1.667rem;
	height: 3.5rem;
	line-height: 3.5rem;
}

.range_content h3 span {
	color: #ff5046;
}

.range_content h4 {
	font-size: 1.5rem;
	height: 4rem;
	line-height: 4rem;
}

.ja_content h4 select {
	float: right;
	width: 12rem;
	margin-top: 1rem;
	height: 2.4rem;
	font-size: 1.167rem;
	border: 0.083rem #b2b2b2 solid;
}

.range_class {
	float: left;
	font-size: 1.333rem;
	line-height: 4rem;
	width: 100%
}

.range_class h4 {
	font-size: 1.333rem;
	clear: both;
	width: 100%
}

.range_class h4 span {
	width: 5rem;
	float: left;
	display: inline-block;
}

.range_class h4 strong {
	width: 70%;
	float: left;
	font-weight: normal;
	display: inline-block;
}

.range_class p {
	display: inline-block;
	margin: 0.1rem 1rem;
}

.range_class p {
	background: url(../../activity/images/fq_icon.png) no-repeat -3px -94px;
	font-size: 1.333rem;
	height: 2.5rem;
	width: 7.567rem;
	line-height: 2.5rem;
	padding-left: 1.6rem;
}

.class_act a {
	color: #fff;
	display: block;
	padding-left: 1.6rem;
	margin-left: -1.6rem;
	width: 7.567rem;
	background: url(../../activity/images/fq_icon.png) no-repeat -3px -135px;
}

.activity_duration_content {
	height: auto;
	position: relative;
	border-left: 2px #CDCDCD solid;
	margin-left: 3rem;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.activity_theme_content1 {
	height: auto;
	position: relative;
	margin-left: 3rem;
	border-left: 2px #CDCDCD solid;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.activity_duration_content h3 {
	font-size: 1.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
}

.activity_duration_content h3 span {
	color: #999999;
	font-size: 1.333rem;
}

.activity_input {
	font-size: 1.5rem;
	height: 6rem;
	line-height: 6rem;
}

.activity_input input {
	border: 0.083rem #b2b2b2 solid;
	width: 16rem;
	height: 2.5rem;
	font-size: 1.333rem;
	background: url(../../activity/images/time.png) no-repeat left center;
	padding-left: 2.5rem;
	cursor: pointer;
}

.activity_theme_content {
	height: auto;
	position: relative;
	margin-left: 3rem;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.activity_theme_content h3 {
	font-size: 1.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
}

.activity_theme_content h3 span {
	color: #ff5046;
}

.activity_theme_content input {
	width: 86%;
	height: 3rem;
	border: 0.083rem #b2b2b2 solid;
	font-size: 1.333rem;
	color: #333333;
	padding: 0 1.3rem;
}

.activity_theme_content textarea {
	width: 86%;
	height: 15.5rem;
	border: 0.083rem #b2b2b2 solid;
	font-size: 1.333rem;
	color: #333333;
	padding: 0 1.3rem;
}

.study_additional_content {
	height: auto;
	position: relative;
	margin-left: 3rem;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.study_additional_content h3 {
	font-size: 1.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
}

.study_additional_content h3 span {
	color: #ff5046;
}

.study_additional_content_l {
	width: 10.333rem;
	height: 15rem;
	float: left;
	position: relative;
	overflow: hidden;
}

.add_study {
	margin: 4.5rem auto 0 auto;
	width: 6.667rem;
	height: 6.667rem;
	border: 0.083rem #cccccc dashed;
}

.add_study p {
	width: 3rem;
	height: 3rem;
	background: url(../../activity/images/fq_icon.png) no-repeat -6px -53px;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5rem;
}

.add_study span {
	text-align: center;
	width: 6.667rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.167rem;
	display: inline-block;
}

.study_additional_content_r {
	width: 75%;
	height: auto;
	min-height: 16rem;
	float: left;
	border-left: 0.083rem #cccccc solid;
}

.add_study_content {
	width: 31.667rem;
	height: 3.333rem;
	background: #e3eaf4;
	margin-left: 2rem;
	float: left;
	margin-bottom: 1rem;
}

.add_study_content_l {
	width: 1.667rem;
	height: 2.5rem;
	float: left;
	background: url(../../activity/images/fq_icon.png) no-repeat -234px -1px;
	margin: 0 1rem 0 1.5rem;
}

.add_study_content_c {
	width: 24rem;
	height: 3.333rem;
	float: left;
}

.complete {
	width: 18rem;
	height: 1rem;
	text-align: left;
	color: #1aa97b;
	line-height: 0.5rem;
	font-size: 1.167rem;
}

.schedule {
	width: 18rem;
	height: 0.5rem;
	background: #b7bcc4;
	border-radius: 0.3rem;
}

.schedule strong {
	width: 60%;
	background: #1aa97b;
	height: 0.5rem;
	display: block;
	border-radius: 0.4rem;
}

.add_study_content_c span {
	display: block;
	font-size: 1.167rem;
	height: 2.3rem;
	line-height: 2.3rem;
}

.add_study_content_r {
	width: 3.5rem;
	height: 3.333rem;
	float: left;
	color: #0f0c98;
	line-height: 3.333rem;
	font-size: 1.333rem;
	cursor: pointer;
	background: none;
	border: none;
}

.act_ztyt_btn {
	height: 8rem;
	border-top: 0.083rem #d5d5d5 solid;
	width: 85%;
	margin: 5rem auto;
	text-align: center;
}

.content_bottom1 {
	width: 100%;
	position: absolute;
	top: 5rem;
	bottom: 0;
	overflow: hidden;
	background: #f7f8f9;
}

.release {
	width: 8.833rem;
	height: 3rem;
	background: url(../../activity/images/fq_icon.png) no-repeat -126px
		-89px;
	border: none;
	display: inline-block;
	margin-top: 3rem;
	margin-right: 8.833rem;
	cursor: pointer;
}

.modify {
	width: 8.833rem;
	height: 3rem;
	background: url(../../activity/images/modify.png) no-repeat;
	border: none;
	display: inline-block;
	margin-top: 3rem;
	margin-right: 8.833rem;
	cursor: pointer;
}

.no-modify {
	width: 8.833rem;
	height: 3rem;
	background: url(../../activity/images/no-modify.png) no-repeat;
	border: none;
	display: inline-block;
	margin-top: 3rem;
	margin-right: 8.833rem;
	cursor: pointer;
}

.deposit_draft {
	width: 8.833rem;
	height: 3rem;
	background: url(../../activity/images/fq_icon.png) no-repeat -126px
		-133px;
	border: none;
	display: inline-block;
	margin-top: 3rem;
	cursor: pointer;
}
/* 閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹 */

/* 閿熻緝杈炬嫹閿熶茎纭锋嫹閿熸枻鎷峰紡 */
.study_additional_content_l input {
	position: absolute;
	width: 10.333rem;
	height: 10rem;
	left: 0;
	top: 0;
	opacity: 0;
}

.act_modify_btn {
	position: absolute;
	width: 100%;
	height: 4rem;
	background-color: #fff;
	bottom: 0;
}

.act_modify_btn .input {
	display: block;
	background-color: #fe7e37;
	color: #fff;
	font-size: 1.667rem;
	width: 10rem;
	height: 3rem;
	margin: 0.5rem auto;
}

.act_modify_btn .input1 {
	display: block;
	background-color: #828282;
	color: #fff;
	font-size: 1.667rem;
	width: 10rem;
	height: 3rem;
	margin: 0.5rem auto;
}
/* 閿熻緝杈炬嫹閿熶茎纭锋嫹閿熸枻鎷峰紡 */

/* dlog  add */
.add_upload_wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 102;
	display: none;
}

.add_upload_wrap1 {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 103;
	display: none;
}

.add_upload {
	width: 45rem;
	height: 38rem;
	position: absolute;
	left: 50%;
	margin-left: -22.5rem;
	top: 15%;
	background: #fff;
	z-index: 104;
}

.add_upload_title {
	width: 45rem;
	height: 4.083rem;
	background: #f4f4f4;
	border-bottom: 0.083rem #dbdbdb solid;
}

.add_upload_title h3 {
	width: 42rem;
	height: 4.083rem;
	text-align: center;
	font-size: 1.5rem;
	color: #666666;
	line-height: 4.083rem;
	float: left;
}

.add_upload_title span {
	width: 1.583rem;
	float: right;
	height: 1.667rem;
	display: block;
	margin-right: 1.2rem;
	cursor: pointer;
	margin-top: 1.3rem;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-7px -37px;
}

.add_upload_content {
	width: 45rem;
	height: 29.25rem;
}

.add_upload_content form {
	padding-top: 2rem;
}

.add_upload_content form .form_input {
	clear: both;
	height: 3.5rem;
	margin-bottom: 1.2rem;
	margin-left: 5.7rem;
	position: relative;
}

.add_upload_content form div .menu_list1 {
	left: 50%;
	margin-left: -9rem;
	top: 4rem;
	position: absolute;
	z-index: 2;
	width: 18.25rem;
	height: 31rem;
	display: none;
}

.add_upload_content form div .menu_list2 {
	left: 50%;
	top: 4rem;
	margin-left: -9rem;
	position: absolute;
	z-index: 2;
	width: 18.25rem;
	height: 31rem;
	display: none;
}

.add_upload_content form div .menu_list3 {
	left: 50%;
	margin-left: -9rem;
	top: 4rem;
	position: absolute;
	z-index: 2;
	width: 18.25rem;
	height: 31rem;
	display: none;
}

.add_upload_content form div .menu_list1 .menu_list_top {
	width: 2.333rem;
	height: 1.25rem;
	display: block;
	margin: 0 auto;
	background: url(../../courseware/images/menu_top.png) no-repeat;
}

.add_upload_content form div .menu_list2 .menu_list_top {
	width: 2.333rem;
	height: 1.25rem;
	display: block;
	margin: 0 auto;
	background: url(../../courseware/images/menu_top.png) no-repeat;
}

.add_upload_content form div .menu_list3 .menu_list_top {
	width: 2.333rem;
	height: 1.25rem;
	display: block;
	margin: 0 auto;
	background: url(../../courseware/images/menu_top.png) no-repeat;
}

.add_upload_content form div .menu_list_wrap1 p.act {
	background: url(../../courseware/images/act.png) no-repeat 13rem 0.9rem;
	display: block;
	display: -webkit-box;
	background-size: 12% 50%;
}

.add_upload_content form div .menu_list_wrap1 {
	background: #f3f2f2;
	height: auto;
	min-height: 4rem;
	max-height: 14rem;
	list-style: none;
	border-radius: 0.5rem;
	border: 0.083rem #DBDBDB solid;
	position: relative;
	overflow: hidden;
}

#fileToUpload_1 {
	cursor: pointer;
}

.add_upload_content form div .menu_list_wrap1 p {
	height: 3.167rem;
	line-height: 3.167rem;
	font-size: 1.167rem;
	color: #4f4f4f;
	padding-left: 0.417rem;
	border-bottom: 0.083rem #b7b7b7 dotted;
	cursor: pointer;
}

.add_upload_content form div .menu_list_wrap2 {
	background: #f3f2f2;
	height: auto;
	min-height: 4rem;
	max-height: 14rem;
	list-style: none;
	border-radius: 0.5rem;
	border: 0.083rem #DBDBDB solid;
	position: relative;
	overflow: hidden;
}

.add_upload_content form div .menu_list_wrap2 p {
	height: 3.167rem;
	line-height: 3.167rem;
	font-size: 1.167rem;
	color: #4f4f4f;
	padding-left: 0.417rem;
	border-bottom: 0.083rem #b7b7b7 dotted;
}

.add_upload_content form div .menu_list_wrap3 {
	background: #f3f2f2;
	height: auto;
	min-height: 4rem;
	max-height: 14rem;
	list-style: none;
	border-radius: 0.5rem;
	border: 0.083rem #DBDBDB solid;
	position: relative;
	overflow: hidden;
}

.add_upload_content form div .menu_list_wrap3 p {
	height: 3.167rem;
	line-height: 3.167rem;
	font-size: 1.167rem;
	color: #4f4f4f;
	padding-left: 0.417rem;
	border-bottom: 0.083rem #b7b7b7 dotted;
}

.add_upload_content form div label {
	width: 7.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	font-size: 1.333rem;
	float: left;
	text-align: right;
	margin-right: 0.8rem;
}

.add_upload_content form div strong q {
	width: 2.5rem;
	height: 3rem;
	display: block;
	top: 0.2rem;
	right: 1rem;
	position: absolute;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-25px -28px;
}

#fileToUpload {
	margin-left: -11.3rem;
}

.add_upload_content form div strong:active {
	background: #D1D0D0;
}

.add_upload_content form div strong {
	width: 23rem;
	height: 3.5rem;
	background: #f1f1f1;
	font-weight: normal;
	border: 0.083rem #DBDBDB solid;
	display: block;
	float: left;
	font-size: 1.333rem;
	line-height: 3.5rem;
	text-align: center;
	border-radius: 0.5rem;
	color: #474747;
	position: relative;
	margin-right: 1rem;
	cursor: pointer;
}

.viewOrg {
	font-size: 1.333rem;
	color: #fe7e37;
	line-height: 3.5rem;
}

.btn_upload {
	width: 23rem;
	height: 3.7rem;
	line-height: 3.333rem;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	display: block;
	border-radius: 0.5rem;
	background: #fe7e37;
	margin: 3rem auto;
	cursor: pointer;
}

#qt_planName {
	width: 22.5rem;
	height: 3.5rem;
	border-radius: 0.5rem;
	padding-left: 0.5rem;
	font-weight: normal;
}
/* dlog  add */

/* 閫夐敓鏂ゆ嫹瀛︽牎 */
.option_school_wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 102;
	display: none;
}

.option_school {
	width: 58rem;
	height: 38rem;
	position: absolute;
	left: 50%;
	margin-left: -29rem;
	top: 20%;
	background: #fff;
	z-index: 104;
}

.select_threee {
	height: 3rem;
	margin-top: 1rem;
}

.select_threee span {
	font-size: 1.333rem;
	color: #474747;
	float: left;
	width: 3rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
}

#province {
	width: auto;
	min-width: 10rem;
	max-width: 13rem;
	height: 2.5rem;
	border: 0.083rem #ddd solid;
	display: block;
	float: left;
	font-size: 1.333rem;
	line-height: 2.5rem;
	text-align: center;
	cursor: pointer;
	font-weight: 500;
	border-radius: 0.5rem;
	color: #474747;
}

#city {
	width: auto;
	min-width: 10rem;
	max-width: 13rem;
	height: 2.5rem;
	border: 0.083rem #ddd solid;
	display: block;
	float: left;
	font-size: 1.333rem;
	line-height: 2.5rem;
	text-align: center;
	cursor: pointer;
	font-weight: 500;
	border-radius: 0.5rem;
	color: #474747;
}

#county {
	width: auto;
	min-width: 10rem;
	max-width: 13rem;
	height: 2.5rem;
	border: 0.083rem #ddd solid;
	display: block;
	float: left;
	font-size: 1.333rem;
	line-height: 2.5rem;
	text-align: center;
	cursor: pointer;
	font-weight: 500;
	border-radius: 0.5rem;
	color: #474747;
}

.option_school_title {
	width: 58rem;
	height: 4.083rem;
	background: #f4f4f4;
	border-bottom: 0.083rem #dbdbdb solid;
}

.option_school_title h3 {
	width: 55rem;
	height: 4.083rem;
	text-align: center;
	font-size: 1.5rem;
	color: #666666;
	line-height: 4.083rem;
	float: left;
}

.option_school_title span {
	width: 1.583rem;
	float: right;
	height: 1.667rem;
	display: block;
	margin-right: 1.2rem;
	margin-top: 1.3rem;
	cursor: pointer;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-7px -37px;
}

.option_school_content {
	width: 58rem;
	height: 26.25rem;
}

.option-school {
	width: 79%;
	margin: 3rem 0 1.3rem 5rem;
}

.option_school_cont {
	width: 90%;
	margin-left: 5rem;
	position: relative;
	height: 15rem;
}

.option_school_cont2 {
	width: 80%;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.option_school_cont2 dl {
	width: 15rem;
	height: 14rem;
	margin: 0 auto;
}

.option_school_cont2 dl dd {
	width: 9.583rem;
	height: 11rem;
	margin: 0 auto;
	background: url(../images/k.jpg) no-repeat;
}

.option_school_cont2 dl dt {
	height: 3rem;
	line-height: 2rem;
	font-size: 1.333rem;
	color: #cbcbcb;
	text-align: center;
}

.option_school_cont1 {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.option_school_cont ul {
	
}

.option_school_cont ul li {
	display: inline-block;
	width: 21rem;
	height: 1.25rem;
	line-height: 1.25rem;
	font-size: 1.333rem;
	margin-right: 4.9rem;
	margin-bottom: 1.5rem;
}

.option_school_cont ul li span {
	width: 1.25rem;
	height: 1.25rem;
	display: block;
	border: 0.083rem #bababa solid;
	float: right;
	cursor: pointer;
}

.option_school1 {
	font-size: 1.333rem;
	height: 3rem;
	line-height: 3rem;
	float: left;
	width: 8rem;
	text-align: right;
}

.serch {
	position: relative;
	width: 24rem;
	height: 3rem;
	margin-left: 0.5rem;
	float: left;
}

.serch .search {
	border: 0.083rem #ddd solid;
	width: 24.5rem;
	height: 2.7rem;
	padding-left: 0.5rem;
	padding-right: 2rem;
	border-radius: 0.6rem;
	font-size: 1.333rem;
}

.search_btn {
	display: block;
	width: 1.5rem;
	position: absolute;
	right: 0;
	top: 0.3rem;
	height: 2rem;
	background: url(../../companion/images/icon.png) no-repeat -217px 0;
	cursor: pointer;
}

.span_act {
	width: 1.25rem;
	height: 1.25rem;
	background: url(../../region_activity/images/span_act.png) no-repeat;
}

.o_s_b {
	width: 90%;
	margin: 0 auto;
	border-bottom: 0.083rem #dbdbdb solid;
}

.option-school_btn {
	width: 80%;
	margin-left: 5rem;
	margin-top: 0.5rem;
	position: relative;
}

.y_option-school {
	font-size: 1.333rem;
	height: 4rem;
	line-height: 4rem;
	display: inline-block;
	float: left;
	cursor: pointer;
}

.y_option-school span {
	color: #1aa97b;
	padding: 0 0.5rem;
}

#saveStc {
	width: 10rem;
	height: 2.7rem;
	font-size: 1.5rem;
	color: #fff;
	line-height: 2.7rem;
	text-align: center;
	background: #fe7e37;
	display: inline-block;
	margin: 0.5rem 8rem;
	border-radius: 0.5rem;
	display: none;
	cursor: pointer;
}

#edit {
	width: 10rem;
	height: 2.7rem;
	font-size: 1.5rem;
	color: #fff;
	line-height: 2.7rem;
	text-align: center;
	background: #fe7e37;
	display: inline-block;
	float: left;
	margin: 0.5rem 5rem;
	cursor: pointer;
	border-radius: 0.5rem;
}

#b_edit {
	width: 10rem;
	height: 2.7rem;
	font-size: 1.5rem;
	color: #fff;
	line-height: 2.7rem;
	text-align: center;
	background: #999;
	display: inline-block;
	margin: 0.5rem 0;
	cursor: pointer;
	float: left;
	border-radius: 0.5rem;
}

.edit1 {
	width: 12rem;
	height: 3.2rem;
	font-size: 1.667rem;
	color: #fff;
	line-height: 3rem;
	text-align: center;
	background: #fe7e37;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin: 0.5rem 5rem 0 8rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

#b_edit1 {
	width: 12rem;
	height: 3.2rem;
	font-size: 1.667rem;
	color: #fff;
	line-height: 3rem;
	text-align: center;
	background: #999;
	display: inline-block;
	cursor: pointer;
	margin: 0.5rem 0;
	float: left;
	border-radius: 0.5rem;
	cursor: pointer;
}
/* 閫夐敓鏂ゆ嫹瀛︽牎 */

/* 閿熸枻鎷烽�閿熸枻鎷峰鏍�*/
.yxz_school_cont1 {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.yxz_school {
	width: 28rem;
	height: 19rem;
	position: absolute;
	background: #fff;
	-webkit-box-shadow: 0 0.2rem 1rem #d5d5d5;
	-moz-box-shadow: 0 0.2rem 1rem #d5d5d5;
	box-shadow: 0 0.2rem 1rem #d5d5d5;
	top: -19rem;
	display: none;
}

.yxz_school_title {
	width: 27.5rem;
	height: 3rem;
	font-size: 1.5rem;
	line-height: 3rem;
	padding-left: 0.5rem;
	background: #fafafa;
	border-bottom: 0.083rem #eeeeee solid;
	border-top: 0.167rem #12b7f5 solid;
}

.yxz_school_title h3 {
	width: 24.5rem;
	float: left;
	font-size: 1.333rem;
}

.yxz_school_title span {
	width: 1.583rem;
	float: right;
	height: 1.667rem;
	display: block;
	margin-right: 1rem;
	margin-top: 0.8rem;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-7px -37px;
	cursor: pointer;
}

.yxz_school_cont {
	width: 100%;
	position: relative;
	height: 15.6rem;
}

.yxz_school_cont ul {
	margin: 0 0.5rem;
}

.yxz_school_cont ul li {
	display: inline-block;
	width: 26rem;
	height: 3.2rem;
	line-height: 3.2rem;
	font-size: 1.333rem;
	margin-right: 4.9rem;
	border-bottom: 0.083rem #eeeeee solid;
	padding-left: 0.5rem;
}

.yxz_school_cont ul li strong {
	width: 70%;
	float: left;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.yxz_school_cont ul li a {
	display: block;
	float: right;
	width: 4rem;
	margin-right: 0.3rem;
	font-size: 1.333rem;
}

.yxz_school_cont ul li span {
	width: 1rem;
	height: 3.2rem;
	display: block;
	float: right;
	cursor: pointer;
	background: url(../../region_activity/images/del1.png) no-repeat center;
	margin-right: 0.3rem;
}

.txt {
	border: 0.083rem #ddd solid;
	width: 22rem;
	height: 2.5rem;
	padding-left: 0.5rem;
	padding-right: 2rem;
	border-radius: 0.6rem;
	font-size: 1.333rem;
	margin-left: 0.5rem;
}

.mask1 {
	background: none repeat scroll 0 0 #000;
	height: 100%;
	left: 0;
	opacity: 0.4;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	overflow-y: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 103;
	display: none;
}

.enclosure_name {
	width: 30rem;
	height: 3.5rem;
	float: left;
	margin-left: 8.5rem;
}

.enclosure_name q {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	float: left;
	background: url(../../thesis/images/thesis.png) no-repeat -204px -94px;
	margin-top: 0.7rem;
}

.enclosure_name span {
	float: left;
	display: block;
	height: 3.5rem;
	line-height: 3.5rem;
	color: #999;
	font-size: 1.333rem;
	padding-left: 0.5rem;
	width: 17rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.enclosure_name .enclosure_del {
	width: 1.583rem;
	float: left;
	height: 1.667rem;
	margin-top: 0.8rem;
	display: block;
	margin-left: 0.5rem;
	background: url(../../thesis/images/thesis.png) no-repeat -245px -94px;
	cursor: pointer;
}
/* dlog  release 閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鍙枻鎷风己閿燂拷*/
.release_upload_wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 102;
	display: none;
}

.release_upload {
	width: 45rem;
	height: 33rem;
	position: absolute;
	left: 50%;
	margin-left: -22.5rem;
	top: 20%;
	background: #fff;
	z-index: 101;
}

.release_upload_title {
	width: 45rem;
	height: 4.083rem;
	background: #f4f4f4;
	border-bottom: 0.083rem #dbdbdb solid;
}

.release_upload_title h3 {
	width: 42rem;
	height: 4.083rem;
	text-align: center;
	font-size: 1.667rem;
	color: #666666;
	line-height: 4.083rem;
	float: left;
}

.release_upload_title span {
	width: 1.583rem;
	float: right;
	height: 1.667rem;
	display: block;
	margin-right: 1.2rem;
	margin-top: 1.3rem;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-7px -37px;
}

.release_upload_content {
	width: 45rem;
	height: 24.25rem;
}

.release_width {
	width: 24rem;
	height: 3.5rem;
	line-height: 3.5rem;
	margin: 7rem auto;
}

.release_width q {
	width: 3em;
	height: 3em;
	background: url(../../../common/images_m/publish.png) no-repeat;
	float: left;
	margin-top: 0.2rem;
}

.release_width span {
	float: left;
	font-size: 1.333rem;
	color: #666;
	padding-left: 0.4rem;
}

.btn_confirm_rel {
	width: 13rem;
	height: 3.7rem;
	line-height: 3.7rem;
	color: #fff;
	text-align: center;
	font-size: 1.667rem;
	display: block;
	border-radius: 0.5rem;
	background: #fe7e37;
	margin-left: 8rem;
	float: left;
	cursor: pointer;
}

.btn_cencel,.btn_cencel1 {
	width: 13rem;
	height: 3.7rem;
	line-height: 3.7rem;
	color: #fff;
	text-align: center;
	font-size: 1.667rem;
	display: block;
	border-radius: 0.5rem;
	background: #999;
	float: left;
	margin-left: 4rem;
	cursor: pointer;
}

.border_bottom {
	border-bottom: 0.083rem #dbdbdb solid;
	height: 0.083rem;
	width: 34rem;
	margin: 4rem auto;
}
/* dlog  閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鍙枻鎷风己閿燂拷*/
/* dlog  del */
.del_upload_wrap2 {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 102;
	display: none;
}

.del_upload_wrap3 {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 102;
	display: none;
}

/* 閿熻緝杈炬嫹閿熸枻鎷烽敓鍙枻鎷风己閿燂拷*/
.content_bottom2 {
	width: 100%;
	position: absolute;
	top: 5rem;
	bottom: 0;
	overflow: hidden;
	background: #f7f8f9;
	border-top: 0.083rem #fe7e37 solid;
}

.content_bottom_width {
	margin: 0 auto;
	width: 80%;
}

.add_cour {
	border: 0.083rem #e3e3e3 solid;
}

.add_cour_div {
	width: 9.833rem;
	height: 15rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.167rem;
}

.add_cour_div_top {
	width: 9.833rem;
	height: 11.5rem;
	border: 0.083rem #e0e0e0 dashed;
	border-radius: 0.333rem;
	cursor: pointer;
}

.add_cour_div_top_img {
	width: 6.333rem;
	height: 6.333rem;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-29px -73px;
	margin: 2.5rem auto;
}

.courseware_ppt {
	border: 0.083rem #e3e3e3 solid;
}

.courseware_img_0 {
	width: 15rem;
	height: 0.8rem;
	background: url(../images/img.png) no-repeat top;
}

.courseware_img_01 {
	width: 15rem;
	height: 1rem;
}

.courseware_img_2 {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-57px -36px;
	margin-top: 0.75rem;
	margin-left: 0.5rem;
	float: left;
	cursor: pointer;
}

.courseware_img_down {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../images/dele.png) no-repeat;
	margin-top: 0.75rem;
	margin-left: 0.5rem;
	float: left;
	cursor: pointer;
}

.courseware_img_del {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../images/del.png) no-repeat;
	margin-top: 0.75rem;
	margin-right: 0.5rem;
	float: right;
	cursor: pointer;
}

.courseware_img_jz_del {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../images/jz_del.png) no-repeat;
	margin-top: 0.75rem;
	margin-right: 0.5rem;
	float: right;
	cursor: not-allowed;
}

.courseware_img_quit {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../images/quit.png) no-repeat;
	margin-top: 0.75rem;
	margin-right: 0.5rem;
	float: right;
	cursor: pointer;
}

.courseware_img_recovery {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../images/recovery.png) no-repeat;
	margin-top: 0.75rem;
	margin-right: 0.5rem;
	float: right;
	cursor: pointer;
}

.courseware_img_jz_quit {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../images/jz_quit.png) no-repeat;
	margin-top: 0.75rem;
	margin-right: 0.5rem;
	float: right;
	cursor: not-allowed;
}

.courseware_img_edit {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../images/editor.png) no-repeat;
	margin-top: 0.75rem;
	margin-left: 0.5rem;
	float: left;
	cursor: pointer;
}

.courseware_img_jz_edit {
	width: 2.25rem;
	height: 2.25rem;
	background: url(../images/jz_edit.png) no-repeat;
	margin-top: 0.75rem;
	margin-left: 0.5rem;
	float: left;
	cursor: not-allowed;
}

.courseware_ppt p img {
	margin: 1rem auto 0 auto;
	cursor: pointer;
	clear: both;
	display: block;
	cursor: pointer;
}

.content_bottom_width>div {
	float: left;
	width: 15rem;
	height: 17rem;
	border-radius: 0.4rem;
	margin: 2.917rem 3rem 0 3rem;
	background: #fff;
	position: relative;
}

.add_cour_div_bottom {
	width: 9.833rem;
	height: 3.5rem;
	line-height: 3.5rem;
	color: #979797;
	font-size: 1.167rem;
	text-align: center;
}

.content_bottom_width>div h3 {
	clear: both;
	font-size: 1.167rem;
	width: 12.833rem;
	height: 3.333rem;
	line-height: 3.333rem;
	text-align: center;
	margin: 0 auto;
	color: #707070;
}

.content_bottom_width>div h4 {
	clear: both;
	font-size: 1.333rem;
	width: 12.833rem;
	height: 1.8rem;
	text-align: center;
	margin: 0 auto;
	color: #707070;
}

.content_bottom_width>div h5 {
	clear: both;
	font-size: 1.333rem;
	width: 96%;
	height: 3.333rem;
	color: #707070;
	margin: 0 auto;
}

.content_bottom_width>div p span {
	display: block;
	width: 8.167rem;
	height: 8.167rem;
	background: url(../images/word_x1.png) no-repeat;
	margin: 1rem auto 0 auto;
}

.content_bottom_width>div h5 span {
	line-height: 1.6rem;
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.cw_option_jz_edit {
	width: 3em;
	height: 3em;
	background: url(../../../common/images_m/jz_edit.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: edit .5s;
	-moz-animation: edit .5s; /* Firefox */
	-webkit-animation: edit .5s; /* Safari and Chrome */
	-o-animation: edit .5s; /* Opera */
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	cursor: not-allowed;
}

.cw_option_edit {
	width: 3em;
	height: 3em;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-127px -30px;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: edit .5s;
	-moz-animation: edit .5s; /* Firefox */
	-webkit-animation: edit .5s; /* Safari and Chrome */
	-o-animation: edit .5s; /* Opera */
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	cursor: pointer;
}

@keyframes edit
{
100% {left:0; bottom:10.5rem;}
}

}
.cw_option_del {
	width: 3em;
	height: 3em;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-167px -30px;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: del .5s;
	-moz-animation: del .5s; /* Firefox */
	-webkit-animation: del .5s; /* Safari and Chrome */
	-o-animation: del .5s; /* Opera */
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	cursor: pointer;
}
.cw_option_del{
	width:3em;
	height:3em;
	background:url(../../courseware/images/upload_courseware.png) no-repeat -167px -30px;
	position: absolute;
    bottom:0;
    left:0;
    animation:del .5s;
	-moz-animation:del .5s; /* Firefox */
	-webkit-animation:del .5s; /* Safari and Chrome */
	-o-animation:del .5s; /* Opera */
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	cursor:pointer;
}
@keyframes del 
{ 
100% { left: 5rem; bottom: 8.5rem;}
}
.cw_option_publish {
	width: 3em;
	height: 3em;
	background: url(../../../common/images_m/publish.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: publish .5s;
	-moz-animation: publish .5s; /* Firefox */
	-webkit-animation: publish .5s; /* Safari and Chrome */
	-o-animation: publish .5s; /* Opera */
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	cursor: pointer;
}

@keyframes publish 
{ 
100% {left: 9rem;bottom: 5rem;}
}
.cw_option_qx_publish {
	width: 3em;
	height: 3em;
	background: url(../../../common/images_m/qx_publish.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: publish .5s;
	-moz-animation: publish .5s; /* Firefox */
	-webkit-animation: publish .5s; /* Safari and Chrome */
	-o-animation: publish .5s; /* Opera */
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	cursor: pointer;
}

.border {
	border: 0.083rem #5eb262 solid;
}

.cw_option_down {
	width: 3em;
	height: 3em;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-286px -30px;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: down .5s;
	-moz-animation: down .5s; /* Firefox */
	-webkit-animation: down .5s; /* Safari and Chrome */
	-o-animation: down .5s; /* Opera */
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	cursor: pointer;
}

@keyframes down
{
100% {	left: 11.6rem;bottom: 0.2rem;}
}
.cw_option_close {
	width: 2.5em;
	height: 2.5em;
	background: url(../../courseware/images/upload_courseware.png) no-repeat
		-246px -90px;
	position: absolute;
	bottom: 0.2rem;
	left: 0.333rem;
	cursor: pointer;
}

.s1 {
	color: #989797;
}

.s2 {
	color: #82b44a;
}

.s3 {
	color: #fe7e37;
}

.s4 {
	color: #f83d1e;
}

#not_started_dialog {
	display: none;
	width: 630px;
	height: 416px;
	position: fixed;
	z-index: 102;
	top: 50%;
	left: 50%;
	margin-left: -325px;
	margin-top: -227.5px;
	background: url(../../../common/images/dlogbg.png) no-repeat;
}

.dialog_bg_head {
	width: 630px;
	height: 39px;
	position: relative;
}

.dialog_bg_close {
	width: 36px;
	height: 36px;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -208px -86px;
	position: absolute;
	right: 0;
	top: -15px;
	cursor: pointer;
}

.not_started_info {
	width: 520px;
	height: 245px;
	margin: 0 auto;
	overflow: auto;
}

.prompt_info {
	width: 520px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	line-height: 50px;
	font-size: 26px;
	color: #dfb25d;
}

.prompt_info_btn {
	width: 520px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

.enter {
	width: 93px;
	height: 40px;
	background: url(../../../common/images/common_btn.png);
	background-position: 0 -194px;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.not_enter {
	width: 93px;
	height: 40px;
	background: url(../../../common/images/common_btn.png);
	background-position: -93px -194px;
	border: none;
	display: inline-block;
	margin-right: 10px;
}

.access_view {
	width: 93px;
	height: 40px;
	background: url(../../../common/images/common_btn.png);
	background-position: -186px -194px;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.access_class {
	width: 80px;
	height: 32px;
	background: url(../../../common/images/common_btn.png);
	background-position: 0 -235px;
	border: none;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.end_class {
	width: 80px;
	height: 32px;
	background: url(../../../common/images/common_btn.png);
	background-position: -84px -235px;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.not_started_info h3 {
	width: 520px;
	height: 53px;
	line-height: 53px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.not_started_info p {
	width: 390px;
	height: 27px;
	margin: 0 auto;
	line-height: 25px;
	font-size: 16px;
	color: #fff;
}