@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.2.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff?v=4.2.0) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.2.0) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format('svg');font-weight:400;font-style:normal}
html,body{
	color:#4a4a4a;
	background: #f2f2f2;
	font-size: 14px;
	font-family: "Microsoft YaHei"! important; 
}
/*************************************top****************************************/
.top{
	width:100%;
	background:#505050;
	height:50px;
	border-bottom: 1px #fe7e37 solid;
}
.kpi_top_logo{
	width:987px;
	height:50px;
	margin: 0 auto;
}
.kpi_logo{
	width:276px;
	height: 50px;
	background: url(../images/logo.png) no-repeat left 6px;
	float:left; 
}
.kpi_logo_right{
	float:right;
	height: 50px;
}
.kpi_logo_right ul{
	height:30px;
	margin-top: 9px;
}
.kpi_logo_right ul .kpi_logo_right_li{
	float:left;
	color:#fff;
	height:30px;
	line-height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}
.kpi_logo_right ul .kpi_logo_right_li a{
	display: inline-block;
	color:#fff;
	position:relative;
}
.kpi_avatar{
	position: relative;
}
.kpi_head_mask{
	width:42px;
	height: 42px;
	background: url(../images/head_bor.png) no-repeat;
	top: -5px;
    left: -6px;
    display: block;
    position: absolute;
}
.kpi_logo_right ul .kpi_logo_right_li a img{
	margin-right: 9px;
    display: block;
    float: left;
    margin-top: 10px; 
}
.kpi_logo_right .kpi_identity_box{
	width:180px;
	height:auto;
	background:#fff;
	border:1px solid #ababab;
	border-top:none;
	border-radius:4px;
	position:absolute;
	left:-76px;
	top:41px;
	z-index:10;
	display:none;
}
.kpi_identity li{
	width:160px;
	padding:0 10px;
	height:30px;
	line-height:30px;
	font-size:14px;
	border-bottom:1px solid #ababab;
	color:#4a4a4a;
	cursor:pointer;
}
.kpi_identity li:hover{
	background:#f6f3f3
}
.kpi_identity_sanjiao{
	width:10px;
	height:5px;
	background:url(../images/identity_sanjiao.png) no-repeat;
	position:absolute;
	top:-5px;
	left:88px;
}


/*************************************bottom****************************************/
.content{ 
	width:986px;
	margin:0 auto 190px auto;	
}
.footer{
	width: 100%;
	height: 110px;
	border-top: 1px #d6d6d6 solid;
	background: #fff;
	clear: both;
	margin-top: 90px;
/* 	position: absolute; 
bottom: 0;  */
}
.kpi_footer_center{
	width:986px;
	margin: 0 auto;
	height: 110px;
}
.kpi_footer_center_l{
	float: left;
	width:336px; 
}
.kpi_footer_center_l ul{
	height: 30px;
    line-height: 30px;
    margin-top: 32px;
    position:relative;
}
.kpi_footer_center_l ul li{
	float: left;
	color:#969897;
	margin-right: 10px;
}

.kpi_footer_center_l ul li a{
	float: left;
	font-size: 12px;
	color:#969897;
}
.kpi_footer_center_l p{
	color:#969897;
	height: 30px;
    line-height: 30px;
}
.kpi_footer_center_r{
	width: 305px;
	float: right;
}
.kpi_footer_center_r ol{
	 margin-top: 36px;
}
.kpi_footer_center_r ol li{
	float: left;
	margin-right: 9px; 
	position: relative;
	cursor:pointer;
}
.kpi_footer_center_r ol li img{
	display: block;
	width: 29px;
	height: 29px;
}
.kpi_footer_center_r ol li span{
	display: block;
    line-height: 15px;
    color: #969897;
}
.kpi_strong{display:none;} 
.kpi_strong1{display:none;} 
.kpi_footer_center_r li:hover .kpi_strong{
	position: absolute;
    left: -57px;
    top: 35px;
    border: 1px #C0C0C0 solid;
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
    display:block;
    white-space: nowrap;
}
.kpi_footer_center_r li:hover .kpi_strong1{
	position: absolute;
    left: -37px;
    top: 35px;
    border: 1px #C0C0C0 solid;
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
    display:block;
    white-space: nowrap;
}
.kpi_navoL_li_bg {
    width: 91px;
    height: 27px;
    background:url(../images/navoL_li_bg.png) no-repeat;
    position: absolute;
    left: -19px;
    top: -25px;
    z-index: 1;
    padding-top:2px;
    display: none;
}
.kpi_navoL_li_bg P {
    width: 33px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    margin-left: 2px;
    float: left;
    padding-left: 10px;
    border-right: 1px dashed #d5d5d5;
}
.kpi_navoL_li_bg P:hover{
	background:#f5f5f5;
}
/*************************************nav****************************************/
.history_nav{
	width:1200px;
	height:60px;
	margin: 0 auto;
	line-height: 60px;
	color:#4a4a4a;
	font-size:14px;
}



.release_info{
	width:306px;
	margin:30px auto 20px auto;
	height: auto;
	min-height: 60px; 
}
.release_info span{
	display: inline-block;
	width: 38px;
	height: 38px;
	background: url(../images/icon.png) no-repeat;
	background-position:-3px -3px;
	float: left; 
	margin:10px 10px 0 0;
}
.release_info strong{
	display: inline-block;
	float: left;  
	font-size: 14px;
	line-height: 20px;
	width: 258px;
	margin:10px 0 0 0;
}
.del_info{
	width:306px;
	margin:30px auto 20px auto;
	height: auto;
	min-height: 60px; 
}
.del_info span{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(../images/icon.png) no-repeat;
	background-position:-45px -3px;
	float: left; 
	margin:10px 10px 0 0;
}
.del_info strong{
	display: inline-block;
	float: left;  
	font-size: 14px;
	line-height: 20px;
	width: 258px;
	margin:10px 0 0 0;
}
.confirm{
	width: 80px;
	height: 29px;
	background: #27bb8b;
	color: #fff;
	font-size: 14px;
	display: block;
	margin: 10px auto;
	border:none;
}
.teach_account_info{
	width:483px;
	margin:30px auto 20px auto;
	height: auto;
	min-height: 60px; 
}
.teach_account_info span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icon.png) no-repeat;
	background-position:-88px -12px;
	float: left; 
	margin:3px 10px 0 0;
}
.teach_account_info strong{
	display: inline-block;
	float: left;  
	font-size: 14px;
	line-height: 20px;
	width: 457px; 
}
.teach_account_info1{
	width:430px;
	margin:0 auto; 
	height:50px;  
}
.whole{
	width:483px;
	height:25px; 
	line-height: 25px;
}
.whole span{
	font-size: 14px;
	float: left;
} 
.see{
	width: 52px;
	height: 25px;
	float: left; 
	cursor: pointer;
}
.see span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icon.png) no-repeat;
	background-position:-112px -13px;
	float: left; 
	margin:5px 5px 0 0;
}
.see strong{
	display: inline-block;
	float: left;
	width: 30px;
	color: #ff8400;
}
.download{
	width: 52px;
	height: 25px;
	float: left;
	cursor: pointer;
}
.download strong{
	display: inline-block;
	float: left;
	width: 30px; 
	color: #ff8400;
}
.download span{
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url(../images/icon.png) no-repeat;
	background-position:-132px -13px;
	float: left; 
	margin:5px 5px 0 0;
}
.not_sent{
	width:483px;
	height:25px;  
	line-height: 25px;
}
.line{ 
	float: left;
	width:25px;
	text-align: center;
	color: #b5b5b5;
}
.not_sent span{
	font-size: 14px;
	float: left;
}
.student_account_info{
	width:430px;
	margin:30px auto 5px auto;
	height: auto;
	min-height: 60px; 
}
.student_account_info span{
	display: inline-block;
	width: 18px;
	height: 16px;
	background: url(../images/icon.png) no-repeat;
	background-position:-151px -14px;
	float: left; 
	margin:3px 10px 0 0;
}
.student_account_info strong{
	display: inline-block;
	float: left;  
	font-size: 14px;
	line-height: 20px;
	width: 400px; 
}
.student_account_info1{
	width:430px;
	margin:0 auto; 
	height:50px;  
}
.student_account_info1 label{
	display: inline-block;
	float: left;
	height: 25px;
	line-height: 25px;
}
.student_account_info1 .copy_txt{
	float: left;
	border:none;
	border-bottom: 1px #808080 solid;
	height: 25px;
	line-height: 25px;
	width: 265px;
	margin-left: 5px;
	font-size: 16px;
	color: #4a4a4a;
}
.copy_btn{
	display: block;
	font-size: 14px;
	height: 25px;
	background: #fff;
	color: #ff8400;
	width: 67px;
	line-height: 22px;
	border:1px #ff8400 solid;
	border-radius: 2px;
	float: right;
	margin-right: 15px;
}
.student_account_info1 span{
	color: #8b8b8b;
	font-size: 14px;
	display: inline-block;
	clear: both;
	height: 30px;
	line-height: 30px;
}
.Invitation_bottom{
	width: 560px;
	height: 444px;
	background: #fff;
	padding-top: 10px;
}
.centent_right ul li a:hover .remo{
	background: url('../images/del.png') no-repeat;
	background-position: 10px 10px;
	width: 10px;
	height: 17px;
	display: inline-block;
	float: right;
	right: 6px;
	top: 0;
}
.centent_right ul li input{
	float:left;
	margin-top:6px;
}
.remo{
	background: url('../images/del.png') no-repeat;
	background-position: 10px 10px;
	width: 10px;
	height: 17px;
	display: inline-block;
	float: right;
	display: none;
}
.centent{
	position: relative;
	width: 520px;
	height: 385px;
	margin:0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
#enroll{
	color: #014efd;
	text-decoration: underline;
}
.centent .search2{
	height:21px;
	border:none;
	width:190px;
	background:none;
}
.search_wrap{
	width: 213px; 
	float: left; 
	padding-top: 11px;
}
.search_wrap1{
	margin-left:84px;
	font-size:14px;
	display: inline-block;
	padding-top: 11px;
}
.centent .btn{
	background: url('../images/del.png') no-repeat;
	background-position: 10px 10px;
	width: 15px;
	height: 15px;
	border:none;
	cursor: pointer;
}
.search1{
	height: 24px;
	line-height:24px;
	border: none;
	float: left;
	margin-top: -6px;
}
.btn1{
	background: url('../images/del.png') no-repeat;
	background-position: 10px 10px;
	position: absolute;
	right: -3px;
	width: 15px;
	height: 15px;
	border: none;
	cursor: pointer;
	top: 0;
}
.centent_left{
	text-align:left;
	width:219px;
	height: 330px;
	border:1px #c1c1c1 solid;
	background: #fff;
	margin:8px 10px 0 0;
	overflow: auto;
	float: left;
}
.centent_left ul{

}
.centent_left ul label{
	width:160px;
	display:block;
	height:24px;
}
.centent_left ul li ul{
	display: none;
}
.centent_left ul li ul li{
	padding-left: 25px;
}
.centent_left ul li input{
	margin-top:0;
}
.centent_left ul li a{
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	cursor: pointer;
	font-size: 14px;
	padding-right: 5px;

}
.centent_left ul li a span{
	color: #a4a4a4;
}
.centent_left ul li a span:hover{
	color: #014efd;
}
.centent_left ul li a:hover{ 
	display: inline-block;
	height: 24px;
	line-height: 24px;
		
}
.centent_left_act a{color:#fff;}
.centent_left_act{
	background: #51c7f8;
	height: 24px;
	line-height: 24px;
	color: #fff;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	display: inline-block;
}

.centent_left ul li.centent_left_act a:hover{
	color: #fff;
	background: none;
}
.centent_left ul li.centent_left_act a span{
	color: #fff;
	background: none;
}

.centent_center{
	width: 55px;
	height: 220px;
	padding-top:130px;
	float: left;
	margin-right: 10px;
	margin-left: 2px;
}
.add_1{
	background: #27bb8b;
	line-height: 22px;
	height: 24px;
	color:#fff;
	width: 55px;
	text-align: center;
	border:none;
	font-size: 14px;
	font-weight: bold;
	margin-bottom:20px;
}
.add_2{
	background: #27bb8b;
	line-height: 22px;
	height: 24px;
	color:#fff;
	width: 55px;
	text-align: center;
	border:none;
	font-size: 14px;
	font-weight: bold;
}
.centent_right{
	text-align:left;
	width: 220px;
	height: 330px;
	border:1px #c1c1c1 solid;
	background: #fff;
	margin:8px 0 0 0;
	overflow: auto;
	float: left;
}
.centent_right ul{

}
.centent_right ul li{
	position: relative;
	clear: both;
}
.centent_right ul li a{
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	float:left;
	display:block;
	cursor: pointer;
	font-size: 14px;
	padding-right: 10px;
	width:150px;
} 

.centent_right_act{
	color:#014efd;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.btn_sub{
	display: block;
	border:none;
	background:#27bb8b;
	color:#fff;
	width: 82px;
	height: 30px;
	clear: both;
	margin:15px auto;
	cursor: pointer;
	font-size: 14px;
}
