html,body{
	font-family: "Microsoft Yahei";
	color: #474747;
}
.wrap .wrap_top_2{
	width: 960px;
	height:20px;
	margin-top: 20px;
}
.js{
	width:80px;
	height:26px;
	line-height:26px;
	text-align:center;
	color:#fff;
	border-radius:6px;
	border:none;
	background:#51c7f8;
	float:right;
	margin-top:5px;
}
.wrap .wrap_top_2 h3{
	height:25px;
	line-height: 20px;
	font-size: 14px;
	padding-left: 25px;
	color: #525252;
	font-weight: bold;
	float: left;
}
.wrap .wrap_top_2 h4{
	height:20px;
	line-height: 20px;
	font-size: 14px;
	padding-left: 25px;
	color: #525252;
	font-weight: bold;
	float: right;
}
.wrap .wrap_top_2 h4 select{
	width: 150px;
	height:25px;
}
.collective_cont{
	width: 970px;
	margin: 0 auto;
	height: 534px;
}
.collective_cont h3{
	height: 34px;
	width: 965px;
	border-bottom: 1px #595959 dashed;
	padding-left: 20px;
}
.collective_cont h3 input{
	width: 111px;
	height: 29px;
	border:none;
	background:url('../images/btn.png') no-repeat;
	float: left;
}
.collective_cont h3 ul{
	width: 250px;
	height: 28px;
	float: left;
}
.collective_cont h3 p{
	width: 80px;
	float: left;
	height: 28px;
	line-height: 32px;
	margin-left: 490px;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.collective_cont_act{
	background: #51c7f8;
	color:#fff;
}
.collective_cont h3 ul li{
	float: left;
	width: 110px;
	height: 28px;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	border:1px #51c7f8 solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
}
.collective_cont_big{
	width: 2000px;
}
.collective_cont_big .collective_cont_tab{
	width: 970px;
	float: left;
	overflow: hidden;
}
.collective_cont_big .collective_cont_tab table{
	width: 930px;
	margin:15px 20px 13px 20px;
	background: #fff;
	border:1px #ddd solid;
}
.collective_cont_big .collective_cont_tab table tr{
	height:26px;
	line-height: 26px;
}
.collective_cont_big .collective_cont_tab table tr th{
	background: #51c7f8;
	color:#fff;
	text-align: center;
	border: none;
}
.collective_cont_big .collective_cont_tab table tr td{
	text-align: center;
	height:15px;
	vertical-align: center;
}
.collective_cont_big .collective_cont_tab table tr td img{
	display: inline-block;
	width: 16px;
	height: 20px;
}




.launch{
	width:767px;
	height:auto;
	background: #fff;
	border:1px #bdbdbd solid;
	border-radius: 6px;
	margin:10px auto;
	padding:30px 100px 0 60px;
}
.launch h3{
	width: 767px;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	position: relative;
	padding-left: 23px;
	line-height: 30px;
}
.launch h3 span{
	color:red;
	font-size: 16px;
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	top:4px;
	left:10px;
}
.launch h3 strong{
	font-size: 12px;
	font-weight: bold;
	color: #aeaeae;
	padding-left: 20px;
}
.launch input{
	height:30px;
	margin-right: 4px;
}
.launch label{
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 12px;
}
.launch select{
	width: 110px;
	height: 24px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.date{
	border-radius: 5px;
	margin-right: 0;
	border:none;
	border:1px #aeaeae solid;;
}
.launch p{
	width: 400px;
	height: 100px;
	margin-left:280px;
	padding-top:60px;
}
.release{
	width: 81px;
	height: 26px;
	background: url('../images/fb.png') no-repeat;
	border:none;
}
.deposit{
	width: 86px;
	height: 26px;
	margin-left: 20px;
	background: url('../images/ccg.png') no-repeat;
	border:none;
}



.participate{
	width: 928px;
	height: auto;
	padding-bottom: 10px;
	margin:0 auto;
	border:1px #bdbdbd solid;
	border-radius: 7px;
	background: #fff;
}
.participate_cont{
	width: 824px;
	height: auto;
	margin:0 auto;
	position: relative;

}
.participate_cont h3{
	width: 824px;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	padding-top: 10px;
}
.participate_cont h4{
	width: 824px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	position: relative;
	float:left;
}
.participate_cont h4 span{
	margin-right: 10px;
	position: relative;
	color:#014efd;
	cursor: pointer;
}
.yjs{
	border:none;
	background:url('../images/yjs.png') no-repeat;
	width:81px;
	height:26px;
	cursor: not-allowed;
	right:20px;
	top:2px;
	position: absolute; 
}
.jshd{
	border:none;
	background:url('../images/jshd.png') no-repeat;
	width:81px;
	height:26px;
	right:20px;
	top:2px;
	position: absolute; 
}
.fg{
	width:80px;
	height:26px;
	line-height:26px;
	text-align:center;
	color:#fff;
	border-radius:6px;
	border:none;
	background:#51c7f8;
	float:right;
	margin-top:5px;
}
.disabled-click{
	width:80px;
	height:26px;
	line-height:26px;
	text-align:center;
	color:#474747;
	border-radius:6px;
	border:none;
	background:#ccc;
	float:right;
	margin-top:5px;
	cursor:not-allowed;
}
.time{
	width: 824px;
	height: 50px;
}
.participate_cont h5{
	width: 820px;
	height: 30px;
	float: left;
	font-size: 14px;
	overflow:hidden;
	line-height: 30px;
}
.activities{
	width: 824px;
	margin-bottom:10px;
}
.lable{
	height:23px;
	line-height:23px;
	font-size:14px;
	font-weight:bold;
}
.lable1{
	height:23px;
	line-height:23px;
	font-size:14px;
	color: #014efd;
}
.lable2{
	height:35px;
	line-height:35px;
	font-size:14px;
	font-weight: bold;
}
.lable2 span{
	color:#aeaeae;
	font-size: 12px;
}
.txtarea_1{
	width: 824px;
	width:809px\0;
	border-radius: 10px;
	font-size: 14px;
	line-height:24px;
	color: #474747;
	padding: 0 7px;
}
.word_tab{
	height: 640px;
	width: 824px;	
	border:1px #bdbdbd solid;
	border-radius: 7px;
	position: relative;
}
.word_tab ul{
	height:27px;
	margin-top: 12px;
	border-bottom: 1px #595959 dashed;
	padding-left: 10px;
}
.word_tab ul li{
	height: 27px;
	line-height: 27px;
	width: 70px;
	text-align: center;
	float: left;
	border:1px #51c7f8 solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.word_tab_act{
	background: #51c7f8;
	color: #fff;
}
.word_tab_big{
}
.word_tab_big_tab{
	width: 1000px;
	height: 640px;
	float: left;
	overflow: hidden;
}
.sub_modify{
	width: 101px;
	height: 26px;
	background:url('../images/bcxg.png') no-repeat;
	border:none;
	position: absolute;
	right:10px;
	top:10px;
}

.word_tab_1{
	height: 170px;
	width: 824px;	
	border:1px #bdbdbd solid;
	border-radius: 7px;
	position: relative;
}
.word_tab_1 ul{
	height:27px;
	margin-top: 14px;
	border-bottom: 1px #595959 dashed;
	padding-left: 10px;
}
.word_tab_1 ul li{
	height: 27px;
	line-height: 27px;
	width: 70px;
	text-align: center;
	float: left;
	border:1px #51c7f8 solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.word_tab_1_act{
	background: #51c7f8;
	color: #fff;
}
.word_tab_1_big{
	width: 4000px;
	height: 124px;
	overflow: hidden;
}
.word_tab_1_big_tab{
	width: 1000px;
	height: 124px;
	float: left;
	overflow: hidden;
}
.word_tab_1_big_tab dl{
	width: 115px;
	height: 100px;
	margin-top: 15px;
	float: left;
}
.word_tab_1_big_tab dl dd{
	width:115px;
	height:55px;
}
.word_tab_1_big_tab dl dd img{
	width:50px;
	height:50px;
	display:block;
	margin:0 auto;
}
.word_tab_1_big_tab dl dt{
	text-align: center;
	font-size: 12px;
	width:115px;
}
.word_tab_1_big_tab dl dt span{
	width:95px;
	display: inline-block;
	line-height: 20px;
}
.word_tab_2{
	width: 824px;
	height: 200px;
	margin-top: 10px;
}
.word_tab_2 h3{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 400px;
	text-align: left;
	padding-left: 10px;
}
.word_tab_2 h3 span{
	color: #d6d6d6;
	font-size: 12px;
}
.word_tab_2_left{
	width: 400px;
	height: 200px;
	float: left;
}
.word_tab_2_left h3{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 400px;
	text-align: left;
	padding-left: 10px;
}
.txtarea_2{
	width: 400px;
	height: 145px;
	border-radius: 7px;
	border:1px #c1c1c1 solid;
}
.release_1{
	width: 81px;
	height: 26px;
	background:url('../images/fb1.png') no-repeat;
	border: none;
	margin-left: 160px;
	margin-top: 6px;
}
.word_tab_2_right{
	width: 400px;
	height: 200px;
	float: right;
}
.word_tab_2_right h3{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 400px;
	text-align: left;
	padding-left: 10px;
}
.word_tab_2_right h3 span{
	color: #d6d6d6;
	font-size: 12px;
}
.txtarea_3{
	width: 400px;
	height: 150px;
	border-radius: 7px;
	border:1px #c1c1c1 solid;
	overflow: auto;
}
.txtarea_3 dl{
	border:1px #fff solid;
	width: 60px;
	height: 66px;
	padding-top:3px;
	margin-top: 3px;
	margin-left: 13px;
	float: left;
}
.txtarea_3 dl:hover{
	border:1px #51c7f8 solid;
}
.txtarea_3 dl dd{
	width: 45px;
	height: 47px;
	margin:0 auto;
}
.txtarea_3 dl dt{
	text-align: center;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
}

.word_tab_3{
	width: 824px;
	height: auto;
	margin-top: 10px;
	padding-bottom: 10px;
}
.word_tab_3 h3{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 650px;
	text-align: left;
	float: left;
	padding-left: 10px;
}

.word_tab_3 h4{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 124px;
	float: right;
	text-align: right;
	padding-left: 10px;
}
.word_tab_3_cont{
	width: 824px;
	height: auto;
	border-radius: 7px;
	border:1px #bdbdbd solid;
}

.check-bottom_1{
	width: 824px;
	height: auto;
	padding-bottom: 10px;
	margin:0 auto;
}
.check-bottom_1 .check-bottom_1_left{
	width: 80px;
	height: 80px;
	float: left;
	text-align: center;
}
.check-bottom_1 .check-bottom_1_left img{
	display: block;
	margin:9px 0 0 13px;
 	vertical-align:middle;.pages1 ol
}
.check-bottom_1 .check-bottom_1_right{

}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_top{
	width: 810px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 3px;
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm{
	width: 800px;
	height: 27px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm span{
	color:#838383;
	float: right;
	margin-right: 15px;
}
.check-bottom_1 .check-bottom_1_right .check-bottom_1_right_botm strong{
	color:#45a5fe;
	float: right;
}





.word_tab_annex{
	height: 124px;
	width: 824px;	
	border:1px #bdbdbd solid;
	border-radius: 7px;
	position: relative;
	overflow: auto;
	padding-bottom:10px;
}
.word_tab_annex .word_tab_annex_dl{
	position: relative;
	width: 100px;
	height: 94px;
	float: left;
	margin-left: 8px;
	border:1px #fff solid;
	padding-top: 10px;
	margin-top: 5px;
	margin-bottom:10px;
}
.cy{
	background:url('../images/operation.png') no-repeat;
	width:14px;
	height:15px;
	margin-left:-16px;
	cursor:pointer;
	display:inline-block;
	margin:-3px auto;
}
.see{
	background:url('../images/see.png') no-repeat;
	width:18px;
	height:10px;
	margin-left:-16px;
	display:inline-block;
	cursor:pointer;
	margin:0 auto;
}
.wjs{
	background:url('../images/nosub.png') no-repeat;
	width:16px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	margin:-3px auto;
	
}
.tj{
	background:url('../images/sub.png') no-repeat;
	width:16px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	margin:-3px auto;
}
.qxtj{
	background:url('../images/nosub1.png') no-repeat;
	width:16px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	margin:-3px auto;
}
.fx{
	background:url('../images/fx.png') no-repeat;
	width:13px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	margin:-3px auto;
}
.qxfx{
	background:url('../images/qxfx.png') no-repeat;
	width:13px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	margin:-3px auto;
}
.de{
	background:url('../images/de.png') no-repeat;
	width:14px;
	height:15px;
	display:inline-block;
	cursor:pointer;
	margin:0 auto;
}
.word_tab_annex_dl dl{
	width: 100px;
	height: 90px;
	float: left;
	
}
.word_tab_annex_dl:hover{
	border:1px #51c7f8 solid;
}
.word_tab_annex_dl dl dd{
	width: 100px;
	height: 55px;
}
.word_tab_annex_dl dl dd img{
	width:50px;
	height:50px;
	display:block;
	margin:0 auto;
}
.word_tab_annex_dl dl dt{
	text-align: center;
	line-height: 19px;
	height: 40px;
	font-size: 12px;
	overflow:hidden;
}

.bor_der{
	position: absolute;
	width: 102px;
	height: 20px;
	background: #51c7f8;
	bottom:-20px;
	display: none;
}
.bor_der ul{
	margin-left: 20px;
}
.bor_der ul li{
	float: left;
	width: 15px;
	height: 18px;
	margin-left: 10px;
	cursor: pointer;

}
.word_tab_annex_dl:hover .bor_der{
	position: absolute;
	width: 102px;
	height: 20px;
	background: #51c7f8;
	bottom:-20px;
	display: block;
	margin-left: -1px;
}
.word_tab_annex dl:hover .bor_der ul{
	margin-left: 20px;
}
.word_tab_annex dl:hover .bor_der ul li{
	float: left;
	width: 15px;
	height: 18px;
	margin-left: 10px;
	cursor: pointer;

}
.bor_der_1{
	background: url('../images/look.png') no-repeat center 4px;
}
.bor_der_2{
	background: url('../images/Download1.png') no-repeat;
}

.word_tab_2 h3{
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	width: 400px;
	text-align: left;
	padding-left: 10px;
}
.word_tab_2 h3 span{
	color: #d6d6d6;
	font-size: 12px;
}
.txtarea_4{
	width: 824px;
	height: 150px;
	border-radius: 7px;
	border:1px #c1c1c1 solid;
	overflow: auto;
}
.txtarea_4 dl{
	border:1px #fff solid;
	width: 60px;
	height: 66px;
	padding-top:3px;
	margin-top: 3px;
	margin-left: 11px;
	float: left;
}
.txtarea_4 dl:hover{
	border:1px #51c7f8 solid;
}
.txtarea_4 dl dd{
	width: 45px;
	height: 47px;
	margin:0 auto;
}
.txtarea_4 dl dt{
	text-align: center;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
}
.ended{
	position: absolute;
	right:10px;
	top:40px;
	width: 81px;
	height: 26px;
	border:none;
	background: url('../images/yjs.png') no-repeat;
}
.collective_cont h3 p strong{
	position: absolute;
	right:26px;
	top:7px;
	width: 5px;
	height: 5px;
	background: red;
	border:1px #fff solid;
	border-radius: 10px;
}

/* 鑽夌绠卞紑濮�*/
.draft1{
	width:100%;
	position:relative;
	
}
.draft1 .draft_wrap{
	position: absolute;
	width: 793px;
	margin-left:-396px;
	height: 640px;
	left: 50%;
	top:150px; 
	z-index: 999;
	display: none;
}
.draft1 .draft_wrap .dlog-top{
	width: 793px;
	height: 40px;
	background: #f3922b;
	border-bottom:1px #595959 dashed;
}
.draft1 .draft_wrap .dlog-top span{
	line-height: 40px;
	color:#44484d;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
}
.draft1 .draft_wrap .dlog-top img{
	float: right;
	padding-top: 10px;
	padding-right: 15px;
	cursor: pointer;
}
.draft_bottom{
	width: 793px;
	height: 600px;
	background: #fff;
	padding-top: 10px;
	overflow: auto;
}
.draft_bottom_table{
	width:750px;
	background: #fff;
	border:1px #bdbdbd solid;
	margin:0 20px 13px 20px;

}
.draft_bottom_table table{
	width: 750px;
	border:1px #ddd solid;
}
.draft_bottom_table table tr{
	height:32px;
	line-height: 32px;
}
.draft_bottom_table table tr th{
	background: #51c7f8;
	color:#fff;
	text-align: center;
	border: none;
}
.draft_bottom_table table tr td{
	text-align: center;
	height:32px;
	line-height: 32px;
	vertical-align: center;
	position: relative;
}
.draft_bottom_table table tr td strong img{
	display: inline-block;
	width: 14px;
	height: 15px;
	cursor: pointer;
}
.draft_bottom_table table tr td span img{
	display: inline-block;
	width: 17px;
	height: 15px;
	margin-right: 10px;
	cursor: pointer;
}
.shangc{
	width: 60px;
	height: 25px;
	border:1px #bdbdbd solid;
	display:block;
	border-radius:5px;
	line-height:25px;
	font-size: 14px;
	background: #f2f2f2;
	text-align: center;
	cursor: pointer;
	float:left;
	margin-top:4px;
}
.tab_bor u{
	width:70px;
	height:25px;
	line-height:25px;
	float:left;
	display:block;
}
#originFileName{
	float:left;
}
.shangc1{
	width:100%;
	position:relative;
}
.shangc1_wrap{
	position: absolute;
	width: 380px;
	margin-left:-190px;
	height: 240px;
	left: 50%;
	top:500px; 
	z-index: 999;
	display: none;
}
.shangc1_wrap .dlog-top{
	width: 380px;
	height: 40px;
	background: #f3922b;
	border-bottom:1px #595959 dashed;
}
.shangc1_wrap .dlog-top span{
	line-height: 40px;
	color:#44484d;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
}
.shangc1_wrap .dlog-top img{
	float: right;
	padding-top: 10px;
	padding-right: 15px;
	cursor: pointer;
}
.shangc1-bottom{
	width: 360px;
	height: 180px;
	background: #fff;
	padding-left:20px;
	padding-top: 10px;
}
.shangc1-bottom label{
	line-height: 40px;
	height: 40px;
}
.shangc1-bottom input{

}
.sc{
	width: 81px;
	height: 26px;
	background: url('../images/sc.png') no-repeat;
	border:none;
	margin-left: 70px;
	margin-right: 10px;
	margin-top: 15px;
}
.qx{
	width: 81px;
	height: 26px;
	background: url('../images/qx.png') no-repeat;
	border:none;
	margin-top: 15px;
}
.tab_bor{
	width: 730px;
	margin-left: 10px;
	margin-top: 10px;
	height: auto;
	position: relative;
}
.tab_bor h6{
	width: 694px;
	height: 35px;
	line-height: 35px;
	position: relative;
	padding-left: 10px;
}
.tab_bottom{
	height: 100px;
	padding-bottom: 10px;
	background: #fff;
	overflow: auto;
}
.tab_bor table{
	width: 700px;
	margin-left: 7px;
	margin-top:10px;
} 
 .tab_bor tr{
 	width: 350px;
	height: 35px;
	line-height: 35px;
	float: left;
}
.tab_bor tr td{
	position: relative;
}
.tab_bor tr td img{
	cursor: pointer;
	position: absolute;
	top:2px;
	left:5px;
	width:40px;
} 
.Revision_record{
	width: 824px;
	height: 160px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 160px;
}
.Revision_record span{
	font-size: 16px;
	font-weight: bold;
	line-height: 160px;
	color: #014efd;
	cursor: pointer;
}
.school_1{
	width:234px;
	height:129px;
	border:1px #c8c8c8 solid;
	background:#f2f2f2;
	position: absolute;
	left:12px;
	top:15px;
	z-index:999;
	display:none;
}
.participate_cont h4 span:hover .school_1{
	display:block;
}
.school_1 dl{}
.school_1 dl dd{
	float:left;
	width:113px;
	height:113px;
}
.school_1 dl dd span img{
	display:block;
	margin: 10px 0 0 10px;
}
.school_1 dl dd span{
	display:inline-block;
	line-height:17px;
	text-align:center;
	width: 103px;
	height: 100px;
	color:#474747;
}
.school_1 dl dt{
	float:right;
	width:120px;
	height:114px;
	margin-top:3px;
}
.school_1 dl dt span{
	text-align:left;
	width:130px;
	overflow:hidden;
	display:block;
	line-height:23px;
	color:#474747;
}
