.teaching_research_list_cont {
	width: 1200px;
	background: #fff;
	min-height: 650px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.t_r_l_c {
	width: 1130px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.t_r_l_c_select {
	height: 33px;
	border-bottom: 1px #e0e2e7 solid;
	padding-top: 27px;
}

.t_r_l_c_select ol {
	height: 33px;
	margin-left: 15px;
	width: 250px;
	float: left;
}

.t_r_l_c_select ol li.t_r_l_c_li {
	width: 105px;
	height: 33px;
	font-size: 14px;
	color: #7b7b7b;
	text-align: center;
	line-height: 33px;
	float: left;
	cursor: pointer;
}

.t_r_l_c_select ol li.t_r_l_c_li_act {
	width: 105px;
	height: 33px;
	font-size: 14px;
	background-color: #fff;
	color: #ff971d;
	font-weight: bold;
	text-align: center;
	line-height: 33px;
	border: 1px #e0e2e7 solid;
	border-bottom: none;
}

.drafts {
	width: 79px;
	height: 29px;
	float: right;
	margin-top: 9px;
}

.drafts .drafts_img {
	width: 16px;
	height: 12px;
	background: url(../../../common/images/common_bg.png);
	background-position: -60px 0;
	display: block;
	float: left;
	margin-top: 1px;
	margin-right: 5px;
}

.drafts a {
	display: block;
	float: left;
	color: #4a4a4a;
	font-size: 14px;
	position: relative;
}

.drafts a span {
	position: absolute;
	right: -3px;
	top: -3px;
	width: 6px;
	height: 6px;
	background: url(../../../common/images/common_bg.png);
	background-position: -79px 0;
}

.fq_teaching_btn {
	background: url(../../../common/images/common_btn.png);
	background-position: 0 0;
	width: 131px;
	height: 30px;
	float: right;
	cursor: pointer;
	margin: 0px 15px 0 10px;
}

.t_r_l_c_right {
	float: right;
}

.t_r_l_c_cont {
	width: 1100px;
	margin: 23px auto;
}

.t_r_l_c_cont table {
	width: 100%;
}

.t_r_l_c_cont table tr {
	
}

.t_r_l_c_cont table tr th {
	height: 30px;
	line-height: 30px;
	background-color: #e6f0f8;
	border-right: 1px #fff solid;
	font-size: 14px;
	font-weight: bold;
}

.t_r_l_c_cont table tr td {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px #d3d3d3 dashed;
	text-align: center;
	font-size: 14px;
	position: relative;
}

.school_num {
	display: inline-block;
	width: 70px;
}

.school_num b {
	display: inline-block;
	width: 75px;
}

.school_num:hover .school_name {
	display: block;
}

.schoolName {
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px #d7d7d7 solid;
	width: 150px;
	margin: 0 auto;
}

.hover_sj {
	background: url(../../../common/images/common_bg.png);
	background-position: -230px -2px;
	width: 11px;
	height: 7px;
	position: absolute;
	left: 21px;
	top: -5px;
}

.school_name {
	width: 210px;
	height: 120px;
	background: #fff;
	position: absolute;
	left: 14%;
	top: 40px;
	display: none;
	z-index: 1;
}

.school_name ul {
	border: 1px #d6d7d6 solid;
	max-height: 151px;
	overflow: auto;
	height: auto;
	padding: 5px 0;
}

.school_name ul li {
	width: 192px;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	padding: 0 5px;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
}

.spot {
	/* background: url(../../../common/images/common_bg.png); */
	background-position: -79px 0;
	width: 6px;
	height: 6px;
	display: block;
	position: absolute;
	left: 4px;
	top: 17px;
}

.edit_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -49px -18px;
	width: 15px;
	height: 15px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.del_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -68px -18px;
	width: 15px;
	height: 15px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.share_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -87px -18px;
	width: 15px;
	height: 16px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.partake_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -108px -16px;
	width: 18px;
	height: 18px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.see_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -132px -18px;
	width: 21px;
	height: 13px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.t_r_l_c_cont_table {
	margin-bottom: 15px;
}

.show {
	display: block;
}

.td_name {
	color: #2890fb;
}

.fq_activity_cont {
	width: 1200px;
	background: #fff;
	min-height: 650px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 70px;
}

.activity_info_wrap {
	width: 1000px;
	margin: 0 auto;
	height: auto;
	padding-top: 45px;
}

.activity_type {
	width: 930px;
	height: 66px;
	border-left: 2px #c7c7c7 solid;
	position: relative;
}

.activity_type_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -0 -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.activity_type_right {
	width: 1060px;
	margin-left: 35px;
}

.activity_type_right_h3 {
	float: left;
	width: 85px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: #333;
}

.tbja {
	width: 120px;
	float: left;
	height: 20px;
	margin-top: 12px;
}

.tbja input {
	margin-top: -1px;
}

.tbja label {
	font-size: 14px;
	color: #333;
	cursor: pointer;
}

.ztyt {
	width: 130px;
	float: left;
	height: 20px;
	margin-top: 12px;
}

.ztyt input {
	margin-top: -1px;
}

.ztyt label {
	font-size: 14px;
	color: #333;
	cursor: pointer;
}

.spyt {
	width: 130px;
	float: left;
	height: 20px;
	margin-top: 12px;
}

.spyt input {
	margin-top: -1px;
}

.spyt label {
	font-size: 14px;
	color: #333;
	cursor: pointer;
}

.zbkt {
	width: 130px;
	float: left;
	height: 20px;
	margin-top: 12px;
}

.zbkt input {
	margin-top: -1px;
}

.zbkt label {
	font-size: 14px;
	color: #333;
	cursor: pointer;
}

.activity_theme {
	width: 930px;
	height: 111px;
	border-left: 2px #c7c7c7 solid;
	position: relative;
}

.activity_theme_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -41px -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.activity_theme_right {
	width: 1060px;
	margin-left: 35px;
}

.activity_theme_right_h3 {
	float: left;
	width: 105px;
	font-size: 16px;
	height: 53px;
	line-height: 40px;
	color: #333;
}

.sel_sch {
	width: 830px;
	clear: both;
	height: 30px;
}

.school_sel_wrap {
	float: left;
	width: 170px;
}

.subject_sel_wrap {
	float: left;
	width: 137px;
}

.grade_sel_wrap {
	float: left;
	width: 137px;
}

.main_standby_sel_wrap {
	float: left;
	width: 150px;
}

.main_preparation_project_wrap {
	float: left;
	width: 180px;
}

.activity_require {
	width: 930px;
	height: auto;
	position: relative;
}

.activity_require_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -82px -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.activity_require_right {
	width: 1060px;
	margin-left: 35px;
}

.activity_require_right_h3 {
	float: left;
	width: 1040px;
	font-size: 16px;
	height: 50px;
	line-height: 40px;
}

.theme_txt {
	width: 1030px;
	border: 1px #b2b2b2 solid;
	height: 29px;
	line-height: 29px;
	padding-left: 8px;
	cursor: text;
}

.activity_require_right textarea {
	width: 1030px;
	border: 1px #b2b2b2 solid;
	height: 150px;
	line-height: 29px;
	padding-left: 8px;
	border-radius: 3px;
}

.standby_lessonplan {
	width: 930px;
	height: auto;
	border-left: 2px #c7c7c7 solid;
	position: relative;
}

.standby_lessonplan_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -123px -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.standby_lessonplan_right {
	width: 860px;
	margin-left: 35px;
}

.standby_lessonplan_right_h3 {
	float: left;
	width: 85px;
	font-size: 16px;
	height: 50px;
	line-height: 40px;
	color: #333;
}

.upload_files {
	width: 860px;
	clear: both;
	height: auto;
}

.file {
	position: relative;
	display: inline-block;
	border: 1px solid #b2b2b2;
	overflow: hidden;
	color: #6d6d6d;
	text-decoration: none;
	text-indent: 0;
	line-height: 33px;
	width: 275px;
	height: 33px;
	padding-left: 5px;
	float: left;
}

.file input {
	width: 275px;
	height: 33px;
	line-height: 33px;
	border: none;
}

.file_btn {
	background: #95c85d;
	width: 82px;
	height: 30px;
	line-height: 30px;
	border: none;
	color: #fff;
	font-size: 14px;
	margin-left: 30px;
}

.files {
	width: 860px;
	clear: both;
}

.files_wrap_c {
	width: 380px;
	height: 40px;
	background: #e3eaf4;
	margin: 20px 0 10px 0;
	margin-right: 50px;
	float: left;
}

.files_wrap_left_c {
	width: 21px;
	height: 36px;
	background: url(../../../common/images/common_bg.png);
	background-position: -139px -44px;
	margin: 0 15px 0 20px;
	float: left;
}

.files_wrap_center_c {
	width: 278px;
	float: left;
	height: 40px;
}

.files_wrap_center_t_c {
	width: 278px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.files_wrap_center_t span {
	
}

.files_wrap_center_b_c {
	width: 278px;
	height: 15px;
	color: #1aa97b;
	font-size: 12px;
}

.files_wrap_right_c {
	float: left;
	width: 42px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #0f0c98;
	cursor: pointer;
}

.reference_material {
	width: 930px;
	height: auto;
	position: relative;
	display: none;
}

.reference_material_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -164px -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.reference_material_right {
	width: 860px;
	margin-left: 35px;
}

.reference_material_right_h3 {
	float: left;
	width: 85px;
	font-size: 16px;
	height: 50px;
	line-height: 40px;
	color: #333;
}

.video_address {
	width: 930px;
	height: 111px;
	border-left: 2px #c7c7c7 solid;
	position: relative;
	display: none;
}

.video_address_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -41px -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.video_address_right {
	width: 860px;
	margin-left: 35px;
}

.video_address_right_h3 {
	float: left;
	width: 105px;
	font-size: 16px;
	height: 53px;
	line-height: 40px;
	color: #333;
}

.confirm_main_standby {
	width: 930px;
	height: auto;
	border-left: 2px #c7c7c7 solid;
	position: relative;
	padding-bottom: 20px;
}

.confirm_main_standby_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -123px -123px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.confirm_main_standby_right {
	width: 860px;
	margin-left: 35px;
}

.confirm_main_standby_right_h3 {
	float: left;
	width: 155px;
	font-size: 16px;
	height: 50px;
	line-height: 40px;
	color: #333;
}

.activity_time {
	width: 930px;
	height: 150px;
	border-left: 2px #c7c7c7 solid;
	position: relative;
}

.activity_time_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -0 -123px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.activity_time_right {
	width: 860px;
	margin-left: 35px;
}

.activity_time_right_h3 {
	float: left;
	width: 265px;
	font-size: 16px;
	height: 53px;
	line-height: 40px;
	color: #333;
}

.activity_time_right_h3 span {
	font-size: 14px;
	color: #9e9e9e;
}

.activity_time_wrap {
	width: 860px;
	clear: both;
}

.start_time_wrap {
	width: 860px;
	height: 30px;
}

.start_time_wrap span {
	float: left;
	width: 70px;
	height: 30px;
	color: #333;
	font-size: 14px;
	line-height: 30px;
}

.start_time_wrap input {
	height: 23px;
	line-height: 23px;
}

.end_time_wrap {
	width: 860px;
	height: 30px;
	margin: 10px 0;
}

.end_time_wrap input {
	height: 23px;
	line-height: 23px;
}

.end_time_wrap span {
	float: left;
	width: 70px;
	color: #333;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}

.participation_scope {
	width: 930px;
	height: auto;
	border-left: 2px #c7c7c7 solid;
	position: relative;
	padding-bottom: 1px;
}

.participation_scope_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -41px -123px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.participation_scope_right {
	width: 860px;
	margin-left: 35px;
}

.participation_scope_right_h3 {
	float: left;
	width: 115px;
	font-size: 16px;
	height: 53px;
	line-height: 40px;
	color: #333;
}

#partake_subject {
	display: none;
}

.participation_subject {
	width: 860px;
	height: auto;
	border: 1px #b2b2b2 solid;
	border-radius: 3px;
	clear: both;
	margin-bottom: 20px;
}

.participation_subject h3 {
	width: 843px;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	color: #4a4a4a;
	padding-left: 17px;
	border-bottom: 1px #d3d3d3 dashed;
}

.participation_subject_b {
	width: 100%;
	height: auto;
}

.subject {
	float: left;
	width: 110px;
	margin: 10px 0 10px 10px;
	font-size: 14px;
}

.subject input {
	margin-top: -1px;
}

.participation_subject_b ul {
	
}

.participation_subject_b ul li {
	float: left;
	height: 25px;
	width: 205px;
	margin-top: 12px;
	margin-left: 10px;
}

.participation_subject_b ul li span {
	width: 6px;
	height: 6px;
	background: url(../../../common/images/common_bg.png);
	background-position: -88px 0;
	display: inline-block;
	float: left;
	margin-top: 4px;
	margin-right: 3px;
}

.participation_subject_b ul li strong {
	font-size: 14px;
	color: #333;
	float: left;
}

.participation_subject_b ul li b {
	width: 10px;
	height: 10px;
	background: url(../../../common/images/common_bg.png);
	background-position: -96px 0;
	display: inline-block;
	float: left;
	margin: 2px 0 0 5px;
	cursor: pointer;
}

.activity_info_border {
	height: 2px;
	border-bottom: 1px #d5d5d5 solid;
	width: 950px;
	margin: 70px auto 20px auto;
}

.activity_btn {
	width: 320px;
	margin: 0 auto 30px auto;
	height: 30px;
}

.publish {
	width: 106px;
	height: 30px;
	background: url(../../../common/images/common_btn.png);
	background-position: 0 -34px;
	float: left;
	margin-right: 107px;
	border: none;
}

.save_drafts {
	width: 106px;
	height: 30px;
	background: url(../../../common/images/common_btn.png);
	background-position: -107px -34px;
	border: none;
}

.edit {
	width: 106px;
	height: 30px;
	background: url(../../../common/images/common_btn.png);
	background-position: 0 -65px;
	float: left;
	margin-right: 107px;
	border: none;
}

.no_edit {
	width: 106px;
	height: 30px;
	background: url(../../../common/images/common_btn.png);
	background-position: -107px -65px;
	border: none;
}

.partake_activity_cont {
	width: 1200px;
	background: #fff;
	min-height: 650px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.partake_info_cont {
	width: 1130px;
	margin: 0 auto;
	height: auto;
	padding-top: 33px;
}

.partake_info_title {
	height: 30px;
	position: relative;
}

.partake_info_title span {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: block;
}

.end_activity {
	position: absolute;
	right: 0;
	top: 0;
	width: 96px;
	border: none;
	height: 30px;
	background: url(../../../common/images/common_btn.png);
	background-position: -132px 0;
}

.over_activity {
	position: absolute;
	right: 0;
	top: 0;
	width: 96px;
	border: none;
	height: 30px;
	background: #aeaeae;
	font-size: 15px;
	color: #fff;
}

.partake_info_author {
	height: 31px;
	text-align: center;
}

.partake_info {
	text-align: center;
}

.partake_info li {
	min-width: 140px;
	display: inline-block;
}

.partake_info li span {
	display: inline-block;
	width: 14px;
	height: 13px;
	background: url(../../../common/images/common_bg.png);
	background-position: -110px 0;
	margin: 10px 10px 0 0;
}

.partake_info_Standby b {
	display: inline-block;
	height: 31px;
	line-height: 31px;
	font-size: 14px;
	color: #7d7d7d;
}

.partake_info_author b {
	display: inline-block;
	height: 31px;
	line-height: 31px;
	font-size: 14px;
	color: #7d7d7d;
}

.activity_info {
	width: 1080px;
	float: right;
	margin-bottom: 10px;
}

.activitytime {
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-size: 14px;
	color: #333;
}

.partake_range {
	width: 100%;
	padding-top: 6px;
}

.partake_range b {
	float: left;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	color: #333;
}

.partake_range .a_info {
	border-right: 1px #bebebe solid;
	float: left;
	padding-right: 10px;
/* 	height: 18px; */
	line-height: 18px;
	font-size: 14px;
	color: #333;
	margin-right: 10px;
}

.partake_school {
	color: #5096ff;
	float: left;
	padding-right: 10px;
	font-size: 14px;
	height: 18px;
	line-height: 18px;
	margin-right: 10px;
	position: relative;
}

.school_info {
	width: 200px;
	height: auto;
	min-height: 50px;
	border: 1px #c7c7c7 solid;
	background: #fff;
	position: absolute;
	left: -7px;
	z-index: 1;
	top: 18px;
	display: none;
}

.school_info ul {
	
}

.school_info ul li {
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #7d7979;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 10px;
	text-overflow: ellipsis;
}

.partake_school:hover .school_info {
	display: block;
}

.info_border {
	border-bottom: 1px #a4e0c9 solid;
	height: 1px;
	clear: both;
}

.activity_demands {
	width: 1100px;
	height: auto;
	padding-bottom: 20px;
	margin: 25px auto 0 auto;
	border-left: 2px #c7c7c7 solid;
	position: relative;
}

.activity_demands_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -82px -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.activity_demands_right {
	width: 1000px;
	margin-left: 35px;
}

.activity_demands_right_h3 {
	float: left;
	width: 85px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: #333;
}

.demands_info {
	font-size: 14px;
	color: #333;
	line-height: 22px;
	width: 1060px;
	clear: both;
}

.zb_lessonplan {
	width: 1100px;
	height: auto;
	padding-bottom: 10px;
	margin: 0 auto;
	border-left: 2px #c7c7c7 solid;
	position: relative;
}

.zb_lessonplan_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -123px -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.zb_lessonplan_right {
	width: 1000px;
	margin-left: 35px;
}

.zb_lessonplan_right_h3 {
	float: left;
	width: 85px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: #333;
}

.zb_lessonplan_right_h4 {
	float: left;
	width: 85px;
	font-size: 14px;
	color: #333;
	height: 40px;
	line-height: 42px;
}

.zb_lessonplan_right_h4 input {
	margin-top: 0px;
}

.zb_lessonplan_right_h5 {
	float: right;
	width: 85px;
	font-size: 14px;
	color: #fe7e37;
	height: 40px;
	line-height: 42px;
	cursor: pointer;
}

.zb_lessonplan_right_h5 span {
	float: left;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -157px -17px;
	width: 16px;
	margin: 12px 5px 0 0;
	height: 16px;
}

.zb_lessonplan_cont {
	width: 100%;
	min-height: 540px;
	height:auto;
	border: 1px #b2b2b2 solid;
	border-radius: 3px;
	clear: both;
}

.zb_lessonplan_cont_title {
	height: 42px;
	width: 100%;
	border-bottom: 1px #c1c1c1 dashed;
}
.zb_lessonplan_cont_fj{
	height: auto;
	width: 100%; 
}
.zb_lessonplan_cont_fj_z{
	height: 25px;
	line-height:25px;
	width: 845px;
	padding-left:15px;  
}
.zb_lessonplan_cont_fj_c{
	width:100%;
	height:auto;
}
.fj_div{
	float:left;
	width:70px;
	height:55px; 
	margin:5px 0;
}
.fj_div img{
	width:28px;
	height:28px;
	display:block;
	margin:0 auto; 
}
.fj_div_name{
	width:60px;
	text-align:center;
	height:25px;
	margin:0 auto;
	line-height:25px;
	font-size:12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.zb_lessonplan_cont_title h3 {
	font-size: 14px;
	color: #fe7e37;
	border-right: 1px #c2c2c2 solid;
	height: 22px;
	line-height: 22px;
	margin-top: 12px;
	float: left;
	padding: 0 10px;
}

.zb_lessonplan_cont_title ul {
	float: left;
	height: 22px;
	margin-top: 12px;
}

.zb_lessonplan_cont_title ul li {
	float: left;
	font-size: 14px;
	color: #929292;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
	cursor: pointer;
}

.zb_lessonplan_cont_word {
	width: 100%;
	height: 496px;
	border-bottom: 1px #c1c1c1 dashed;
}

.li_act {
	color: #fe7e37;
}

.edit_zb_lessonplan {
	width: 1100px;
	height: auto;
	padding-bottom: 10px;
	margin: 0 auto; 
	position: relative;
}

.edit_zb_lessonplan_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -82px -123px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.edit_zb_lessonplan_right {
	width: 1000px;
	margin-left: 35px;
}
.edit_zb_lessonplan_right ul{ 
	height:38px;
	margin-top:10px;
}
.edit_zb_lessonplan_right_h3 {
	float: left;
	width: 155px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: #333;
}

.edit_zb_lessonplan_title {
	width: 100%;
	height: 41px;
	border-bottom: 1px #b2b2b2 solid;
}

.edit_zb_lessonplan_right_h5 {
	float: right;
	width: 85px;
	font-size: 14px;
	color: #fe7e37;
	height: 40px;
	line-height: 42px;
	cursor: pointer;
	margin-left: 10px;
}

.edit_zb_lessonplan_right_h5 span {
	float: left;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -175px -17px;
	width: 16px;
	margin: 12px 5px 0 0;
	height: 16px;
}

.edit_zb_lessonplan_cont {
	width: 99%;
	height: auto;
	border: 1px #b2b2b2 solid;
	border-bottom:0;
}

.edit_zb_lessonplan_cont dl {
	width: 98px;
	height: 95px;
	float: left;
	margin: 10px 10px 0 10px;
}
.edit_zb_lessonplan_cont_zbr{
	width:99%;
	height:30px;
}
.edit_zb_lessonplan_cont_zbr span{
	display:block;
	width:80px;
	height:30px;
	line-height:30px;
	background:#fdaa7b;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.edit_zb_lessonplan_cont_cyr{
	width:99%;
	height:30px;
}
.edit_zb_lessonplan_cont_cyr span{
	display:block;
	width:80px;
	height:30px;
	line-height:30px;
	background:#8ed486;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.edit_zb_lessonplan1_cont{
	width: 100%;
    height: 110px;
    overflow: auto;
}
.edit_zb_lessonplan_cont dl dd {
	width: 98px;
	height: 60px;
}

.edit_zb_lessonplan_cont dl dd img {
	display: block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin: 0 auto;
}

.edit_zb_lessonplan_cont dl dt {
	font-size: 14px;
	color: #4a4a4a;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	text-overflow: ellipsis;
}

.participant_edit {
	width: 1100px;
	height: auto;
	padding-bottom: 10px;
	margin: 0 auto;
	position: relative;
}

.participant_edit_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -123px -123px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.participant_edit_right {
	width: 1000px;
	margin-left: 35px;
}

.participant_edit_right_h3 {
	float: left;
	width: 155px;
	font-size: 16px;
	height: 45px;
	line-height: 40px;
	color: #333;
}

.participant_edit_right ul {
	width: 100%;
	clear: both;
	height: 30px;
}

.ul_li {
	float: left;
	width:81px;
	border: 1px #c6c6c6 solid; 
	border-bottom:2px #c6c6c6 solid;
	font-size: 14px;
	color: #4a4a4a; 
	height: 30px;
	line-height: 30px;
	text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin: 5px 0 0 5px;
	
}

.participant_edit_right1_cont {
	width: 99%;
	max-height: 160px; 
	min-height: 160px;
	border: 1px #b2b2b2 solid;
	clear: both;
}
.participant_edit_right_cont {
	width: 100%;
	max-height: 130px;
	overflow: auto;
	min-height: 130px; 
	clear: both;
}

.Revision_record {
	width: 990px;
	height: 114px;
	text-align: center;
	font-size: 14px;
	line-height: 124px;
}

.Revision_record span {
	font-size: 14px;
	line-height: 124px;
	color: #014efd;
	cursor: pointer;
}

.participant_edit_right_cont dl {
	width: 115px;
	height: 95px;
	float: left;
	margin: 20px 0 0 0; 
}

.participant_edit_right_cont dl dd {
	width: 115px;
	height: 60px;
	position: relative;
}

.participant_edit_right_cont dl dd img {
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin: 0 auto;
}

.participant_edit_right_cont dl dt {
	font-size: 14px;
	color: #4a4a4a;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	text-overflow: ellipsis;
}

.ul_li_act {
	height: 30px;
	background: #eff8e6;
	border: 1px #a1d56a solid;
	border-bottom: 2px #a1d56a solid;
}

.references {
	width: 1100px;
	height: auto;
	padding-bottom: 10px;
	margin: 0 auto;
	position: relative;
}

.references_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -164px -82px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.references_right {
	width: 1050px;
	margin-left: 35px;
}

.references_title {
	width: 100%;
	height: 45px;
	border-bottom: 1px #b2b2b2 solid;
}
 
.references_right_h3 {
	float: left;
	width: 155px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: #333;
}

.references_cont {
	width: 100%;
	height: auto;
}

.references_cont dl {
	width: 105px;
	height: 120px;
	background: #fff;
	float: left;
	margin: 20px 10px 0 10px;
}

.references_cont dl:hover {
	-moz-box-shadow: 0px 3px 11px #a9a9a9; /* for firefox */
	-webkit-box-shadow: 0px 3px 11px #a9a9a9; /* for safari or chrome */
	box-shadow: 0px 3px 11px #a9a9a9; /* for opera or ie9 */
}

.references_cont dl:hover .download_icon {
	display: block;
}

.references_cont dl:hover .see_icon {
	display: block;
}

.references_cont dl dd {
	width: 105px;
	height: 65px;
}

.references_cont dl dd img {
	display: block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin: 10px auto 0 auto;
}

.references_cont dl dt {
	height: 45px;
}

.references_cont dl dt span {
	font-size: 14px;
	color: #4a4a4a;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	height: 25px;
	line-height: 25px;
	text-overflow: ellipsis;
	width: 100px;
	margin: 0 auto;
	display: block;
}

.download_icon {
	float: right;
	display: block;
	width: 16px;
	height: 14px;
	background: url(../../../common/images/common_bg.png);
	background-position: -158px 0;
	cursor: pointer;
	display: none;
	margin-right: 10px;
}

.see_icon {
	float: right;
	display: block;
	width: 17px;
	height: 11px;
	margin-top: 3px;
	background: url(../../../common/images/common_bg.png);
	background-position: -209px 0;
	cursor: pointer;
	display: none;
	margin-right: 8px;
}

.partake_discuss {
	width: 910px;
	margin: 25px auto 0 auto;
	height: 250px;
}

.partake_discuss_title {
	width: 100%;
	height: 33px;
	line-height: 33px;
}

.partake_discuss_title_h5 {
	float: left;
	width: 100%;
	font-size: 16px;
	color: #4a4a4a;
	height: 40px;
	line-height: 42px;
	cursor: pointer;
}

.partake_discuss_title_h4 {
	float: right;
	width: 80px;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	text-align: right;
	color: #a9a9a9;
}

.partake_discuss_title_h5 span {
	float: left;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -191px -17px;
	width: 16px;
	margin: 12px 5px 0 0;
	height: 15px;
}

#discussion_content {
	width: 894px;
	height: 127px;
	padding: 5px;
	border: 1px #abadb3 solid;
}

.submit1 {
	display: block;
	margin: 15px auto;
	width: 98px;
	height: 30px;
	background: #ff9d34;
	color: #fff;
	font-size: 14px;
	border: none;
}

.teaching_table_cont {
	width: 1200px;
	background: #fff;
	min-height: 650px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.teaching_table_c {
	width: 1120px;
	height: auto;
	margin: 0 auto;
	padding-top: 16px;
}

.teaching_table_c h3 {
	width: 100%;
	height: 41px;
	border-bottom: 1px #c4c4c4 solid;
}

.teaching_table_c h3 span {
	width: 18px;
	height: 12px;
	float: left;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -211px -18px;
	margin-top: 15px;
	margin-right: 9px;
}

.teaching_table_c h3 strong {
	float: left;
	font-size: 16px;
	color: #4a4a4a;
	line-height: 41px;
}

.teaching_table_b {
	width: 1120px;
	clear: both;
}

.teaching_dl {
	float: left;
	width: 106px;
	height: 153px;
	margin-top: 25px;
	margin-right: 38px;
}

.teaching_dl dl {
	
}

.teaching_dl dl dd {
	width: 106px;
	height: 70px;
	padding-top: 10px;
}

.teaching_dl dl dd img {
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	cursor: pointer;
}

.teaching_dl dl dt {
	width: 106px;
	height: 50px;
}

.teaching_dl dl dt span {
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #4a4a4a;
	font-size: 14px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.teaching_dl dl dt strong {
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: #898989;
	font-size: 14px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.operation {
	width: 95px;
	height: 23px;
	margin: 0 auto;
	display: none;
}

.operation ul li {
	float: left;
	height: 17px;
}

.teaching_dl:hover {
	-moz-box-shadow: 0px 3px 11px #a9a9a9; /* for firefox */
	-webkit-box-shadow: 0px 3px 11px #a9a9a9; /* for safari or chrome */
	box-shadow: 0px 3px 11px #a9a9a9; /* for opera or ie9 */
}

.teaching_dl:hover .operation {
	display: block;
}

.download {
	display: block;
	width: 16px;
	height: 14px;
	background: url(../../../common/images/common_bg.png);
	background-position: -158px 0;
	cursor: pointer;
	margin-right: 10px;
}

.see {
	display: block;
	width: 17px;
	height: 11px;
	margin-top: 3px;
	background: url(../../../common/images/common_bg.png);
	background-position: -209px 0;
	cursor: pointer;
	margin-right: 8px;
}

.view_class_video {
	width: 1100px;
	height: auto;
	padding-bottom: 10px;
	margin: 0 auto;
	position: relative;
	border-left: 2px #c7c7c7 solid;
}

.view_class_video_icon {
	background: url(../../../common/images/common_bg.png);
	background-position: -164px -123px;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
}

.view_class_video_right {
	width: 1060px;
	margin-left: 35px;
}

.view_class_video_title {
	width: 100%;
	height: 45px;
	border-bottom: 1px #b2b2b2 solid;
}

.view_class_video_right_h3 {
	float: left;
	width: 275px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: #333;
}

.view_class_video_right_h3 span {
	color: #8f8f8f;
	font-size: 14px;
}

.view_class_video_video {
	width: 1050px;
	height: 600px;
	background: #ddd;
	margin: 2px auto 10px auto;
}

.view_class_video_wrap {
	width: 1060px;
	height: auto;
	clear: both;
	padding-bottom: 10px;
	border: 1px #d5d5d5 solid;
}

.video_partake_discuss_title {
	width: 1030px;
	margin: 0 auto;
	height: 45px;
	line-height: 33px;
	border-bottom: 1px #dbdbdb solid;
}

.video_comment_list_title_h5 {
	float: left;
	width: 105px;
	font-size: 16px;
	color: #4a4a4a;
	height: 40px;
	line-height: 42px;
}

.video_comment_list_title_h5 span {
	float: left;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -191px 0;
	width: 16px;
	margin: 12px 5px 0 0;
	height: 16px;
}

.video_partake_discuss_cont {
	width: 830px;
	height: auto;
	clear: both;
	margin: 0 auto;
	overflow: auto;
	max-height: 300px;
}

.video_comment {
	width: 810px;
	height: auto;
	clear: both;
	margin: 20px auto 0 auto;
}

.video_comment_l {
	width: 25px;
	float: left;
	height: 40px;
	font-size: 38px;
	text-align: center;
	line-height: 15px;
	color: #ffb86d;
}

.video_comment_r {
	width: 785px;
	float: left;
	height: auto;
	border-bottom: 1px #dbdbdb dashed;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.video_comment_r_t {
	font-size: 16px;
	color: #767676;
	line-height: 20px;
	height: 30px;
}

.video_comment_r_t span {
	float: left;
}

.video_comment_r_t b {
	float: right;
}

.video_comment_r_b {
	clear: both;
	width: 785px;
	font-size: 14px;
	color: #666666;
	line-height: 21px;
}

.video_relevant1_discuss_title {
	width: 830px;
	margin: 0 auto;
	height: 45px;
	line-height: 33px;
	border-bottom: 1px #dbdbdb solid;
}

.video_relevant1_list_title_h5 {
	float: left;
	width: 105px;
	font-size: 16px;
	color: #4a4a4a;
	height: 40px;
	line-height: 42px;
}

.video_relevant1_list_title_h5 span {
	float: left;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -231px -17px;
	width: 16px;
	margin: 12px 5px 0 0;
	height: 16px;
}

.video_relevant1_discuss_cont {
	width: 830px;
	height: auto;
	clear: both;
	margin: 0 auto;
	max-height: 130px;
	overflow: auto;
}

.video_relevant1_discuss_cont ol {
	margin-top: 10px;
}

.video_relevant1_discuss_cont ol li {
	float: left;
	margin-right: 55px;
}

.video_relevant1_discuss_cont ol li span {
	width: 25px;
	float: left;
	height: 30px;
	font-size: 38px;
	text-align: center;
	line-height: 22px;
	color: #ffb86d;
}

.video_relevant1_discuss_cont ol li strong {
	width: 190px;
	float: left;
	height: 30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #3976f3;
	overflow: hidden;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.teaching_circle_table_c {
	width: 1120px;
	height: auto;
	margin: 0 auto;
	padding-top: 16px;
}

.teaching_circle_table_c h3 {
	width: 100%;
	height: 41px;
	border-bottom: 1px #c4c4c4 solid;
}

.teaching_circle_table_c h3 span {
	width: 18px;
	height: 19px;
	float: left;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -187px -51px;
	margin-top: 11px;
	margin-right: 9px;
}

.teaching_circle_table_c h3 strong {
	float: left;
	font-size: 16px;
	color: #4a4a4a;
	line-height: 41px;
}

.teaching_circle_dl {
	float: left;
	width: 130px;
	height: 172px;
	margin: 40px 42px 0 43px;
}

.teaching_circle_dl:hover {
	-moz-box-shadow: 0px 3px 11px #a9a9a9; /* for firefox */
	-webkit-box-shadow: 0px 3px 11px #a9a9a9; /* for safari or chrome */
	box-shadow: 0px 3px 11px #a9a9a9; /* for opera or ie9 */
}

.teaching_circle_dl dl {
	
}

.teaching_circle_dl dl dd {
	width: 98px;
	height: 98px;
	position: relative;
	cursor: pointer;
	margin: 10px auto;
	background: url(../../../common/images/common_bg.png);
	background-position: 0 -239px;
}

.teaching_circle_dl dl dt {
	width: 130px;
	height: 50px;
}

.teaching_circle_dl dl dt span {
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #4a4a4a;
	font-size: 14px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.teaching_circle_dl dl dt strong {
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: #898989;
	font-size: 14px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.teaching_circle_dl dl dd:hover .school {
	display: block;
}

.teaching_circle_dl dl dd .school {
	width: 140px;
	height: 150px;
	border: 1px #c1c1c1 solid;
	background: #fff;
	position: absolute;
	top: 64px;
	left: 40px;
	overflow: auto;
	z-index: 1000;
	display: none;
}

.school ol {
	
}

.school ol li {
	width: 136px;
	display: inline-block;
	height: 23px;
	line-height: 27px;
}

.school ol li a {
	float: left;
	width: 90px;
	padding-left: 5px;
	display: block;
}

.school ol li span {
	float: right;
}

#not_started_dialog {
	width: 630px;
	height: 416px;
	position: fixed;
	z-index: 102;
	top: 50%;
	left: 50%;
	margin-left: -325px;
	margin-top: -227.5px;
	background: url(../../../common/images/dlogbg.png) no-repeat;
	webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dialog_bg_head {
	width: 630px;
	height: 39px;
	position: relative;
}

.dialog_bg_close {
	width: 36px;
	height: 36px;
	display: block;
	background: url(../../../common/images/common_bg.png);
	background-position: -208px -86px;
	position: absolute;
	right: 0;
	top: -15px;
	cursor: pointer;
}

.not_started_info {
	width: 520px;
	height: 245px;
	margin: 0 auto;
	overflow: auto;
}

.prompt_info {
	width: 520px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	line-height: 50px;
	font-size: 26px;
	color: #dfb25d;
}

.prompt_info_btn {
	width: 520px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

.enter {
	width: 93px;
	height: 40px;
	background: url(../../../common/images/common_btn.png);
	background-position: 0 -194px;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.not_enter {
	width: 93px;
	height: 40px;
	background: url(../../../common/images/common_btn.png);
	background-position: -93px -194px;
	border: none;
	display: inline-block;
	margin-right: 10px;
}

.access_view {
	width: 93px;
	height: 40px;
	background: url(../../../common/images/common_btn.png);
	background-position: -186px -194px;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.access_class {
	width: 80px;
	height: 32px;
	background: url(../../../common/images/common_btn.png);
	background-position: 0 -235px;
	border: none;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.end_class {
	width: 80px;
	height: 32px;
	background: url(../../../common/images/common_btn.png);
	background-position: -84px -235px;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.not_started_info h3 {
	width: 520px;
	height: 53px;
	line-height: 53px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.not_started_info p {
	width: 390px;
	height: 27px;
	margin: 0 auto;
	line-height: 25px;
	font-size: 16px;
	color: #fff;
}

.table_cont {
	width: 558px;
	height: 390px;
	margin: 0px 1px 10px 2px;
	overflow: auto;
	background: white;
}

.continue_edit_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -120px -169px;
	width: 18px;
	height: 17px;
	display: block;
	float: left;
	cursor: pointer;
	margin-left: 38px;
	margin-right: 15px;
}

.delete_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -245px -52px;
	width: 15px;
	height: 18px;
	display: block;
	float: left;
	cursor: pointer;
	margin-left: 47px;
	margin-right: 15px;
}

.table_cont table {
	border: 1px #d3d3d3 solid;
}

.table_cont table tr {
	
}

.table_cont table tr th {
	height: 29px;
	line-height: 29px;
	background: #f9f9f9;
	font-size: 14px;
}

.table_cont table tr td {
	border-bottom: 1px #d3d3d3 dashed;
	height: 29px;
	font-size: 14px;
	line-height: 29px;
}

.table_cont table tr td .red_head {
	margin-top: 8px;
}

.schedule_table_btn {
	width: 115px;
	height: 30px;
	line-height: 30px;
	background: #27bb8b;
	border: none;
	font-size: 14px;
	color: #fff;
	float: right;
	margin: 0 10px;
	cursor: pointer;
	text-align: center;
}

.circle_btn {
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: #27bb8b;
	border: none;
	float: left;
	cursor: pointer;
	text-align: center;
	color: #fff;
}

.jz_edit_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -289px -1px;
	width: 16px;
	height: 16px;
	display: block;
	margin: 0 auto;
}

.jz_del_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -289px -22px;
	width: 15px;
	height: 15px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.qx_share_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -323px -2px;
	width: 15px;
	height: 15px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.jz_share_btn {
	background: url(../../../common/images/common_bg.png);
	background-position: -307px -1px;
	width: 15px;
	height: 16px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.hover_td {
	position: relative;
}

.hover_td .school1 {
	width: 270px;
	height: 150px;
	border: 1px #c1c1c1 solid;
	background: #fff;
	position: absolute;
	top: 18px;
	left: 30px;
	overflow: auto;
	z-index: 1000;
	display: none;
}

.school1 h5 {
	text-align: left;
	padding-left: 5px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px #c1c1c1 solid;
}

.school1 ol li {
	width: 253px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

.school1 ol li a {
	float: left;
	padding-left: 5px;
	display: block;
}

.school1 ol li label {
	float: right;
	width: 55px;
}

.school1 ol li strong {
	float: right;
	color: #014efd;
}

/* 新增样式 */
.partake_discuss_l {
	float: left;
	width: 450px;
	height: 250px;
}

.partake_discuss_l textarea {
	width: 450px;
	height: 150px;
}

.partake_discuss_r {
	float: right;
	width: 450px;
	height: 250px;
}

.partake_discuss_r_b {
	width: 450px;
	height: 154px;
	border: 1px #a9a9a9 solid;
	overflow: auto;
}

.partake_wrap:hover {
	border: 1px #27bb8b solid;
}

.partake_wrap {
	width: 80px;
	height: 80px;
	margin-top: 5px;
	float: left;
	margin-left: 10px;
	cursor: pointer;
	border: 1px #fff solid;
}

.partake_wrap1 {
	border: 1px #27bb8b solid;
}

.partake_name {
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	width: 80px;
	text-align: center;
}

.partake_head {
	width: 80px;
	height: 51px;
	position: relative;
	float: left;
}

.partake_head_bg {
	width: 54px;
	height: 51px;
	background: url(../../../common/images/common_bg.png);
	background-position: 0 -166px;
	z-index: 2;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	top: 0;
}

.partake_head_img {
	position: absolute;
	top: 8px;
	left: 50%;
	margin-left: -21px;
	z-index: 1;
}

/* 2016-11-1 */
.partake_Standby_info {
	width: 150px;
	height: auto;
	min-height: 50px;
	border: 1px #c7c7c7 solid;
	background: #fff;
	position: absolute;
	left: 90px;
	z-index: 1;
	top: 28px;
	display: none;
}

.partake_Standby_info ul {
	
}

.partake_Standby_info ul li {
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #7d7979;
	white-space: nowrap;
	text-align: left;
	width: 100%;
	overflow: hidden;
	padding-left: 10px;
	text-overflow: ellipsis;
}

.partake_info_Standby:hover .partake_Standby_info {
	display: block;
}

.partake_info_Standby {
	position: relative;
}

.partake_info_author:hover .partake_Standby_info {
	display: block;
}

.partake_info_author {
	position: relative;
}

.z_ty {
	font-weight: 200;
	color: green;
	float: right;
}

.z_jj {
	font-weight: 200;
	color: red;
	float: right;
}

.z_tc {
	font-weight: 200;
	color: #bbb;
	float: right;
}

.z_zc {
	font-weight: 200;
	color: #474747;
	float: right;
}

.w180 {
	display: block;
	width: 210px;
	padding: 0px 2px;
	overflow: hidden;
	line-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}

.edit_zb_lessonplan_right_h51 {
	float: right;
	width: 85px;
	font-size: 14px;
	color: #fe7e37;
	text-align: center;
	height: 40px;
	line-height: 42px;
	color: #999;
}
.edit_zb_lessonplan_right_h53 {
	float: right;
	width: 110px;
	font-size: 14px;
	color: #fff;
	background: #fe7e37;
	text-align: center;
	height: 30px;
	margin-left:5px;
	cursor:pointer;
	margin-top:6px;
	line-height: 30px; 
}
.out_reconsideration_see_title_box { 
	width: 844px;
    overflow: hidden; 
    height: 48px;
    position: relative;
    margin:0 auto;
}
.in_reconsideration_see_title_box {
    width: 795px;
    height: 48px;
    float: left;
    margin-left: 6px;
    overflow: hidden;
    position: relative;
}
.reconsideration_see_title {
    position: absolute;
    top: 0;
    left: 0;
}
.scroll_leftBtn {
	display: inline-block;
	width: 10px;
	height: 15px;
	background:url(../../check/images/scroll_leftBtn.png) no-repeat;
	cursor: pointer;
	float: left;
	margin-right:4px;
	margin-top: 23px;
}

.scroll_rightBtn {
	display: inline-block;
	width: 10px;
	height: 15px;
	background: url(../../check/images/scroll_rightBtn.png) no-repeat;
	cursor: pointer;
	float: right;
	margin-top: 23px;
	margin-right:8px;
}
.notes{
	width:459px;
	float:right;
	line-height:30px;
	font-size:14px;
}
.write_instructions{
	width:870px;
	height:397px;
	margin-top:16px;
	margin-left:30px;
}
.write_instructions h5{
	font-size:14px;
	color:#ff971d;
	line-height:28px;
}
.write_instructions h4{
	font-size:14px;
	color:#505050;
	line-height:26px;
}
.write_instructions h3{
	font-size:14px;
	color:#505050;
	line-height:25px;
	font-weight:bold;
}
.write_instructions p{
	font-size:14px;
	text-indent: 24px;
	color:#505050;
	line-height:25px;
}
.title_span{
	position: absolute;
    width: 50px;
    height: 50px; 
    display: block;
    top: 0;
    left: 33px;
}