html,body{
	font-family: "Microsoft Yahei";
	color: #474747;
}
#teach_circle{
	margin-left:10px;
}
.collective_cont{
	width: 930px;
	margin: 10px auto;
	height: 510px;
}
.collective_cont_c h3{
	height: 34px;
	width: 965px;
	border-bottom: 1px #595959 dashed;
	padding-left: 20px;
}
.collective_cont_c h3 ul li .zx{
	width: 160px;
	height: 30px;
	border:none;
	float: left; 
	background: url(../../../common/images/common_btn.png);
	background-position: 0 -268px;
}
.collective_cont_c h3 ul li .submit-sj{
	width: 124px;
	height: 30px;
	border:none;
	float: left;
	background: url(../../../common/images/common_btn.png);
	background-position: -165px -268px;
	margin-left:815px;
}
.collective_cont_c h3 ul{
	width: 300px;
	height: 28px;
	float: left;
	position: relative;
}
.collective_cont_c h3 ul .school{
	position: absolute;
	width: 130px;
	height: 30px;
	top: 30px;
	z-index: 1001;
	padding-top: 3px;
	display: none;
	padding-left: 6px;
}
.collective_cont_c h3 ul .school .in_school{
	width:50px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 5px;
	border:1px #8f8f8f solid;
	background: #fff;
	font-size: 14px;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}
.collective_cont_c h3 ul .school .in_school:hover{
	color: #fff;
	background: #51c7f8;
}
.collective_cont_c h3 ul .school .outside_school:hover{
	color: #fff;
	background: #51c7f8;
}
.collective_cont_c h3 ul .school .outside_school{
	width: 50px;
	cursor: pointer;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 5px;
	border:1px #8f8f8f solid;
	background: #fff;
	font-size: 14px;
	display: inline-block;
}
.collective_cont_c h3 p{
	width: 56px;
	float: left;
	height: 28px;
	line-height: 32px;
	margin-left: 442px;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.collective_cont_c h3 ul li{
	float: left;
	height: 28px;
	margin-right: 10px;
	cursor: pointer;
}
.collective_cont_big{
	background:#fff;
	height:517px;
	border:1px #ddd solid;
}
.collective_cont_tab{
	width: 930px;
	margin:0 auto;
	height:477px;
}
.collective_cont_tab table{
	width: 930px;
	border:1px #ddd solid;
}
.collective_cont_tab table tr{
	height:27px;
	line-height: 27px;
}
.collective_cont_tab table tr th{
	background: #51c7f8;
	color:#fff;
	text-align: center;
	border: none;
}
.collective_cont_tab table tr td{
	text-align: center;
	height:27px;
	line-height: 27px;
	vertical-align: center;
	position: relative;
	border:1px #ddd solid;
}
.a1{ 
	width: 20px;
	height: 17px;
	display: inline-block;
	position: relative;
}
.a1 b{
	position: absolute;
	right:0;
	top:0;
	width: 5px;
	height: 5px;
	background: red;
	border:1px #fff solid;
	border-radius: 10px;
}
.a2{ 
	width: 20px;
	height: 17px;
	display: inline-block;
}
.a3{ 
	width: 20px;
	height: 17px;
	display: inline-block;
}
.collective_cont_tab table tr td strong{
	width:73px;
	display: inline-block;
}
.collective_cont_tab table tr td span{
	color:#014efd;
	width:180px;
	display: inline-block;
}
.collective_cont_tab table tr td img{
	display: inline-block;
	width: 16px;
	height: 20px;
	margin-right: 10px;
	margin-top: 4px;
}
.collective_cont_c{
	margin-top:10px;
}
.collective_cont_c h3 p strong{
	position: absolute;
	right:4px;
	top:7px;
	width: 5px;
	height: 5px;
	background: red;
	border:1px #fff solid;
	border-radius: 10px;
}
.sel{
	width: 120px;
	height: 25px;
	border-radius: 5px;
	margin-left: 5px;
	margin-top:5px;
}
.see{ 
	background: url(../../../common/images/common_btn.png);
	background-position: -132px -19px;
	width:21px;
	height:12px;
	margin-left:-16px;
	display:inline-block;
	cursor:pointer;
	margin:0 auto;
}
.cy{
	background: url(../../../common/images/common_btn.png);
	background-position: -236px -527px;
	width:14px;
	height:15px;
	margin-left:-16px;
	cursor:pointer;
	display:inline-block;
	margin:-3px auto;
} 


.research_circle{
	height: 643px;
	width: 1000px;
	margin:10px auto;
}
.research_circle_l{
	width:476px;
	height: 643px;  
	float: left;
	background: #fff;
}
.research_circle_l h3{
	height: 40px;
	width: 456px;
	margin:0 auto;
	border-bottom: 1px #27bb8b dashed;  
}
.research_circle_l h3 span{
	font-size: 16px;  
	line-height:40px;
} 
.research_circle_lform{
	position: relative;
}
.research_circle_l form p{
	height: 25px;
	line-height: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.research_circle_p_span{
	color: red;
    float: left;
    line-height: 25px;
    font-size: 14px;
    width: 7px;
    display: inline-block;
    height: 30px;
}
.research_circle_l form p span.area{
	display: inline-block;
    width: 29px;
    height: 30px; 
    text-align: center;
    font-size: 14px;
}
.research_circle_l form p .txt{
	width: 330px;
	height: 26px;
	line-height: 26px;
	border:1px #cbcbcb solid;
	padding-left: 5px;
}
.centent1{
	position: relative;
	width: 470px;
	height: 350px;
}
.centent1 .placeholder_search{
	position: relative;
	top: -26px;
	color: #999;
	display: block;
	width: 186px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #c1c1c1; 
}
.centent1 #searchContent{
	width:165px;
	height: 27px;
	line-height: 27px;
	border:0px #c1c1c1 solid;
	padding-left:5px;
	margin-top:0;
	float:left;
}
.centent1_lable{
	border: 1px solid #c1c1c1;
	height: 27px; 
	width: 190px; 
	display: block; 
	float: left;
	position: relative;
}
.centent1_span{
	display: block; 
	margin-left: 80px; 
	height:28px;
	line-height:28px; 
	width: 100px; 
	font-size:14px;
	float: left;
}
.centent1 .btn{
	width: 16px;
    height: 16px;
    background: url(../../../common/images/common_bg.png);
    background-position: -166px -56px;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
    float: right;
}
.centent_l{
	width: 190px;
	height: 330px;
	border:1px #c1c1c1 solid;
	background: #fff;
	margin:10px 10px 0 0;
	overflow: auto;
	float: left;
}
.centent_l ul li a{
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
	padding-right: 10px;
}
.centent_l ul li a:hover{
	color:#5096ff;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}
.centent_l_act{
	background: #27bb8b;
	height: 24px;
	line-height: 24px;
	color: #fff; 
	display: inline-block;
}
.centent_l_act a{
	color: #fff;
}
.centent_l ul li.centent_l_act a:hover{
	color: #fff;
	background: none;
} 
.check_lesson_c2{ 
	width:156px;
	height:180px;
	margin:0 auto;
	padding-top:70px;	
	padding-right:5px;
	word-wrap: break-word;
	line-height:24px;
}
.centent_c{
	width: 50px;
	height: 230px;
	padding-top:140px;
	float: left;
	margin-right: 10px;
	margin-left: 2px;
}
.add_1{
	background: #ff8400; 
	line-height: 28px;
	height: 28px;
	color:#fff;
	width: 50px;
	text-align: center;
	border:none;
	font-size: 14px; 
}
.centent_r{
	width: 190px;
	height: 330px;
	border:1px #c1c1c1 solid;
	background: #fff;
	margin:10px 10px 0 0;
	overflow: auto;
	float: left;
}
.centent_r ul{

}
.centent_r ul li a{
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 12px;
	padding-right: 10px;
	width: 160px;
	overflow: hidden;
	display: inline-block;
}
.centent_r ul li a:hover{
	color:#5096ff;
	padding-right: 10px;
	display: inline-block;
	padding-left: 10px;
	height: 24px;
	line-height: 24px;
	width: 160px;
	overflow: hidden;
}
.remove{
	background: url('../../../common/images/common_bg.png');
	background-position:-96px 0;
	width: 10px;
	height: 10px;
	display: inline-block;
	float: right;
	margin-top:7px;
}
.isok{
	background: url('../../../common/images/common_bg.png');
	background-position:-232px -37px;
	width: 12px;
	height: 10px;
	display: inline-block;
	float: right;
	margin-top:7px;
}
.centent_r_act{
	color:#51c7f8;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}
.button_wrap{
	width:100%;
	text-align:center;
	height:30px;
}
.btn_sub1{
	width: 80px;
	height: 30px;
	background: #ff9d34;
	border:none;
	display:inline-block;
	font-size:14px;
	color:#fff;
	cursor: pointer;
}
.btn_xg1{
	width: 85px;
	height: 30px;
	background: #ff9d34;
	border:none;
	font-size:14px;
	color:#fff;
	display:inline-block;
	margin-right:20px;
	cursor: pointer;
}
.btn_bgl1{
	width: 85px;
	height: 30px;
	background: #3ab4f0;
	border:none;
	display:inline-block;
	cursor: pointer;
	font-size:14px;
	color:#fff;
}
.research_circle_r{
	width:500px;
	height: 643px; 
	float: right;
	background: #fff;
	overflow: auto;
}
.research_circle_r h3{ 
	font-size: 16px;
	line-height: 40px;
	height: 40px; 
	width:480px;
	margin:0 auto;
	border-bottom:1px #e5e5e5 solid;
}

.Reflect_cont_right_1_dl{
	width: 128px;
	height: 155px;
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top:21px;
	margin-bottom: 40px;
}
.Reflect_cont_right_1_dl dl{
	width: 124px;
	height: 155px; 
}
.Reflect_cont_right_1_dl dl dd{
	width:70px;
	height:80px;
	margin:0 auto;
	position: relative;
}
.Reflect_cont_right_1_dl dl dd img{
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	cursor: pointer;
}
.Reflect_cont_right_1_dl dl dt{
	width: 124px;
	height: 40px;
	text-align: center;
}
.Reflect_cont_right_1_dl dl dt span{
	display:inline-block;
	line-height: 20px;
}
.Reflect_cont_right_1_dl:hover dl{
	display: block;
	-moz-box-shadow: 0px 3px 11px #a9a9a9;/* for firefox */
	-webkit-box-shadow: 0px 3px 11px #a9a9a9;/* for safari or chrome */
	box-shadow:0px 3px 11px #a9a9a9;/* for opera or ie9 */
}
.Reflect_cont_right_1_dl .show_p{
	width: 126px;
	height: 32px; 
	display: none;
	position: absolute;
    bottom: 0;
}
.Reflect_cont_right_1_dl .show_p ol{
}
.Reflect_cont_right_1_dl .show_p ol li{
	float: left;
    margin-left: 7px;
    margin-top: 7px;
    cursor: pointer;
}
.Reflect_cont_right_1_dl:hover .show_p{ 
	display:block;
} 
.li_recovery{
	width: 16px;
    height: 16px;
    background: url(../../../common/images/common_bg.png);
    background-position: -317px -175px;
}
.li_quit{
	width: 16px;
    height: 16px;
    background: url(../../../common/images/common_bg.png);
    background-position: -319px -378px;
}
.li_edit{
	width: 16px;
	height: 16px;
	background: url('../../courseware/images/bg.png');
	background-position: -1px -16px; 
}
.li_del{
	width: 13px;
	height: 16px;
	background: url('../../courseware/images/bg.png');
	background-position: -22px -16px; 
}
.li_down{
	width: 16px;
	height: 14px;
	background: url('../../courseware/images/bg.png');
	background-position: -56px -17px; 
} 
.jz_li_edit{
	width: 16px;
	height: 16px;
	background: url('../../courseware/images/bg.png');
	background-position: -1px -36px; 
}
.jz_li_del{
	width: 13px;
	height: 16px;
	background: url('../../courseware/images/bg.png');
	background-position: -22px -36px; 
}
.jz_li_down{
	width: 16px;
	height: 14px;
	background: url('../../courseware/images/bg.png');
	background-position: -56px -37px; 
} 
.Teaching_schedule{
	width:930px;
	height: auto; 
	margin: 10px auto;
	background: #fff;
	min-height: 600px;
}
.Teaching_schedule h3{
	padding-left: 15px;
	font-size: 14px;
	line-height: 33px;
	height: 33px; 
	border-bottom: 1px #cfcfcf solid;
}
.Teaching_schedule h1{
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	line-height: 50px;
	height: 50px;
}
.Teaching_schedule h2{
	text-align: center;
	font-size: 12px;
	line-height: 23px;
	height: 23px;
	margin-left: 170px;
}
.Teaching_schedule h2 span{
	margin-left: 15px;
	margin-right: 15px;
}
.Teaching_schedule h2 b{
	color: #51c7f8;
}
.Teaching_schedule h2 u{
	text-decoration: none;
} 
.Teaching_schedule_cont{
	width: 700px;
	margin:10px auto;
	height: auto;
	font-size: 16px;
	line-height: 25px;
	min-height: 500px;
	font-weight: bold;
}
 .Reflect_cont_right_1_dl dl dd:hover .school{
	display:block;
} 

 .Reflect_cont_right_1_dl dl dd .school{
	width:140px;
	height:150px;
	border:1px #c1c1c1 solid;
	background:#fff;
	position: absolute;
	top: 43px;
	left:35px;
	overflow:auto;
	z-index:1000;
	display:none;
	
}
.hover_td:hover .school1{
	display:block;
} 
.hover_td .school1{
	width:328px;
	height:150px;
	border:1px #c1c1c1 solid;
	background:#f7f7f7;
	position: absolute;
	top: 18px;
	left:30px;
	overflow:auto;
	z-index:1000;
	display:none;
	
}
.school1 h5{
	text-align:left;
	padding-left:5px;
	height:25px;
	line-height:25px;
	border-bottom:1px #c1c1c1 solid;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.school1 ol li{
	width:307px;
	display:inline-block;
	height:12px;
	line-height:12px;
}
.school1 ol li a{
	float:left;
	padding-left:5px;
	display:block;
}
.school1 ol li label{
	float:right;
	width:55px;
}
.school1 ol li strong{
	float:right;
	color:#51c7f8;
}
.school ol{}
.school ol li{
	width:136px;
	display:inline-block;
	height:23px;
	line-height:27px;
}
.school ol li a{
	float:left;
	width:90px;
	padding-left:5px;
	display:block;
}
.school ol li span{
	float:right;
}
.school ol li strong{
	float:right;
	color:#51c7f8;
}
.btn_t{
	width:200px;
	height:30px;
	margin:0 auto;
}
.btn_jieshou{
	width: 80px;
	height: 30px; 
	background: url(../../../common/images/common_btn.png);
	background-position: -168px -235px;
	border:none; 
	cursor: pointer;
	float:left;
}
.btn_jujue{
	width: 80px;
	height: 30px; 
	background: url(../../../common/images/common_btn.png);
	background-position: -211px -163px;
	border:none;
	float:right;
	cursor: pointer;
}
.Teaching_schedule_cont iframe{
	background:none;
}
