html,body{
	font-family: "Microsoft Yahei";
	color: #474747;
}
.collective_cont{
	width: 1200px;
    background: #fff;
    min-height: 650px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.collective_cont h3{ 
	width: 1130px;
	border-bottom: 1px solid #d3d3d3;
	margin:0 auto;
	height: 33px; 
    padding-top: 27px;
}
.collective_cont h3 ul{
	height: 38px;
	margin-left:9px;
}
.collective_cont h3 ul li{
	
}
.collective_cont_act{
	width: 105px;
    height: 33px;
    font-size: 14px;
    color: #7b7b7b;
    text-align: center;
    line-height: 33px;
    float: left;
    cursor: pointer;
}
.collective_cont_act1{
	width: 105px;
    height: 33px;
    font-size: 14px;
    background-color: #fff;
    color: #ff971d;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    border: 1px #e0e2e7 solid;
    border-bottom: none;
}
.collective_cont h3 ul li span{
	color:red;
	font-weight: normal;
}
.collective_cont_big{
	width: 1100px;
	margin:10px auto 0 auto;
	height: 471px;
}
.collective_cont_tab{
	width: 1100px;
	height: 436px;
}
.collective_cont_tab table{
	width: 100%;
}
.collective_cont_tab table tr{ 
}
.collective_cont_tab table tr th{
	height: 30px;
    line-height: 30px;
    background-color: #e6f0f8;
    border-right: 1px #fff solid;
    font-size: 14px;
    font-weight: bold;
}
.dialog_dl1{
	width:70%;
	margin:50px auto;
	text-align:center;
	font-size:14px;
	
}
#delSelectMessage{
	width: 50px;
    height: 27px;
    line-height:25px;
    border: none;
    background: #ff9d34;
    font-family: "Microsoft Yahei";
    font-size:14px;
    color: #fff;
    margin-top:6px;
	cursor:pointer;
}
#readSelectMessage{
	width: 80px;
    height: 27px;
    line-height:25px;
    font-family: "Microsoft Yahei";
    font-size:14px;
    border: none;
    background: #ff9d34;
    color: #fff;
	cursor:pointer;
}
.collective_cont_tab table tr td{
	height: 40px;
    line-height: 40px;
    border-bottom: 1px #d3d3d3 dashed;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.collective_cont_tab table tr td strong{
	color: #51c7f8;
}
.collective_cont_tab table tr td img{
	display: inline-block;
	left:30px;
	top:5px;
	width: 16px;
	height: 20px;
	position: absolute;
}
.nofile{
	width: 224px;
	height: 265px;
	background: url('../images/Nofile1.png') no-repeat;
	margin:91px auto;
}
.nofile1{
	width:150px;
	height:180px;
	margin:0 auto;
	padding-top:70px;	
	padding-right:10px;
	word-wrap: break-word;
	line-height:24px;
}
.deleteMessage{ 
	background: url(../../../common/images/common_bg.png);
    background-position: -68px -18px;
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
    text-aign:center;
}
.content1{
	width:1200px;
	margin:0 auto;
	background:#fff;
	margin:0 auto;
	padding-top:20px;
}
.messageTitle{
	width:1186px;
	height:50px; 
	line-height:50px;
	text-align:center;
	font-size: 18px;
	color:#4a4a4a;
}
.messagePrompt{
	height:40px; 
	line-height:40px;
	width:1186px;
	font-size: 14px;
	text-align:center;
}
.messagePrompt span{
	font-size: 12px;
}
.messageContent{
	width:986px;
	min-height:430px;
	text-indent:30px;
	line-height:2;
	font-size: 16px;
	margin:0 auto;
	padding:50px 100px;	
}