.content{
	border-top:0.083rem #fe7e37 solid;
	width:100%;
	background:#f7f8f9;
}
.content_top{
	width:80%;
	height:6.417rem;
	margin:0 auto;
	border-bottom:0.083rem #fe7e37 solid;
}
.content_top_left{
	width:20.333rem;
	height:6.417rem;
	float: left;
}
.content_top_right{
	width:24.5rem;
	height:6.417rem;
	float:right;
	padding-top: 2.833rem; 
}
.content_top_right .btn_search{
	color:#999;
	width:20rem;
	height:2.667rem;
	line-height:2.667rem;
	border:0.083rem #ccc solid;
	font-size:1.167rem;
	background:#fff url(../images/search.png) no-repeat 0.6rem center;
	padding-left:2.8rem;
	float:left;
}
.content_top_right .search{
	width:4rem;
	height:2.667rem;
	line-height:2.667rem;
	border:none;
	background:none;
	font-size:1.333rem;
	cursor:pointer;
	color:#666;
}
.content_bottom{
	width: 100%;
	position: absolute;
	top: 11.6rem;
	bottom: 0;
	background:#f7f8f9;
	overflow:hidden;
}
.content_bottom_width{
	width:80%;
	margin:0 auto;
}

.add_cour_div{
	width:9.833rem;
	height:15rem;
	margin-left:auto;
	margin-right:auto;
	margin-top:2.167rem;
}
.add_cour_div_top{
	width:9.833rem;
	height:11.5rem;
	border:0.083rem #e0e0e0 dashed;
	border-radius:0.333rem;
	cursor: pointer;
}
.add_cour_div_top_img{
	width:6.333rem;
	height:6.333rem;
	background:url(../images/thesis.png) no-repeat -29px -73px;
	margin: 2.5rem auto;
}
.thesis_img_1{
	width:6.6rem;
	height:2rem;
	background:url(../images/thesis.png) no-repeat -114px -95px;
	margin-top:-0.5rem;
	margin-left:0.917rem;
	text-align:center;
	line-height:2rem;
	color:#fff;
	font-size:1.167rem;
}
.thesis_img_3{
	width:2.25rem;
	height:2.25rem;
	background:#000;
	background:url(../images/thesis.png) no-repeat -95px -36px;
	margin-top:0.75rem;
	margin-right:0.5rem;
	float:right;
	cursor: pointer;
}
.thesis_img_4{
	width:2.25rem;
	height:2.25rem;
	background:#000;
	background:url(../../courseware/images/ping.png) no-repeat;
	margin-top:0.75rem;
	margin-right:0.5rem;
	float:right;
	cursor: pointer;
}
.thesis_img_2{
	width:2.25rem;
	height:2.25rem;
	background:#000;
	background:url(../images/thesis.png) no-repeat -57px -36px;
	margin-top:0.75rem;
	margin-left:0.5rem;
	float:left;
	cursor: pointer;
}
.add_cour_div_bottom{
	width:9.833rem;
	height:3.5rem;
	line-height:3.5rem;
	color:#979797;
	font-size:1.167rem;
	text-align:center;
}
.content_bottom_width>div{
	float:left;
	width:15rem;
	height:17rem; 
	border-radius:0.4rem;
	margin: 2.917rem 3rem 0 3rem;
	background:#fff;
	position: relative;
}

.content_bottom_width>div h3{
	clear:both;
	font-size:1.167rem;
	width:12.833rem;
	height:3.333rem;
	line-height:3.333rem;
	text-align:center;
	margin:0 auto;
	color:#707070;
}
.thesis_img p{
	width:12.417rem;
	height:8.5rem;
	background:url(../images/thesis.png) no-repeat -183px -277px;
	margin: 0 auto;
	cursor: pointer;
}
.thesis_ppt p{
	width:12.6rem;
	height:8.5rem;
	background:url(../images/thesis.png) no-repeat -28px -164px;
	margin: 0 auto;
	cursor: pointer;
	clear:both
}
.thesis_video p{
	width:12.417rem;
	height:8.5rem;
	background:url(../images/thesis.png) no-repeat -183px -164px;
	margin: 0 auto;
	cursor: pointer;
}
.thesis_word p{
	width:12.417rem;
	height:8.5rem;
	background:url(../images/thesis.png) no-repeat -28px -279px;
	margin: 0 auto;
	cursor: pointer;
}
.add_cour{
	border:0.083rem #e3e3e3 solid;
}
.thesis_ppt{
	border:0.083rem #e3e3e3 solid;
}
.cw_option{
	position: absolute;
	width:15rem;
	height:17rem;
	left:0;
	bottom:0; 
 	 z-index: 1;
}
.cw_option_mask{
	background:#000;
  	opacity:0.1;
  	position: absolute;
	width:15rem;
	left:0;
	bottom:0; 
	height:17rem;
}
.cw_option_mask_act1{
	width:4.167rem;
	height:4.167rem;
	background:url(../images/act1.png) no-repeat;
	position: absolute;
	left: 50%;
    margin-left: -2.084rem;
    top:40%;
}
.cw_option_mask_act2{
	width:4.167rem;
	height:4.167rem;
	background:url(../images/act2.png) no-repeat;
	position: absolute;
	left: 50%;
    margin-left: -2.084rem;
    top:40%;
}
.cw_option_mask_act{
	width:4.167rem;
	height:7.167rem;
	position: absolute;
	left: 50%;
    margin-left: -2.084rem;
    top:40%;
}
.cw_option_mask_act3{
	width:4.167rem;
	height:4.167rem;
	background:url(../images/act3.png) no-repeat;
}
.cw_option_mask_act span{
	font-size:1.5rem;
	height:3rem;
	line-height:3rem;
	color:#000;
	width:4.167rem;
	display:block;
	text-align:center;
}
.cw_option_edit{
	width:3em;
	height:3em;
	background:url(../images/thesis.png) no-repeat -127px -30px;
	position: absolute;
    bottom:0;
    left: 0;
    animation:edit .5s;
	-moz-animation:edit .5s; /* Firefox */
	-webkit-animation:edit .5s; /* Safari and Chrome */
	-o-animation:edit .5s; /* Opera */
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	cursor:pointer;
}
@keyframes edit
{
100% {left:0; bottom:10.5rem;}
}
.cw_option_del{
	width:3em;
	height:3em;
	background:url(../images/thesis.png) no-repeat -167px -30px;
	position: absolute;
    bottom:0;
    left:0;
    animation:del .5s;
	-moz-animation:del .5s; /* Firefox */
	-webkit-animation:del .5s; /* Safari and Chrome */
	-o-animation:del .5s; /* Opera */
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	cursor:pointer;
}
@keyframes del
{
100% {left:5rem; bottom:9rem;}
} 
.cw_option_share{
	width:3em;
	height:3em;
	background:url(../images/thesis.png) no-repeat -247px -30px;
	position: absolute;
    bottom: 0;
    left:0;
     animation:share .5s;
	-moz-animation:share .5s; /* Firefox */
	-webkit-animation:share .5s; /* Safari and Chrome */
	-o-animation:share .5s; /* Opera */
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	cursor:pointer;
}

@keyframes share
{
100% {left:9.5rem; bottom:5rem;}
} 
.cw_option_down{
	width:3em;
	height:3em;
	background:url(../images/thesis.png) no-repeat -286px -30px;
	position: absolute;
    bottom: 0;
    left:0;
     animation:down .5s;
	-moz-animation:down .5s; /* Firefox */
	-webkit-animation:down .5s; /* Safari and Chrome */
	-o-animation:down .5s; /* Opera */
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	cursor:pointer;
}
 @keyframes down
{
100% {left:11.6rem; bottom:0.2rem;}
}
.cw_option_close{
	width:2.5em;
	height:2.5em;
	background:url(../images/thesis.png) no-repeat -304px -88px;
	position: absolute;
    bottom: 0.417rem;
    left:0.333rem;
    cursor:pointer;
}
.thesis_img{
	border:0.083rem #e3e3e3 solid;
}
.thesis_vedio{
	border:0.083rem #e3e3e3 solid;
}
.thesis_word{
	border:0.083rem #e3e3e3 solid;
}
.border{
	border:0.083rem #5eb262 solid;
}

/* dlog  add */
.add_thesis_wrap{
	width:100%;
	height:100%;
	position: fixed;
    z-index: 102;
    display:none;
}
.add_thesis_wrap1{
	width:100%;
	height:100%;
	position: fixed;
    z-index: 103;
    display:none;
}
.add_thesis{
	width:45rem;
	height:34rem;
	position: absolute;
	left:50%;
	margin-left:-22.5rem;
	top:20%; 
	background:#fff;
	z-index:104;
}
.add_thesis_title{
	width:45rem;
	height:4.083rem; 
	background:#f4f4f4; 
	border-bottom:0.083rem #dbdbdb solid;
}
.add_thesis_title h3{
	width:42rem;
	height:4.083rem; 
	text-align:center;
	font-size:1.5rem;
	color:#666666;
	line-height:4.083rem;
	float:left;
}
.add_thesis_title span{
	width:1.583rem;
	float:right;
	height:1.667rem;
	display:block;
	margin-right:1.2rem;
	margin-top:1.3rem;
	background:url(../images/thesis.png) no-repeat -7px -37px;
	cursor:pointer;
}
.add_thesis_content{
	width:45rem;
	height:25.25rem;
}
.add_thesis_content form{
	padding-top:1.5rem;
}
.add_thesis_content form .form_input{
	clear:both;
	height:3.5rem;
	margin-bottom:1.5rem;
	margin-left: 5.7rem;
	position: relative;
}
.txt_title{
	border: 0.083rem #DBDBDB solid;
	width: 22rem;
	height: 3.5rem;
	padding-left: 1rem;
	border-radius: 0.5rem;
	font-size: 1.333rem;
}
.add_thesis_content form div .menu_list{
	left:11rem;
	top:4rem;
	position: absolute; 
	z-index:1;
	width:13.25rem;
	height:31rem; 
}
.add_thesis_content form div .menu_list .menu_list_top{
	width:2.333rem;
	height:1.25rem;
	display:block;
	margin:0 auto;
	background:url(../images/menu_top.png) no-repeat;
}
.add_thesis_content form div .menu_list1{
	left:11rem;
	top:4rem;
	position: absolute; 
	z-index:1;
	width:13.25rem;
	height:31rem; 
}
.add_thesis_content form div .menu_list1 .menu_list_top{
	width:2.333rem;
	height:1.25rem;
	display:block;
	margin:0 auto;
	background:url(../images/menu_top.png) no-repeat;
}
.add_thesis_content form div .menu_list_wrap1 p.act{
	background: url(../images/act.png) no-repeat 10.5rem 0.9rem;
	display: block;
	display: -webkit-box;
	background-size: 12% 50%;
}
.add_thesis_content form div .menu_list_wrap1{
	background:#f3f2f2;
	height:13rem; 
	list-style:none; 
	border-radius:0.5rem; 
	border:0.083rem #DBDBDB solid;
	position: relative;
	overflow:hidden;
}
.add_thesis_content form div .menu_list_wrap1 .menu_2{
	padding-left:20px;
}
.add_upload_content form div .menu_list_wrap1 .menu_3{
	padding-left:30px;
}
.add_thesis_content form div .menu_list_wrap1 p{
	height:3.167rem;
	line-height:3.167rem;
	font-size:1.167rem;
	color:#4f4f4f;
	padding-left:0.417rem;
	border-bottom:0.083rem #b7b7b7 dotted;
	cursor:pointer;
}
.add_thesis_content form div label{
	width:7rem;
	height:3.5rem;
	line-height:3.5rem;
	font-size:1.333rem;
	float:left;
	text-align:right;
	padding-right:1rem;
}
#fileToUpload_1{
	margin-left:-10.5rem;
	cursor:pointer;
}
.add_thesis_content form div strong q{
	width:2.5rem;
	height:3rem;
	display:block;
	top: 0.2rem;
    right: 1rem;
    position: absolute;
	background:url(../images/thesis.png) no-repeat -25px -28px; 
}
.add_thesis_content form div strong:active{ 
	background:#D1D0D0;
}
.add_thesis_content form div strong{
	width:23rem;
	height:3.5rem;
	background:#f1f1f1; 
	border:0.083rem #DBDBDB solid; 
	display:block;
	float:left;
	font-size:1.333rem;
	line-height:3.5rem;
	text-align:center;
	cursor:pointer;
	 font-weight: 500;
	border-radius:0.5rem;
	color:#474747;
	position: relative;
}
.btn_thesis{
	width: 13rem;
    height: 3.7rem;
    line-height: 3.7rem;
    color: #fff;
    text-align: center;
    font-size: 1.667rem;
    display: block;
    border-radius: 0.5rem;
    background: #fe7e37;
    margin-left: 8rem;
    float: left;
    cursor:pointer;
}
/* dlog  edit */
.edit_thesis_wrap{
	width:100%;
	height:100%;
	position: fixed;
    z-index: 102;
    display:none;
}
.edit_thesis{
	width:45rem;
	height:35rem;
	position: absolute;
	left:50%;
	margin-left:-22.5rem;
	top:20%; 
	background:#fff;
	z-index:101;
}
.edit_thesis_title{
	width:45rem;
	height:4.083rem; 
	background:#f4f4f4; 
	border-bottom:0.083rem #dbdbdb solid;
}
.edit_thesis_title h3{
	width:42rem;
	height:4.083rem; 
	text-align:center;
	font-size:1.667rem;
	color:#666666;
	line-height:4.083rem;
	float:left;
}
.edit_thesis_title span{
	width:1.583rem;
	float:right;
	height:1.667rem;
	display:block;
	margin-right:1.2rem;
	margin-top:1.3rem;
	background:url(../images/thesis.png) no-repeat -7px -37px;
}
.edit_thesis_content{
	width:45rem;
	height:26.25rem;
}
.edit_thesis_content form{
	padding-top:2.5rem;
}
.edit_thesis_content form .form_input{
	clear:both;
	height:3.5rem;
	margin-bottom:1.5rem;
	margin-left: 5.7rem;
	position: relative;
}
.edit_thesis_content form div label{
	width:6.333rem;
	height:3.5rem;
	line-height:3.5rem;
	font-size:1.5rem;
	float:left;
}
.edit_thesis_content form div strong{
	width:23rem;
	height:3.5rem;
	background:#f1f1f1; 
	border:0.083rem #DBDBDB solid; 
	display:block;
	float:left;
	font-size:1.5rem;
	line-height:3.5rem;
	text-align:center;
	/* color:#fff; */
	border-radius:0.5rem;
	color:#474747;
	position: relative;
}
.edit_thesis_content form div .menu_list{
	left:11rem;
	top:4rem;
	position: absolute; 
	z-index:1;
	width:13.25rem;
	height:31rem; 
}
.edit_thesis_content form div .menu_list .menu_list_top{
	width:2.333rem;
	height:1.25rem;
	display:block;
	margin:0 auto;
	background:url(../images/menu_top.png) no-repeat;
}
.edit_thesis_content form div .menu_list1{
	left:11rem;
	top:4rem;
	position: absolute; 
	z-index:1;
	width:13.25rem;
	height:31rem; 
}
.edit_thesis_content form div strong q{
	width:2.5rem;
	height:3rem;
	display:block;
	top: 0.2rem;
    right: 1rem;
    position: absolute;
	background:url(../images/thesis.png) no-repeat -25px -28px; 
}
.edit_thesis_content form div .menu_list1 .menu_list_top{
	width:2.333rem;
	height:1.25rem;
	display:block;
	margin:0 auto;
	background:url(../images/menu_top.png) no-repeat;
}
.edit_thesis_content form div .menu_list_wrap1 p.act{
	background: url(../images/act.png) no-repeat 10.5rem 0.9rem;
	display: block;
	display: -webkit-box;
	background-size: 12% 50%;
}
.edit_thesis_content form div .menu_list_wrap1{
	background:#f3f2f2;
	height:13rem; 
	list-style:none; 
	border-radius:0.5rem; 
	border:0.083rem #DBDBDB solid;
	position: relative;
}
.edit_thesis_content form div .menu_list_wrap1 p{
	height:3.167rem;
	line-height:3.167rem;
	font-size:1.333rem;
	color:#4f4f4f;
	padding-left:0.417rem;
	border-bottom:0.083rem #b7b7b7 dotted;
}
.enclosure_name{
	width:30rem;
	height:3.5rem;
	float:left;
}
.enclosure_name q{
	width:2.5rem;
	height:2.5rem;
	display:block;
	float:left;
	background:url(../images/thesis.png) no-repeat -204px -94px;
	margin-top:0.7rem;
	margin-left:8rem;
}
.enclosure_name span{
	float:left;
	display:block;
	height:3.5rem;
	line-height:3.5rem;
	color:#999;
	font-size:1.333rem;
	width: 17rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	padding-left:0.4rem;
}
.enclosure_name .enclosure_del{
	width:1.583rem;
	float:left;
	height:1.667rem;
	margin-top:0.8rem;
	display:block;
	margin-left:0.5rem;
	background:url(../images/thesis.png) no-repeat  -245px -94px;
	cursor:pointer;
}
.border_bottom{
	border-bottom:0.083rem #dbdbdb solid;
	height:0.083rem;
	width: 34rem;
  	margin: 2rem auto;
}
.btn_edit{
	width:13rem;
	height:3.7rem;
	line-height:3.7rem;
	color:#fff;
	text-align:center;
	font-size:1.5rem;
	display:block;
	border-radius:0.5rem;
	background:#fe7e37;
	margin-left:8rem;
	float:left;
	cursor:pointer;
}
.btn_cencel{
	width:13rem;
	height:3.7rem;
	line-height:3.7rem;
	color:#fff;
	text-align:center;
	font-size:1.5rem;
	display:block;
	border-radius:0.5rem;
	background:#999;
	float:left;
	margin-left:4rem;
	cursor:pointer;
}

/* dlog  del */
.del_thesis_wrap{
	width:100%;
	height:100%;
	position: fixed;
    z-index: 102;
    display:none;
}
.del_thesis{
	width:45rem;
	height:33rem;
	position: absolute;
	left:50%;
	margin-left:-22.5rem;
	top:20%; 
	background:#fff;
	z-index:101;
}
.del_thesis_title{
	width:45rem;
	height:4.083rem; 
	background:#f4f4f4; 
	border-bottom:0.083rem #dbdbdb solid;
}
.del_thesis_title h3{
	width:42rem;
	height:4.083rem; 
	text-align:center;
	font-size:1.667rem;
	color:#666666;
	line-height:4.083rem;
	float:left;
}
.del_thesis_title span{
	width:1.583rem;
	float:right;
	height:1.667rem;
	display:block;
	margin-right:1.2rem;
	margin-top:1.3rem;
	background:url(../images/thesis.png) no-repeat -7px -37px;
}
.del_thesis_content{
	width:45rem;
	height:24.25rem;
}
.del_width{
	width:25rem;
	height:3.5rem;
	line-height:3.5rem;
	margin:7rem auto;
}
.del_width q{
	width:3em;
	height:3em;
	background:url(../images/thesis.png) no-repeat -167px -30px;
	float:left;
	margin-top:0.2rem;
}
.del_width span{
	margin-left: 10px;
    margin-top: 8px;
	float:left;
	font-size:1.333rem;
	color:#666;
	padding-left:0.4rem;
}
.btn_confirm{
	width:13rem;
	height:3.7rem;
	line-height:3.7rem;
	color:#fff;
	text-align:center;
	font-size:1.5rem;
	display:block;
	border-radius:0.5rem;
	background:#fe7e37;
	margin-left:8rem;
	float:left;
}
/* dlog  share */
.share_thesis_wrap{
	width:100%;
	height:100%;
	position: fixed;
    z-index: 102;
    display:none;
}
.share_thesis{
	width:45rem;
	height:33rem;
	position: absolute;
	left:50%;
	margin-left:-22.5rem;
	top:20%; 
	background:#fff;
	z-index:101;
}
.share_thesis_title{
	width:45rem;
	height:4.083rem; 
	background:#f4f4f4; 
	border-bottom:0.083rem #dbdbdb solid;
}
.share_thesis_title h3{
	width:42rem;
	height:4.083rem; 
	text-align:center;
	font-size:1.5rem;
	color:#666666;
	line-height:4.083rem;
	float:left;
}
.share_thesis_title span{
	width:1.583rem;
	float:right;
	height:1.667rem;
	display:block;
	margin-right:1.2rem;
	margin-top:1.3rem;
	background:url(../images/thesis.png) no-repeat -7px -37px;
}
.share_thesis_content{
	width:45rem;
	height:24.25rem;
}
.share_width{
	width:28rem;
	height:3.5rem;
	margin:7rem auto;
}
.share_width q{
	width:3em;
	height:3em;
	background:url(../images/thesis.png) no-repeat -247px -30px;
	float:left;
	margin-top:0.2rem;
}
#fileToUpload{
	margin-left: -11.3rem;
}
/* 查阅意见-dlog */
.opinions_comment_wrap{
	width:100%;
	height:100%;
	position: fixed;
    z-index: 102;
    display:none;
}
.opinions_comment{
	width:45rem;
	height:40rem;
	position: absolute;
	left:50%;
	margin-left:-22.5rem;
	top:15%; 
	background:#fff;
	z-index:101;
}
/* 查阅意见-dlog */
