html,body{
	font-family: "Microsoft YaHei";  
	color: #474747;
}
.upload-bottom{
	width: 800px;
	height: 583px;
	background: #fff;
}
.upload-bottom .upload-bottom_tab{
	height: 40px;
	border-bottom: 1px #e5e5e5 solid;
}
.upload-bottom .upload-bottom_tab ul{
	width: 240px;
	margin-left: 290px;
	padding-top: 7px;
}
.txt_txt{
	width: 173px;
	padding-left:5px;
    height: 25px;
    border: 1px solid #999;
}
.upload-bottom .upload-bottom_tab ul li{
	float: left;
	line-height: 33px;
	height: 33px; 
	width: 90px;
	text-align: center;
	margin-right: 10px; 
	font-size: 16px; 
	cursor: pointer;
	border-bottom:0;
}
.upload-bottom_tab_blue{
	color: #ff971d;
	border: 1px #e0e2e7 solid;
    border-bottom: none;
    background: #fff;
}
.upload-bottom .upload-bottom_submit_big{
	width: 1600px;
	float: left;
}
.upload-bottom_submit_big_tab{
	width: 800px;
	height: 558px;
	overflow: hidden;
	float: left;

}
.upload-bottom_submit_big_tab .upload-bottom_submit{
	height: 40px;
	padding-left: 20px;
}
.upload-bottom_submit_big_tab .upload-bottom_submit p{
	width: 80px;
	float: left;
	height: 40px;
	line-height: 40px;
}
.upload-bottom_submit_big_tab .upload-bottom_submit p input{
	float: left;
	margin-top: 14px;
}
 
.upload-bottom_submit_big_tab .upload-bottom_submit span{
	float: right;
	line-height: 40px;
	color:#8d8d8d;
	padding-right: 10px;
	font-weight: bold;
}

/**分享样式*/
.delete-bottom{
	width: 500px;
	height: 229px;
	background: #fff;
}
.delete-bottom .del_top{
	width: 50px;
	height: 55px;
	margin: 0 auto;
	background: url('../images/del.png') no-repeat center 5px;
}
.delete-bottom h4{
	width: 455px;
	margin:0 auto;
	font-size: 14px;
	line-height: 25px;
	margin-top: 5px;
	text-align: left;
}
.delete-bottom h4 a{
	color: #014efd;
}
.Btn_3{
	width: 97px;
	height: 30px;
	background: url('../images/fx.png') no-repeat;
	float: left;
	margin-left: 120px;
	margin-right: 60px;
	border: none;
	margin-top: 20px;
	cursor: pointer;
	
}
.Btn_4{
	width: 97px;
	height: 30px;
	margin-top: 20px;
	background: url('../images/zbfx.png') no-repeat;
	border: none;
	cursor: pointer;
	float: left;
}
.d-chenkbox{
	width:13px;
	height:13px;
	background:url('../images/d-chenkbox.png') no-repeat;
	position: absolute;
	left:4px;
	top:11px;
}















.home_cont{
	width:1200px;
	height:auto;
	margin:0 auto;
}
.home_cont_l{
	width: 294px;
	height:555px;
	float: left;
	background: #fff;
}
.home_cont_r{
	width: 885px;
	height:555px; 
	float: right;
	background: #fff;
}
.courseware_title{
	height:40px;
	width: 294px;
	border-bottom: 1px #d3d3d3 dashed;
}
.courseware_title span{
	width: 14px;
	height:16px;
	background: url('../images/bg.png');
	background-position: -23px 0;
	display: inline-block;
	float: left;
	margin:13px 10px;
}
.courseware_title strong{
	float: left;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
}
.courseware_title_p {  
    margin-left: 10px;
    margin-top: 20px;
    width:294px;
    height: 40px; 
}
#planType_2,#planType_3{
	margin-top:0;
}
.file{
	width:173px;
	height: 23px; 
}
.project_directory_sel textarea{
	width:180px;
	height: 140px;
}
.courseware_title_p_span{
	color: red;
	float: left;
	line-height: 25px;
	font-size: 14px;
	width: 7px;
	display: inline-block;
	height: 30px;
}
.courseware_title_p label{
	float: left;
	width: 75px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.project_directory_sel{
	float: left;
	height:29px;
	line-height:29px;
}
.uploadBtn{
	width: 80px;
	height: 28px;
	color: #fff;
	background: #ff9d34; 
	border:none;
	font-size: 14px;
	margin-right:10px;
	margin-top:30px;
	display: inline-block; 
}
.uploadBtn0{
	background: #3ab4f0; 
}
.btn_bottom{
	text-align:center;
}
.submit_up{
	width: 90px;
    height: 26px; 
    background: #ff9d34;
    border: none;
    color: #fff;
    float: right;
    margin-top: 6px;
    margin-right: 15px;
    font-size: 14px;
}
.selWrap{
	float: right;
}
.file_info{
	width: 235px; 
	height: 45px;
	padding:15px 15px 12px 15px;
	line-height: 22px;
	font-size: 14px;
	color: #525252;
}
.file_info span{
	margin-right: 13px;
}
.subBtn{
	width: 80px;
    height: 26px;
    margin-left: 13px;
    background:#ff9d34;
    border: none;
    color: #fff;
    font-size: 14px;
}
.Pre_cont_left_1{
	width:245px;
	height:120px;
	border-bottom: 1px #d1d1d1 dashed;
}
.Pre_cont_left_2 {
    height: 452px;
    overflow: auto;
    border-bottom: 1px #d1d1d1 dashed;
}
.home_cont_r1{
	width:870px;
	height:555px; 
	margin:0 auto;
}
.home_cont_r1_h3{
	height:39px;
	line-height: 39px;
	border-bottom: 1px #e5e5e5 solid;
}
.home_cont_r1_h3 span{
	font-size: 14px;
	color:#4a4a4a;
	float: left;
	margin-right:20px;
}
.home_cont_r1_h3 strong{
	font-size: 14px;
	color: #8a8a8a;
}
.home_cont_r1_bottom{
	width: 870px;
	height:615px; 
}
.Pre_cont_right_1{
	width:820px;
	height: 450px;  
	margin:0 auto; 
}
.Pre_cont_right_1_dl{
	width: 140px;
	height: 165px;
	position: relative;
	float: left;
	margin: 10px 20px 23px 4px;
}
.Pre_cont_right_1_dl dl{
	width: 140px;
	height: 145px;
	padding-top:20px;
	cursor: pointer; 
} 
.Pre_cont_right_1_dl:hover dl{ 
	display: block;
	-moz-box-shadow: 0px 3px 11px #a9a9a9;/* for firefox */
	-webkit-box-shadow: 0px 3px 11px #a9a9a9;/* for safari or chrome */
	box-shadow:0px 3px 11px #a9a9a9;/* for opera or ie9 */
} 
.Pre_cont_right_1_dl dl dd{
	width:140px;
	height:60px;
}
.Pre_cont_right_1_dl dl dd img{
	width:60px;
	height:60px;
	display:block;
	margin:0 auto;
}
.Pre_cont_right_1_dl dl dt{
	width: 140px;
	height:32px;
	line-height:16px;
	font-size:12px;
	text-align:center;
}
.Pre_cont_right_1_dl dl dt span{
	width: 140px;
	line-height:33px;
	display:inline-block;
	height:30px;
	word-wrap:break-word;
	overflow:hidden;
	font-size:14px;
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.Pre_cont_right_1_dl dl dt strong{
	width: 140px;
	line-height:15px;
	font-size:14px;
	display:inline-block;
	height:15px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.Pre_cont_right_1_dl:hover .show_p{
	display: block;
}
.Pre_cont_right_1_dl .show_p{
	width:140px;
	height: 32px; 
	display: none;
	position: absolute;
    bottom: 0;
}
.Pre_cont_right_1_dl .show_p ol{
}
.Pre_cont_right_1_dl .show_p ol li{
	float: left; 
	margin-left: 7px;
	margin-top: 7px;
	cursor: pointer;
}  
.li_edit{
	width: 16px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -1px -16px; 
}
.li_del{
	width: 13px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -22px -16px; 
}
.li_down{
	width: 16px;
	height: 14px;
	background: url('../images/bg.png');
	background-position: -56px -17px; 
}
.li_share{
	width: 12px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -39px -16px; 
}
.jz_li_edit{
	width: 16px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -1px -36px; 
}
.jz_li_del{
	width: 13px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -22px -36px; 
}
.jz_li_down{
	width: 16px;
	height: 14px;
	background: url('../images/bg.png');
	background-position: -56px -37px; 
}
.jz_li_share{
	width: 12px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -39px -36px; 
}
.qx_li_share{
	width: 12px;
	height: 16px;
	background: url('../images/bg.png');
	background-position: -39px -56px; 
}

.Pre_cont_right_2{
	width: 665px;
	height: 80px;
	margin-top: 18px; 
}
.Pre_cont_right_2_l{
	width: 332px;
	border-right:1px #dadada dashed;
	height: 80px;
	float: left;
}
.Pre_cont_right_2_r{
	width: 332px;
	float: right;
}
.Pre_cont_right_2_l dl dd{
	background: url('../images/bg.png');
	background-position: -1px -94px; 
	width: 38px;
	height: 38px;
	margin:0 auto;
}
.Pre_cont_right_2_l dl dt{  
	width: 130px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}
.Pre_cont_right_2_r dl dt{  
	width: 130px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}
.Pre_cont_right_2_l dl{
	width:130px;
	margin:0 auto;
	height: 80px;
}
.Pre_cont_right_2_r dl{
	width:130px;
	margin:0 auto;
	height: 80px;
}
.Pre_cont_right_2_r dl dd{
	background: url('../images/bg.png');
	background-position: -48px -94px; 
	width: 39px;
	height: 38px;
	margin:0 auto;
}
#UL{
	width:200px;
	height:40px;
	float:left;
}
#UL li{
	width:80px;
	float:left;
	height:30px;
	margin-top:9px;
	text-align:center;
	line-height:30px;
	margin-left:10px;
	font-size:14px;
	cursor:pointer;
	
}
.active_1{ 
	color:#ff971d;
	border:1px #e0e2e7 solid;
	border-bottom:none;
	background:#fff;
}
.li_yue{
	width: 17px;
	height: 17px;
	background: url('../images/bg.png');
	background-position: -77px -15px; 
}
.li_ping{
	width: 18px;
	height: 17px;
	background: url('../images/bg.png');
	background-position: -97px -15px; 
}
.spot{
	float: right;
    width: 8px;
    height: 8px;
    background: url(../images/bg.png);
    background-position: -40px -3px;
    position: relative;
    display: block;
    top: -3px;
    right: -3px;
} 
#sel_fs{
	width:175px;
	height:24px;
}